{%- comment -%}
------------------------------------------------------------------------------
	Section: Contact page template
------------------------------------------------------------------------------
{%- endcomment -%}

{{- "contact-new.build.css" | asset_url | stylesheet_tag -}}

{%- assign label = section.settings.label -%}
{%- assign info_heading = section.settings.info_heading -%}
{%- assign address_heading = section.settings.address_heading -%}
{%- assign address_text = section.settings.address_text -%}
{%- assign phone_heading = section.settings.phone_heading -%}
{%- assign phone_text = section.settings.phone_text -%}
{%- assign email_heading = section.settings.email_heading -%}
{%- assign email_text = section.settings.email_text -%}
{%- assign social_heading = section.settings.social_heading -%}
{%- assign show_social = section.settings.show_social -%}
{%- assign map_api_key = section.settings.map_api_key -%}
{%- assign map_query = section.settings.map_query -%}
{%- assign map_url = section.settings.map_url -%}
{%- assign image_desktop = section.settings.image_desktop -%}
{%- assign image_mobile = section.settings.image_mobile | default: image_desktop -%}
{%- assign form_heading = section.settings.form_heading -%}
{%- assign name_placeholder = section.settings.name_placeholder -%}
{%- assign email_placeholder = section.settings.email_placeholder -%}
{%- assign message_placeholder = section.settings.message_placeholder -%}
{%- assign submit_label = section.settings.submit_label -%}

{%- if image_desktop != blank -%}
	{%- assign section_has_images = true -%}
{%- else -%}
	{%- assign section_has_images = false -%}
{%- endif -%}

{%- capture content_info -%}
	<div class="contact__content-info">
		{%- if address_text != blank -%}
			{%- if address_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- address_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text rte-new">
				{{- address_text -}}
			</div>
		{%- endif -%}

		{%- if phone_text != blank -%}
			{%- if phone_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- phone_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text rte-new">
				{{- phone_text -}}
			</div>
		{%- endif -%}

		{%- if email_text != blank -%}
			{%- if email_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- email_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text rte-new">
				{{- email_text -}}
			</div>
		{%- endif -%}

		{%- if show_social == true -%}
			{%- if social_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- social_heading -}}
				</h3>
			{%- endif -%}

			{%- render "social-links" -%}
		{%- endif -%}
	</div>
{%- endcapture -%}

{%- capture content_form -%}
	{%- form "contact", class: "contact__form", id: "ContactForm" -%}
		{%- if form.posted_successfully? -%}
			<h4 class="contact__form-submitted-title success" tabindex="-1" autofocus>
				{{- "contact.form.success_heading" | t -}}
			</h4>
		{%- elsif form.errors -%}
			<h4
				class="contact__form-submitted-title error"
				autofocus
				tabindex="-1"
				role="alert"
			>
				{{- "contact.form.error_heading" | t -}}
			</h4>
		{%- endif -%}

		<div class="contact__form-fields">
			<div class="contact__form-fields-row">
				<div class="input-wrapper contact__field contact__fields-col">
					<input
						id="ContactForm-name--{{- section.id -}}"
						class="input contact__input"
						type="text"
						name="contact[name]"
						placeholder="{{- name_placeholder -}}"
						autocomplete="name"
						autocapitalize="off"
						{% if form.errors contains "name" %}
							aria-invalid="true"
							aria-describedby="ContactForm-name-error--{{- section.id -}}"
						{% endif %}
						{% if customer %}
							value="{{- customer.name -}}"
						{% endif %}
					/>

					{%- if form.errors contains "name" -%}
						<small class="contact__input-error error" id="ContactForm-name-error--{{- section.id -}}">
							<span class="visually-hidden">
								{{- "contact.form.error" | t -}}
							</span>

							<span class="contact__input-error-message">
								{{ form.errors.translated_fields['name'] | capitalize }} {{ form.errors.messages['name'] }}
							</span>
						</small>
					{%- endif -%}

					<label class="input-label" for="ContactForm-name--{{- section.id -}}">
						{{- name_placeholder -}}
					</label>
				</div>

				<div class="input-wrapper contact__field contact__fields-col">
					<input
						id="ContactForm-email--{{- section.id -}}"
						class="input contact__input"
						type="email"
						name="contact[email]"
						placeholder="{{- email_placeholder -}}"
						autocomplete="email"
						autocapitalize="off"
						{% if form.errors contains "email" %}
							aria-invalid="true"
							aria-describedby="ContactForm-email-error--{{- section.id -}}"
						{% endif %}
						{% if customer %}
							value="{{- customer.email -}}"
						{% endif %}
						aria-required="true"
						required
					/>

					{%- if form.errors contains "email" -%}
						<small class="contact__input-error error" id="ContactForm-email-error--{{- section.id -}}">
							<span class="visually-hidden">
								{{- "contact.form.error" | t -}}
							</span>

							<span class="contact__input-error-message">
								{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
							</span>
						</small>
					{%- endif -%}

					<label class="input-label" for="ContactForm-email--{{- section.id -}}">
						{{- email_placeholder -}}
					</label>
				</div>
			</div>

			<div class="input-wrapper contact__field">
				<textarea
					id="ContactForm-message--{{- section.id -}}"
					class="input contact__textarea"
					name="contact[body]"
					placeholder="{{- message_placeholder -}}"
					{% if form.errors contains "body" %}
						aria-invalid="true"
						aria-describedby="ContactForm-message-error--{{- section.id -}}"
					{% endif %}
					aria-required="true"
					required
				></textarea>

				{%- if form.errors contains "body" -%}
					<small class="contact__input-error error" id="ContactForm-message-error--{{- section.id -}}">
						<span class="visually-hidden">
							{{- "contact.form.error" | t -}}
						</span>

						<span class="contact__input-error-message">
							{{ form.errors.translated_fields['body'] | capitalize }} {{ form.errors.messages['body'] }}
						</span>
					</small>
				{%- endif -%}

				<label class="input-label" for="ContactForm-message--{{- section.id -}}">
					{{- message_placeholder -}}
				</label>
			</div>

			<button class="button-new button--secondary contact__button" type="submit">
				{{- submit_label -}}
			</button>
		</div>
	{%- endform -%}
{%- endcapture -%}

{%- capture map_image -%}
	{%- capture img_focal -%}
		--img-desktop-pos: {{ image_desktop.presentation.focal_point }}; --img-mob-pos: {{ image_mobile.presentation.focal_point }};
	{%- endcapture -%}

	<picture class="lazy">
		<source
			data-srcset="{{ image_mobile | img_url: '340x' }} 1x, {{ image_mobile | img_url: '680x' }} 2x"
			srcset="{{ image_mobile | img_url: '10x' }} 1x, {{ image_mobile | img_url: '10x' }} 2x"
			media="(max-width: 380px)"
			width="340"
			height="240"
		/>

		<source
			data-srcset="{{ image_mobile | img_url: '440x' }} 1x, {{ image_mobile | img_url: '880x' }} 2x"
			srcset="{{ image_mobile | img_url: '10x' }} 1x, {{ image_mobile | img_url: '10x' }} 2x"
			media="(max-width: 480px)"
			width="440"
			height="311"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '535x' }} 1x, {{ image_desktop | img_url: '1070x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 575px)"
			width="535"
			height="378"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '707x' }} 1x, {{ image_desktop | img_url: '1414x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 767px)"
			width="707"
			height="500"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '871x' }} 1x, {{ image_desktop | img_url: '1742x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 991px)"
			width="871"
			height="459"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1019x' }} 1x, {{ image_desktop | img_url: '2038x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1199px)"
			width="1019"
			height="537"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1460x' }} 1x, {{ image_desktop | img_url: '2920x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1500px)"
			width="1460"
			height="769"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1640x' }} 1x, {{ image_desktop | img_url: '3280x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1680px)"
			width="1640"
			height="864"
		/>

		<img
			class="contact__map-image"
			srcset="{{ image_desktop | img_url: "10x" }}"
			data-srcset="{{ image_desktop | img_url: "1710x" }} 1x, {{ image_desktop | img_url: "3420x" }} 2x"
			src="{{- image_desktop | img_url: "10x" -}}"
			data-src="{{- image_desktop | img_url: "1710x" -}}"
			alt="{{- image_desktop.alt -}}"
			width="1710"
			height="900"
			style="{{ img_focal }}"
		/>
	</picture>
{%- endcapture -%}

<section class="contact-new">
	<div class="contact__container">
		<div class="contact__content">
			<div class="contact__content-row">
				{%- if content_info != blank -%}
					<div class="contact__content-col contact__content-col--info">
						{% if label != blank %}
							<p class="contact__label subheading">
								{{- label -}}
							</p>
						{% endif %}

						<h1 class="h1 contact__title">
							{{- page.title -}}
						</h1>

						{%- if info_heading != blank -%}
							<h2 class="h2 contact__content-col-heading">
								{{- info_heading -}}
							</h2>
						{%- endif -%}

						{{- content_info -}}
					</div>
				{%- endif -%}

				<div class="contact__content-col contact__content-col--form">
					{%- if form_heading != blank -%}
						<h2 class="h2 contact__content-col-heading">
							{{- form_heading -}}
						</h2>
					{%- endif -%}

					{{- content_form -}}
				</div>
			</div>
		</div>

		{%- if map_api_key != blank and map_query != blank -%}
			<div class="contact__map-wrapper js-animate">
				<iframe
					class="contact__map"
					width="100%"
					height="100%"
					frameborder="0" style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key={{- map_api_key -}}&q={{- map_query -}}"
					allowfullscreen>
				</iframe>
			</div>
		{%- elsif map_url != blank and section_has_images == true -%}
			<a
				href="{{- map_url -}}"
				class="contact__map-link-image-wrapper contact__map-link-image-wrapper-hover js-animate"
				target="_blank"
				rel="nofollow"
				aria-label="{{- 'contact.form.map_link_aria_label' | t | escape -}}"
			>
				{{- map_image -}}
			</a>
		{% elsif section_has_images == true and map_url == nil %}
			<div class="contact__map-link-image-wrapper js-animate">
				{{- map_image -}}
			</div>
		{% endif %}
	</div>
</section>
