{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Country localization form
	Render country localization form
	- class: General class for selectors (required)
	- id_prefix: Add unuqie prefix to prevent duplicate id
	- form_id: Add unuqie form id to prevent duplicate id

	Usage:
	{%- render 'country-localization-form', class: class -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{{- 'localization-form.build.css' | asset_url | stylesheet_tag -}}

{% assign form_id = form_id | default: 'country_form' %}
{% assign form_id_noscript = form_id | append: 'NoScript' %}

<div class="{{- class -}}__country-selector">
	<noscript>
		{%-
			form 'localization',
			id: form_id_noscript
		-%}
			<div class="disclosure localization-form__select">
				<select
					class="localization-select"
					name="country_code"
				>
					{%- for country in localization.available_countries -%}
						<option
							class="localization-option"
							value="{{- country.iso_code -}}"
							{%- if country.iso_code == localization.country.iso_code %} selected{% endif %}
						>
							{{ country.currency.iso_code }} {{ country.currency.symbol }}
						</option>
					{%- endfor -%}
				</select>

				{%- render 'icons-small', icon: 'arrow-down' -%}
			</div>

			<button class="localization-button">
				{{- 'general.localization.update_country' | t -}}
			</button>
		{%- endform -%}
	</noscript>

	<localization-form>
		{%-
			form 'localization',
			id: form_id,
			class: "no-js-hidden js-localization-form"
		-%}
			<div class="disclosure">
				<button
					type="button"
					class="disclosure__button {{ class -}}__country-button js-disclosure__button"
					aria-expanded="false"
					aria-controls="CountryList-{{- id_prefix -}}"
				>
					{%- if id_prefix == "header-top" or id_prefix == "header" -%}
						{{- localization.country.currency.iso_code }}&nbsp;{{ localization.country.currency.symbol -}}
					{%- else -%}
						{{ localization.country.name }} ({{ localization.country.currency.iso_code }}&nbsp;{{ localization.country.currency.symbol }})
					{%- endif -%}

					{%- render 'icons-small', icon: 'arrow-down' -%}
				</button>

				<ul
					id="CountryList-{{- id_prefix -}}"
					role="list"
					class="disclosure__list {{ class -}}__country-list js-disclosure-list"
					hidden
				>
					{%- for country in localization.available_countries -%}
						<li class="disclosure__item {{ class -}}__country-item" tabindex="-1">
							<a
								class="disclosure__link js-disclosure__link"
								href="#"
								{% if country.iso_code == localization.country.iso_code %}
									aria-current="true"
								{% endif %}
								data-value="{{- country.iso_code -}}"
								aria-label="{{- language.iso_code -}}"
							>
								<span class="disclosure__item-text {{ class -}}__country-item-text {% if country.iso_code == localization.country.iso_code %}is-active{% endif %}">
									{{- country.name }} ({{ country.currency.iso_code }}&nbsp;{{ country.currency.symbol -}})

									<span class="disclosure__item-underline {{ class -}}__country-item-underline"></span>
								</span>
							</a>
						</li>
					{%- endfor -%}
				</ul>

				<input type="hidden" name="country_code" value="{{- localization.country.iso_code -}}">
			</div>
		{%- endform -%}
	</localization-form>
</div>
