{% comment %}
	------------------------------------------------------------------------------
	Snippet: Filter price
	- filter: filter object (required)

	Usage:

	{%- render 'filter-price', filter: filter -%}
	------------------------------------------------------------------------------
{% endcomment %}

{%- if settings.design == "alternate" -%}
	{{- 'filter-price-new.build.css' | asset_url | stylesheet_tag -}}
{%- else -%}
	{{- 'filter-price.build.css' | asset_url | stylesheet_tag -}}
{%- endif -%}

{%- assign filter_max = filter.range_max | divided_by: 100 -%}
{%- assign thumb_size = 18 -%}
{%- assign thumb_size_moz = 16 -%}

{%- if settings.design == "alternate" -%}
	{%- assign thumb_size = 15 -%}
{%- endif -%}

{%- capture filter_min_value -%}
	{%- if filter.min_value.value -%}
		value="{{ filter.min_value.value | divided_by: 100 }}"
	{%- else -%}
		value="0"
	{%- endif -%}
{%- endcapture -%}

{%- capture filter_max_value -%}
	{%- if filter.max_value.value -%}
		value="{{ filter.max_value.value | divided_by: 100 }}"
	{%- else -%}
		value="{{- filter_max -}}"
	{%- endif -%}
{%- endcapture -%}

{%- capture filter_price_styles -%}
	--thumb-size: {{- thumb_size -}}px;
	--thumb-size-moz: {{- thumb_size_moz -}}px;
{%- endcapture -%}

<div class="{% if settings.design == "alternate" %}filter-price-new{% else %}filter-price{% endif %} js-filter-price" style="{{ filter_price_styles | strip_newlines }}">
	<div class="filter-price__inputs">
		<div class="filter-price__input-wrapper">
			<label class="visually-hidden" for="FilterPriceInputMin--{{- section.id -}}">
				{{- 'general.filters.filter_price_from' | t -}}
			</label>

			<input
				id="FilterPriceInputMin--{{- section.id -}}"
				class="filter-price__input js-price-input js-price-input-min"
				type="number"
				name="{{- filter.min_value.param_name -}}"
				min="0"
				max="{{- filter_max -}}"
				placeholder="{{- 'general.filters.price_range_placeholder' | t -}}"
				data-type="min"
				{{ filter_min_value }}
			>

			<span class="filter-price__currency">
				{{- cart.currency.symbol -}}
			</span>
		</div>

		<div class="filter-price__separator"></div>

		<div class="filter-price__input-wrapper">
			<label class="visually-hidden" for="FilterPriceInputMax--{{- section.id -}}">
				{{- 'general.filters.filter_price_to' | t -}}
			</label>

			<input
				id="FilterPriceInputMax--{{- section.id -}}"
				class="filter-price__input js-price-input js-price-input-max"
				type="number"
				name="{{- filter.max_value.param_name -}}"
				min="0"
				max="{{- filter_max -}}"
				placeholder="{{- 'general.filters.price_range_placeholder' | t -}}"
				{{ filter_max_value }}
			>

			<span class="filter-price__currency">
				{{- cart.currency.symbol -}}
			</span>
		</div>
	</div>

	<div class="filter-price__range-slider">
		<div class="filter-price__range-inputs js-range-inputs" data-thumb-offset="{{- thumb_size | divided_by: 2 -}}">
			<input
				class="filter-price__range-input filter-price__range-input--min js-price-range js-price-range-min"
				type="range"
				min="0"
				data-type="min"
				max="{{- filter_max -}}"
				tabindex="-1"
				{{ filter_min_value }}
			>

			<input
				class="filter-price__range-input filter-price__range-input--max js-price-range js-price-range-max"
				type="range"
				min="0"
				max="{{- filter_max -}}"
				tabindex="-1"
				{{ filter_max_value }}
			>
		</div>
	</div>
</div>
