{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Header menu
	Render header menu
	- menu: Menu object (required)
	- menu_type_desktop: type of rendered menu, dropdown menu or mega menu
	- blocks: transfer block object for mega menu
	- enable_mega_menu_borders: option to show/hide borders in mega menu

	Usage:
	{%- render 'header-menu', menu: menu, menu_type_desktop: menu_type_desktop, blocks: blocks -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design = settings.design -%}

<nav class="{%- if design == 'alternate' -%}header-menu-new{%- else -%}header-menu{%- endif -%}" aria-label="{{- "layout.navigation.main_menu" | t | escape -}}">
	<ul class="header-menu__list header-menu__list--main">
		{%- for first_level_link in menu.links -%}
			{%- assign has_megamenu = false -%}
			{%- assign megamenu_object = "" -%}

			{%- for block in blocks -%}
				{%- assign menu_handle = block.settings.menu_handle | handle -%}

				{%- if first_level_link.handle == menu_handle -%}
					{%- assign has_megamenu = true -%}
					{%- assign megamenu_object = block -%}

					{%- break -%}
				{%- endif -%}
			{%- endfor -%}

			<li {% if has_megamenu == true or first_level_link.links != blank %}class="js-header-dropdown-menu-element"{% endif %}>
				{%- capture megamenu -%}
					{%- if megamenu_object.type == 'megamenu' and first_level_link.links != blank and has_megamenu == true -%}
						{%- render 'header-mega-menu', menu: first_level_link, megamenu_object: megamenu_object, enable_mega_menu_borders: enable_mega_menu_borders -%}
					{%- endif -%}

					{%- if megamenu_object.type == 'megamenu-images' and has_megamenu == true -%}
						{%- render 'header-mega-menu-images', menu: first_level_link, megamenu_object: megamenu_object, enable_mega_menu_borders: enable_mega_menu_borders -%}
					{%- endif -%}

					{%- if megamenu_object.type == 'megamenu-row-menus' and has_megamenu == true and first_level_link.links != blank-%}
						{%- render 'header-mega-menu-row-menus', menu: first_level_link, megamenu_object: megamenu_object, enable_mega_menu_borders: enable_mega_menu_borders -%}
					{%- endif -%}

					{%- if megamenu_object.type == 'megamenu-half-to-half' and has_megamenu == true -%}
						{%- if megamenu_object.settings.heading == blank and megamenu_object.settings.subheading == blank and megamenu_object.settings.short_text == blank and megamenu_object.settings.image == blank -%}
							{%- assign has_megamenu = false -%}
						{%- else -%}
							{%- render 'header-mega-menu-half-to-half', menu: first_level_link, megamenu_object: megamenu_object, enable_mega_menu_borders: enable_mega_menu_borders -%}
						{%- endif -%}
					{%- endif -%}
				{%- endcapture -%}

				{%- if megamenu != blank and menu_type_desktop == "megamenu" or menu_type_desktop == "both" -%}
					<a
						class="header-menu__item header-menu__item--main {%- if first_level_link.active %} header-menu__item--active{% endif %} no-js"
						href="{{- first_level_link.url -}}"
						{% if first_level_link.current %}
							aria-current="page"
						{% endif %}
					>
						<span class="header-menu__item-text">
							{{ first_level_link.title | escape }}
						</span>
					</a>

					{% if display_link_on_first_lvl and first_level_link.url != '#' %}
						<a
							href="{{- first_level_link.url -}}"
							class="header-menu__item header-menu__item--main {% if first_level_link.child_active %} header-menu__item--active{% endif %} js-header-mega-menu-toggler"
							data-desktop-toggle
							data-target="headerMegaMenu:{{- first_level_link.title | handleize -}}"
							aria-controls="headerMegaMenu:{{- first_level_link.title | handleize -}}"
							aria-expanded="false"
						>
							<span class="header-menu__item-text">
								{{ first_level_link.title | escape }}
							</span>

							<span class="header-menu__item-toggle-icon">
								{%- if design == 'alternate' -%}
									{%- render 'icons-new', icon: 'arrow-down' -%}
								{%- else -%}
									{%- render 'icons-small', icon: 'arrow-down' -%}
								{%- endif -%}
							</span>

							{% assign badge_text					= megamenu_object.settings.badge_text %}
							{% assign badge_text_color				= megamenu_object.settings.badge_text_color %}
							{% assign badge_background_color		= megamenu_object.settings.badge_background_color %}

							{%- if badge_text != blank -%}
								<span class="header-menu__item-badge" style="--header-background: {{ header_bg -}}; --badge-text-color: {{ badge_text_color }}; --badge-background-color: {{ badge_background_color }};">
									{{- badge_text | truncate: 8 -}}
								</span>
							{%- endif -%}
						</a>
					{% else %}
						<button
							class="header-menu__item header-menu__item--main {% if first_level_link.child_active %} header-menu__item--active{% endif %} js-header-mega-menu-toggler"
							type="button"
							data-desktop-toggle
							data-target="headerMegaMenu:{{- first_level_link.title | handleize -}}"
							aria-controls="headerMegaMenu:{{- first_level_link.title | handleize -}}"
							aria-expanded="false"
						>
							<span class="header-menu__item-text">
								{{ first_level_link.title | escape }}
							</span>

							<span class="header-menu__item-toggle-icon">
								{%- if design == 'alternate' -%}
									{%- render 'icons-new', icon: 'arrow-down' -%}
								{%- else -%}
									{%- render 'icons-small', icon: 'arrow-down' -%}
								{%- endif -%}
							</span>

							{% assign badge_text					= megamenu_object.settings.badge_text %}
							{% assign badge_text_color				= megamenu_object.settings.badge_text_color %}
							{% assign badge_background_color		= megamenu_object.settings.badge_background_color %}

							{%- if badge_text != blank -%}
								<span class="header-menu__item-badge" style="--header-background: {{ header_bg -}}; --badge-text-color: {{ badge_text_color }}; --badge-background-color: {{ badge_background_color }};">
									{{- badge_text | truncate: 8 -}}
								</span>
							{%- endif -%}
						</button>
					{% endif %}

					{{- megamenu -}}
				{%- elsif first_level_link.links != blank and menu_type_desktop == "dropdown" or menu_type_desktop == "both" -%}
					<a
						class="header-menu__item header-menu__item--main {%- if first_level_link.active %} header-menu__item--active{% endif %} no-js"
						href="{{- first_level_link.url -}}"
						{% if first_level_link.current %}
							aria-current="page"
						{% endif %}
					>
						<span class="header-menu__item-text">
							{{ first_level_link.title | escape }}
						</span>
					</a>

					{% if display_link_on_first_lvl and first_level_link.url != '#' %}
						<a
							href="{{- first_level_link.url -}}"
							class="header-menu__item header-menu__item--main {% if first_level_link.child_active %} header-menu__item--active{% endif %} js-header-dropdown-menu-toggler"
							data-desktop-toggle
							data-target="headerDesktopMenu:{{- first_level_link.title | handleize -}}"
							aria-controls="headerDesktopMenu:{{- first_level_link.title | handleize -}}"
							aria-expanded="false"
						>
							<span class="header-menu__item-text">
								{{ first_level_link.title | escape }}
							</span>

							<span class="header-menu__item-toggle-icon">
								{%- if design == 'alternate' -%}
									{%- render 'icons-new', icon: 'arrow-down' -%}
								{%- else -%}
									{%- render 'icons-small', icon: 'arrow-down' -%}
								{%- endif -%}
							</span>
						</a>
					{% else %}
						<button
							class="header-menu__item header-menu__item--main {% if first_level_link.child_active %} header-menu__item--active{% endif %} js-header-dropdown-menu-toggler"
							type="button"
							data-desktop-toggle
							data-target="headerDesktopMenu:{{- first_level_link.title | handleize -}}"
							aria-controls="headerDesktopMenu:{{- first_level_link.title | handleize -}}"
							aria-expanded="false"
						>
							<span class="header-menu__item-text">
								{{ first_level_link.title | escape }}
							</span>

							<span class="header-menu__item-toggle-icon">
								{%- if design == 'alternate' -%}
									{%- render 'icons-new', icon: 'arrow-down' -%}
								{%- else -%}
									{%- render 'icons-small', icon: 'arrow-down' -%}
								{%- endif -%}
							</span>
						</button>
					{% endif %}

					<ul
						id="headerDesktopMenu:{{- first_level_link.title | handleize -}}"
						class="header-menu__list header-menu__list--nested js-header-dropdown-menu {% if first_level_link.levels == 2 %}js-accordion-container{% endif %}"
					>
						{%- for second_level_link in first_level_link.links -%}
							<li class="accordion__item {% if second_level_link.links != blank %}js-accordion-item{%- endif -%}">
								{%- if second_level_link.links != blank -%}
									<button class="header-menu__item js-accordion-control{%- if second_level_link.child_active %} header-menu__item--active{%- endif -%}">
										{{- second_level_link.title | escape -}}

										<span class="header-menu__item-toggle-icon">
											{%- if design == 'alternate' -%}
												{%- render 'icons-new', icon: 'arrow-down' -%}
											{%- else -%}
												{%- render 'icons-small', icon: 'arrow-down' -%}
											{%- endif -%}
										</span>
									</button>

									<div class="accordion__content accordion__content--animate js-accordion-content">
										<ul class="header-menu__list header-menu__list--collapsible js-accordion-inner">
											{%- for third_level_link in second_level_link.links -%}
												<li>
													<a
														class="header-menu__item"
														href="{{- third_level_link.url -}}"
														{% if third_level_link.current %}
															aria-current="page"
														{% endif %}
													>
														{{- third_level_link.title -}}
													</a>
												</li>
											{%- endfor -%}
										</ul>
									</div>
								{%- else -%}
									<a
										class="header-menu__item"
										href="{{- second_level_link.url -}}"
										{% if second_level_link.current %}
											aria-current="page"
										{% endif %}
									>
										{{- second_level_link.title -}}
									</a>
								{%- endif -%}
							</li>
						{%- endfor -%}
					</ul>
				{%- else -%}
					<a
						class="header-menu__item header-menu__item--main {%- if first_level_link.active %} header-menu__item--active{% endif %}"
						href="{{- first_level_link.url -}}"
						{% if first_level_link.current %}
							aria-current="page"
						{% endif %}
					>
						<span class="header-menu__item-text">
							{{ first_level_link.title | escape }}
						</span>
					</a>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
</nav>
