{% comment %}
	------------------------------------------------------------------------------
	Snippet: Page card
	- page: Page object (required)

	Usage:

	{%- render 'page-card', page: page -%}
	------------------------------------------------------------------------------
{% endcomment %}

{%- assign design 			= settings.design -%}
{%- assign color_background = settings.color_background | color_mix: "#ecd9c6", 50 -%}

{%- if design == "alternate" -%}
	{{- 'page-card-new.build.css' | asset_url | stylesheet_tag -}}
{%- else -%}
	{{- 'page-card.build.css' | asset_url | stylesheet_tag -}}
{%- endif -%}

<div class="{% if design == "alternate" %}page-card-new{% else %}page-card{% endif %}"
	 style="--color-background: {{ color_background }};"
>
	<div class="page-card__container">
		<div class="page-card__title">
			{{- page.title -}}
		</div>

		<a
			class="focus-visible-outline page-card__link"
			href="{{- page.url -}}"
			aria-label="{{- 'blogs.article.learn_more_link_aria' | t: title: page.title | escape -}}"
		>

			{%- if design == "alternate" -%}
				{{- 'blogs.article.learn_more' | t -}}
			{%- else -%}
				<span class="text page-card__link-text">
					{{- 'blogs.article.learn_more' | t -}}
				</span>

				{%- render 'icons-small', icon: 'arrow-right' -%}
			{%- endif -%}
		</a>
	</div>
</div>
