{% comment %}
----------------------------------------------------------------------------
  Snippet: Pagination new
  - Used on blog, collection, orders, addresses, and search.
----------------------------------------------------------------------------
{% endcomment %}

{%- assign color_pagination_link 			= settings.color_pagination_link -%}
{%- assign color_pagination_link_active 	= settings.color_pagination_link_active -%}
{%- assign color_pagination_link_disable 	= settings.color_pagination_link_disable -%}

{%- capture styles -%}
	--color-pagination-link: {{ color_pagination_link }};
	--color-pagination-link-active: {{ color_pagination_link_active }};
	--color-pagination-link-disable: {{ color_pagination_link_disable }};
{%- endcapture -%}

{%- if paginate.parts.size > 0 -%}
	<nav class="pagination-new" aria-label="{{- 'general.pagination.label' | t | escape -}}"
		 style="{{- styles -}}"
	>
		<ul class="pagination__list" role="list">
			<li class="pagination__item{% unless paginate.previous %} pagination__item--no-active{% endunless %}">
				{%- if paginate.previous -%}
					<a
						class="focus-visible-outline pagination__link js-pagination-link"
						href="{{- paginate.previous.url -}}{{ anchor }}"
						aria-label="{{- 'general.pagination.previous' | t | escape -}}"
					>
						{%- render 'icons-new', icon: 'arrow-left' -%}

						<span class="pagination__link-label">
							{{- 'general.pagination.previous_label' | t | escape -}}
						</span>
					</a>
				{%- else -%}
					<span class="pagination__link" aria-hidden="true">
						{%- render 'icons-new', icon: 'arrow-left' -%}

						<span class="pagination__link-label">
							{{- 'general.pagination.previous_label' | t | escape -}}
						</span>
					</span>
				{%- endif -%}
			</li>

			{%- for part in paginate.parts -%}
				<li class="pagination__item">
					{%- if part.is_link -%}
						<a
							class="focus-visible-outline pagination__link js-pagination-link"
							href="{{- part.url -}}{{ anchor }}"
							{%- if part.title != paginate.pages -%}
								aria-label="{{- 'general.pagination.page' | t: number: part.title | escape -}}"
							{%- else -%}
								aria-label="{{- 'general.pagination.last_page' | t: number: part.title | escape -}}"
							{%- endif -%}
						>
							{{- part.title -}}
						</a>
					{%- else -%}
						{%- if part.title == paginate.current_page -%}
							<a
								class="pagination__link {% if part.title == paginate.current_page %} is-active {% endif -%}"
								role="link"
								aria-disabled="true"
								aria-current="page"
								aria-label="{{- 'general.pagination.page' | t: number: part.title | escape -}}"
							>
								{{- part.title -}}
							</a>
						{%- else -%}
							<span class="pagination__link" aria-hidden="true">
								{{- part.title -}}
							</span>
						{%- endif -%}
					{%- endif -%}
				</li>
			{%- endfor -%}

			<li class="pagination__item {% unless paginate.next %} pagination__item--no-active {%- endunless -%}">
				{%- if paginate.next -%}
					<a
						class="focus-visible-outline pagination__link js-pagination-link"
						href="{{- paginate.next.url -}}{{ anchor }}"
						aria-label="{{- 'general.pagination.next' | t | escape -}}"
					>
						<span class="pagination__link-label">
							{{- 'general.pagination.next_label' | t | escape -}}
						</span>

						{%- render 'icons-new', icon: 'arrow-right' -%}
					</a>
				{%- else -%}
					<span class="pagination__link" aria-hidden="true">
						<span class="pagination__link-label">
							{{- 'general.pagination.next_label' | t | escape -}}
						</span>

						{%- render 'icons-new', icon: 'arrow-right' -%}
					</span>
				{%- endif -%}
			</li>
		</ul>
	</nav>
{%- endif -%}
