{%- assign design = settings.design -%}

<div
	class="modal {% if design == 'standard' %} password-popup {% else %} password-popup-new{% endif %}"
	id="password-popup"
	tabindex="-1"
	aria-modal="true"
	role="dialog"
>
	<header class="modal__header password__header">
		<button
			class="password-popup__close js-password-button"
			data-target="password-popup"
			aria-label="{{ "general.password_page.close_popup" | t | escape }}"
			data-js-toggle="password-popup"
		>
			{% render 'icons-small', icon: 'close' %}
		</button>
	</header>

	<div class="modal__body password-popup__body">
		{%- if popup_heading != blank -%}
			<h2 class="password-popup__heading">
				{{- popup_heading -}}
			</h2>
		{%- endif -%}

		{%- assign id = 'ContactForm--' | append: section_id -%}

		{%- form 'storefront_password', class: 'password-form', id: id -%}
			<div class="password-popup__form-content">
				<div class="input-wrapper password-popup__field">
					<input
						type="password"
						name="password"
						id="PasswordForm-{{- section_id -}}"
						value="{{- form.email -}}"
						class="input password-popup__input js-password-header-form {% if form.errors -%}error{%- endif -%}"
						{% if form.errors %}
							aria-invalid="true"
							aria-describedby="PasswordForm-error-{{- section_id -}}"
						{%- endif -%}
						placeholder="{{- popup_input_placeholder -}}"
					>

					<label class="input-label password-popup__label" for="PasswordForm-{{- section_id -}}">
						{{- popup_input_placeholder -}}
					</label>
				</div>

				{%- if design == 'standard' -%}
					<button
						class="button button--secondary password-popup__button"
						type="submit"
					>
						{{- popup_button_text -}}
					</button>
				{%- else -%}
					<button
						class="password-popup__button"
						type="submit"
					>
						<span class="password-popup__button-label">
							{{- popup_button_text -}}
						</span>

						{%- render 'icons-new', icon: 'arrow-right' -%}
					</button>
				{%- endif -%}
			</div>

			{%- if form.errors -%}
				<span
					id="PasswordForm-error-{{- section_id -}}"
					class="password-popup__submitted-title error"
					tabindex="-1"
					role="alert"
				>
					{{- "general.password_page.error_heading" | t -}}
				</span>
			{% endif %}
		{%- endform -%}

		{%- if popup_text != blank -%}
			<div class="password-popup__description {% if design == 'alternate' %} rte-new {% else %} section-rte {% endif %}">
				{{- popup_text -}}
			</div>
		{%- endif -%}
	</div>
</div>
