{%- assign search_articles  = settings.predictive_search_articles -%}
{%- assign search_pages     = settings.predictive_search_pages -%}
{%- assign design    		= settings.design -%}

{%- capture search_type_values -%}
	product
	{%- if search_articles -%},article{%- endif -%}
	{%- if search_pages -%},page{%- endif -%}
{%- endcapture -%}

{%- capture old_layout -%}
	{{- 'predictive-search.build.css' | asset_url | stylesheet_tag -}}

	<div
		class="predictive-search drawer drawer--right js-predictive-search"
		id="headerDrawerSearch"
		role="dialog"
		aria-labelledby="headerDrawerSearchTitle"
	>
		<form
			class="predictive-search__form js-predictive-search-form"
			action="{{- routes.predictive_search_url -}}"
			method="get"
			role="search"
		>
			<div class="drawer__header">
				<h2 class="drawer__title" id="headerDrawerSearchTitle">
					{{- 'general.predictive_search.title' | t -}}
				</h2>

				<button
					class="drawer__close js-header-drawer-toggler"
					type="button"
					aria-label="{{- 'general.predictive_search.close_aria_label' | t | escape -}}"
					data-target="headerDrawerSearch"
					data-js-toggle="searchToggleDrawer"
				>
					{%- render 'icons-small', icon: 'close' -%}
				</button>
			</div>

			<div class="predictive-search__search">
				<button
					class="focus-visible-outline predictive-search__submit"
					type="submit"
					aria-label="{{- 'general.predictive_search.submit_query_aria_label' | t | escape -}}"
				>
					{%- render 'icons-medium', icon: 'search' -%}
				</button>

				<div class="input-wrapper predictive-search__input-wrapper">
					<input
						class="input predictive-search__input js-predictive-search-input"
						type="text"
						name="q"
						id="Search"
						placeholder="{{- 'general.predictive_search.placeholder' | t -}}"
						aria-label="{{- 'general.predictive_search.placeholder_aria_label' | t | escape -}}"
						autocomplete="off"
						autocapitalize="off"
						spellcheck="false"
						required
					/>

					<label class="input-label" for="Search">
						{{- "general.predictive_search.placeholder" | t -}}
					</label>
				</div>
			</div>

			<div class="drawer__body predictive-search__result js-predictive-search-result"></div>

			<div class="drawer__footer">
				<button
					class="focus-visible-outline button predictive-search__apply button--secondary button--block js-predictive-search-apply-button"
					tabindex="0"
					type="submit"
					aria-label="{{- 'general.predictive_search.submit_query_aria_label' | t | escape -}}"
					aria-hidden="true"
					disabled
				>
					{{- 'general.predictive_search.submit' | t -}}
				</button>
			</div>

			<input type="hidden" name="type" value="{{- search_type_values -}}" />
		</form>

		{%- render "preloader" -%}
	</div>
{%- endcapture -%}

{%- if design == "alternate" -%}
	{%- render "predictive-search-new", section: section -%}
{%- else -%}
	{{- old_layout -}}
{%- endif -%}

<script src="{{- 'component-predictive-search.build.min.js' | asset_url -}}" defer></script>
