{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Product tabs new
	This snippet displays an alternative view for the Product tabs section

	{% render 'product-rabs-new',
		section: section
	%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign label                = section.settings.label -%}
{%- assign section_heading      = section.settings.heading -%}
{%- assign full_width 		    = section.settings.full_width -%}
{%- assign blocks 			    = section.blocks  -%}
{%- assign has_filled_block     = false -%}
{%- assign animation_delay_step = 0.9 -%}

{%- assign image_size        = 405 -%}
{%- assign image_size_tablet = 362 -%}
{%- assign image_size_mobile = 188 -%}

{%- if section.index > 1 -%}
	{%- assign is_lazy = true -%}
{%- endif -%}

{%- for block in blocks -%}
	{%- assign heading = block.settings.heading -%}

	{%- if heading != blank -%}
		{%- assign has_filled_block = true -%}
		{%- break -%}
	{%- endif -%}
{%- endfor -%}

{%- capture style -%}
	--container-width: {% if full_width -%}100%{% else -%}var(--global-container-width){%- endif -%};
{%- endcapture -%}

{%- if has_filled_block -%}
	{{- 'product-tabs-new.build.css' | asset_url | stylesheet_tag -}}

	<section
		class="product-tabs product-tabs-new{% if request.visual_preview_mode or section.index == 1 %} animated{% endif %} js-animate js-product-tabs-section"
		style="{{- style -}}"
		data-alternate-design
	>
		<div class="product-tabs__container">
			{%- if label != blank -%}
				<div class="subheading product-tabs__label need-animate">
					{{- label -}}
				</div>
			{%- endif -%}

			{%- if section_heading != blank -%}
				<h2 class="h2 product-tabs__heading need-animate">
					{{- section_heading -}}
				</h2>
			{%- endif -%}

			<div class="product-tabs__button-lists__container need-animate">
				<div class="product-tabs__button-lists__wrapper js-product-tabs-buttons-wrapper">
					<ul class="product-tabs__button-lists">
						{% assign index = 1 %}

						{%- for block in blocks -%}
							{%- assign heading = block.settings.heading -%}

							{%- if heading != blank -%}
								<li class="product-tabs__button-list-item">
									<button
										class="product-tabs__button focus-visible-outline js-product-tabs-button {% if index == 1 -%}is-active{%- endif -%}"
										data-index="{{- index -}}"
										aria-label="{{- 'sections.product_tabs.button_aria' | t: number: index | escape -}}"
									>
										{{- heading -}}
									</button>
								</li>

								{%- assign index = index | plus: 1 -%}
							{%- endif -%}
						{%- endfor -%}
					</ul>
				</div>
			</div>

			<div class="product-tabs__content">
				{% assign index = 1 %}

				{%- for block in blocks -%}
					{%- assign heading 		= block.settings.heading -%}
					{%- assign product_list = block.settings.product_list -%}

					{%- if heading != blank -%}
						<div class="product-tabs__tab js-product-tabs-tab{% if forloop.first %} need-animate{% endif %}{% if index != 1 %} is-hidden{% endif %}" data-index="{{- index -}}">
							<div class="product-tabs-slider swiper {% if product_list.count > 2 or product_list.count < 1 %}js-featured-content-slider{%- endif -%}">
								<div class="product-tabs__tab-content swiper-wrapper">
									{%- if product_list.count > 0 -%}
										{%- for product in product_list limit: limit -%}
											{%- unless forloop.first -%}
												{%- assign animation_delay_step = animation_delay_step | plus: 0.25 -%}
											{%- endunless -%}

											<div class="product-tabs__product need-animate swiper-slide" style="transition-delay: {{ animation_delay_step }}s">
												{%- render
													'product-card-new',
													product: product,
													size: image_size,
													tablet_size: image_size_tablet,
													mobile_size: image_size_mobile,
													is_lazy: is_lazy
												-%}
											</div>
										{%- endfor -%}
									{%- else -%}
										{%- for i in (1..4) -%}
											<div class="product-tabs__product  swiper-slide">
												{%- render 'product-card-new', product: nil -%}
											</div>
										{%- endfor -%}
									{%- endif -%}
								</div>

								{% if product_list.count > 2 or product_list.count < 1 %}
									<div class="product-tabs__pagination js-featured-content-slider-pagination"></div>
								{%- endif -%}
							</div>
						</div>
						{%- assign index = index | plus: 1 -%}
					{%- endif -%}
				{%- endfor -%}
			</div>
		</div>

		<script src="{{- 'component-featured-content-slider.build.min.js' | asset_url -}}" defer></script>
		<script src="{{- 'section-product-tabs.build.min.js' | asset_url -}}" defer></script>
	</section>
{%- endif -%}
