{% assign gift_product = settings.gift_wrap_product %}

{% if gift_product != blank and gift_product.available and gift_product != product %}
	{% assign gift_button_icon = settings.gift_wrap_button_icon %}

	<div class="product-form__button-link-container">
		<button class="{% if design == 'alternate' %}button-link-simple{% else %}button-link{% endif %} focus-visible-outline js-add-to-cart"
				type="button"
				data-product-handle="{{- gift_product.handle -}}"
				data-min-quantity="{{- gift_product.selected_or_first_available_variant.quantity_rule.min -}}"
				{% if gift_product.has_only_default_variant or gift_product.variants.size == 1 %}
					data-variant-id="{{- gift_product.variants[0].id -}}"
				{% endif %}
		>
			{% if gift_button_icon != blank %}
				{%- capture img_focal -%}
					--img-desktop-pos: {{ gift_button_icon.presentation.focal_point }};
				{%- endcapture -%}

				<img class="{% if design == 'alternate' %}button-link-simple__icon{% else %}button-link__icon{% endif %}"
					 src="{{ gift_button_icon | image_url: width: 24, height: 24 }}"
					 srcset="{{ gift_button_icon | image_url: width: 24, height: 24 }} 1x,
						{{ gift_button_icon | image_url: width: 48, height: 48 }} 2x"
					 style="{{ img_focal }}"
					 alt=""
				>
			{% else %}
				<span class="{% if design == 'alternate' %}button-link-simple__icon{% else %}button-link__icon{% endif %}">
					{%- if design == 'standard' -%}
						{% render 'icons-medium', icon: 'gift' %}
					{%- elsif design == 'alternate' -%}
						{%- render 'icons-new', icon: 'gift-2' -%}
					{%- endif -%}
				</span>
			{% endif %}

			{{ settings.gift_wrap_button_label }}
		</button>
	</div>
{% endif %}


