{% comment %}
------------------------------------------------------------------------------
  Snippet: Product quantity
  additional: Boolean (Default: false) set true for sticky bar quantity widget
  hide_compare: Boolean (default: false) set true to hide compare button
------------------------------------------------------------------------------
{% endcomment %}
{%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
{%- assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse -%}
{%- assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min -%}

{% if cart_qty > 0 %}
	{% assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment %}
{% endif %}

<div class="product-quantity {% if design == 'alternate' %}product-quantity-new{% endif %} js-product-quantity">
	<label
		class="
			product-quantity__option-label
			{%- if block -%}
				{% unless block.settings.show_label %}
					visually-hidden
				{% endunless%}
			{%- endif -%}
		"
		for="Product_{{- product.id -}}-Quantity{%- if additional -%}-additional{%- endif -%}"
	>
		{{- 'products.product.quantity' | t -}}: <span class="product-quantity__price-breaks-val js-price-breaks-val {% if cart_qty == 0 %}is-hidden{%- endif -%}">{{- 'products.product.quantity_in_cart' | t: quantity: cart_qty -}}</span>
	</label>

	<div class="product-quantity__wrapper">
		<div class="product-quantity__container">
			<button
				class="product-quantity__button product-quantity__button--minus"
				type="button"
				data-quantity-decrease
				aria-label="{{ 'products.quantity.decrease' | t: product: product.title | escape }}"
			>
				<div class="icon-minus"></div>
			</button>

			<input
				type="number"
				{% unless additional %}name="quantity"{% endunless %}
				id="Product_{{- product.id -}}-Quantity{%- if additional -%}-additional{%- endif -%}"
				class="product-quantity__input"
				value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
				min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
				max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
				step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
				data-quantity-input
				{% if additional %}data-quantity-input-additional{%- endif -%}
			>

			<button
				class="product-quantity__button product-quantity__button--plus"
				type="button"
				data-quantity-increase
				aria-label="{{ 'products.quantity.increase' | t: product: product.title | escape }}"
			>
				<div class="icon-plus"></div>
			</button>
		</div>

		{%- if settings.enable_compare_products and hide_compare != true -%}
			{% if design == 'alternate' %}
				{%- render 'compare-products-button-new', product: product, additional_classes: "compare-products-button--border" -%}
			{% else %}
				{%- render 'compare-products-button', product: product, additional_classes: "compare-products-button--border" -%}
			{% endif %}
		{%- endif -%}
	</div>

	<div class="product-quantity__price-each {% if volume_pricing_array.size == 0 %}is-hidden{% endif %}" data-current_qty_for_volume_pricing="{{ current_qty_for_volume_pricing }}">
		<span class="js-price-volume">
			{%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
				{%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
				{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}
			{%- else -%}
				{%- for price_break in volume_pricing_array -%}
					{%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
						{%- assign price_break_price = price_break.price | money_with_currency -%}
						{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}
						{%- break -%}
					{%- endif -%}
				{%- endfor -%}
			{%- endif -%}
		</span>
	</div>

	{%- unless additional == true -%}
		<div class="product__quantity-rules js-product-quantity-rules no-js-hidden {% if product.selected_or_first_available_variant.quantity_rule.increment < 2 and product.selected_or_first_available_variant.quantity_rule.min < 2 and product.selected_or_first_available_variant.quantity_rule.max == null %}is-hidden{%- endif-%}" id="quantity-rules-{{ section.id }}">
			<span class="product__quantity-rules-item js-product-quantity-rule-increment {%- if product.selected_or_first_available_variant.quantity_rule.increment < 1 -%}is-hidden{%- endif -%}">
				<span class="js-product-quantity-rule-increment-val">{{ 'products.product.increments_of' | t: number: product.selected_or_first_available_variant.quantity_rule.increment }}</span>
			</span>

			<span class="product__quantity-rules-item js-product-quantity-rule-min {% if product.selected_or_first_available_variant.quantity_rule.min < 1 %}is-hidden{% endif %}">
				<span class="js-product-quantity-rule-min-val">{{ 'products.product.minimum_of' | t: number: product.selected_or_first_available_variant.quantity_rule.min }}</span>
			</span>

			<span class="product__quantity-rules-item js-product-quantity-rule-max {% if product.selected_or_first_available_variant.quantity_rule.max == null %}is-hidden{% endif %}">
				<span class="js-product-quantity-rule-max-val">{{ 'products.product.maximum_of' | t: number: product.selected_or_first_available_variant.quantity_rule.max }}</span>
			</span>
		</div>

		{% if product.quantity_price_breaks_configured? %}
			<script data-product-qty-breaks-json type="application/json">
				{
					{%- for variant in product.variants -%}

					"{{- variant.id | json -}}": {
						"quantity_price_breaks": [
						{% for price_break in variant.quantity_price_breaks %}
							{% assign price_break_w =  price_break.price | money_with_currency %}
							{
								"minimum_quantity": {{ price_break.minimum_quantity | json }},
								"price": {{ price_break.price | money_with_currency | json }},
								"price_at_each": {{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_w | json }},
								"price_each": {{ 'products.product.volume_pricing.each' | t: price: price_break_w | json }}
							}{% unless forloop.last %},{% endunless %}
						{% endfor %}
						]
					}{% unless forloop.last %},{% endunless %}
					{%- endfor -%}
				}
			</script>

			<div class="product-volume-pricing js-product-volume-pricing {% unless volume_pricing_array.size > 0 %}is-hidden{%- endunless -%}">
				<p class="product-volume-pricing__title">{{ 'products.product.volume_pricing.title' | t }}</p>
				<ul class="product-volume-pricing__list js-product-volume-pricing-list" data-variant="{{- product.selected_or_first_available_variant.id -}}">
					<li class="product-volume-pricing__list-item">
						<span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
						{%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
						<span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price }}">{{ price }}/ea</span>
					</li>
					{%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
						{%- assign price_break_price = price_break.price | money_with_currency -%}
						<li class="product-volume-pricing__list-item{% if forloop.index >= 3 %} is-hidden{% endif %}">
							<span>{{ price_break.minimum_quantity }}<span aria-hidden="true">+</span></span>
							<span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">{{ price_break_price }}/ea</span>
						</li>
					{%- endfor -%}
				</ul>

				<button class="product-volume-pricing__show-more button-link focus-visible-outline js-product-volume-pricing-show-more {% if product.selected_or_first_available_variant.quantity_price_breaks.size < 3 %}is-hidden{%- endif -%}"
						type="button">
					{{- 'products.product.volume_pricing.show_more' | t -}}
				</button>
			</div>
		{% endif %}
	{%- endunless -%}

	<div class="product-quantity__error" id="ProductQuantityError-{{- product.id -}}{%- if additional -%}-additional{%- endif -%}" role="alert">
		<small class="product-quantity__error-text js-product-quantity-error"></small>
	</div>
</div>
