{% comment %}
------------------------------------------------------------------------------
  Snippet: Product Pickup Availability
------------------------------------------------------------------------------
{% endcomment %}
{% comment %}{% assign product_variant = product.first_available_variant %}{% endcomment %}

{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
	| where: 'pick_up_enabled', true
-%}

<pickup-availability
	class="{% if design == 'alternate' %}product-pickup-availability-new{% else %}product-pickup-availability{% endif %}"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
		available
	{% endif %}
	data-root-url="{{ routes.root_url }}"
	data-variant-id="{{ product.selected_or_first_available_variant.id }}"
	data-has-only-default-variant="{{ product.has_only_default_variant }}"
	data-section-id="{{- section.id -}}"
>
	<template>
		<pickup-availability-preview class="pickup-availability-preview">
			{% render 'icon-unavailable' %}

			<div class="pickup-availability-info">
				<p>{{ 'products.product.pickup_availability.unavailable' | t }}</p>

				<button
					type="button"
					class="pickup-availability-button link link--text underlined-link"
				>
					{{ 'products.product.pickup_availability.refresh' | t }}
				</button>
			</div>
		</pickup-availability-preview>
	</template>
</pickup-availability>

<script src="{{ 'pickup-availability.build.min.js' | asset_url }}" defer="defer"></script>
