{%- comment -%}
------------------------------------------------------------------------------
  Section: Product media
------------------------------------------------------------------------------
{%- endcomment -%}
{% assign is_preset = false %}
{% if product == blank %}
	{% assign is_preset = true %}
{% endif %}

{% assign design = settings.design %}

{%- if product.media.size > 0 -%}
	{%- assign is_lazy = section.settings.is_lazy -%}
	{%- assign is_zoom_enabled = section.settings.is_zoom_enabled -%}
	{%- assign is_enable_media_scroller = section.settings.is_enable_media_scroller -%}
	{%- assign contain_video = false -%}
	{%- for media in product.media  -%}
		{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
			{%- assign contain_video = true -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	{% assign media_layout = section.settings.media_layout %}
	{% assign thumbnails_position = section.settings.thumbnails_position %}
	{% assign pagination_dynamic = false %}
	{% assign auto_height = false %}

	{% if media_height == 'full_size' %}
		{% assign auto_height = true %}
	{% endif %}

	{% if product.media.size > 15 and design != 'alternate' %}
		{% assign pagination_dynamic = true %}
	{% endif %}

	{% if product.media.size > 8 and design == 'alternate' %}
		{% assign pagination_dynamic = true %}
	{% endif %}

	<style>
		:root {
			{% if media_layout == 'stacked' or media_layout == 'stacked_2_col'
				and section.settings.stacked_smooth_scroll
			%}
				--smooth-scroll: smooth;
			{% else %}
				--smooth-scroll: auto;
			{% endif %}
		}
	</style>

	{%- capture media_container_classes -%}
		{% if design == 'alternate' %}product-media-new{% else %}product-media{% endif %} product-media--layout-{{- media_layout }} {% if media_layout == 'carousel' %}product-media--thumbnails-position-{{- thumbnails_position }}{% endif %} js-product-media-container
	{%- endcapture -%}

	<div class="{{- media_container_classes }}" data-media-layout="{{- media_layout -}}" {% if is_zoom_enabled %}data-zoom-container{% endif %} {% if is_enable_media_scroller %}data-enable-media-scroller{% endif %}>
		<div class="product-media__container js-product-sticky-container">
			{% if media_layout == 'stacked' or media_layout == 'stacked_2_col' %}
				{%- capture hidden_thumb_stacked_class -%}
					{%- if media_layout == 'stacked' and product.media.size < 2 -%}is-hidden{%- endif -%}
					{%- if media_layout == 'stacked_2_col' and product.media.size < 3 -%}is-hidden{%- endif -%}
				{%- endcapture -%}

				<div class="product-media__slider-thumbnails-stacked {{ hidden_thumb_stacked_class }}">
					<div class="product-media__slider-thumbnails-container js-product-media-thumbnails-stacked">
						{% for media in product.media  %}
							{%- capture thumbnail_classes -%}
								product-media__slider-thumbnails-slide js-product-media-thumbnails-slide {% if forloop.index == 1 %}is-active{% endif %}
							{%- endcapture -%}

							<a
								ondragstart="return false;"
								class="{{- thumbnail_classes -}}"
								href="#thumbnail-{{- media.id -}}"
								data-media-id="{{- media.id -}}"
							>
								{%- case media.media_type -%}
									{%- when 'image' -%}
										{%- render "product-gallery-thumbnail",
											image: media,
											is_lazy: is_lazy
										-%}
									{%- when 'video' -%}
										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
									{%- when 'external_video' -%}
										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
									{%- when 'model' -%}

										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
								{%- endcase -%}
							</a>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			<div class="swiper product-media__slider js-product-media-slider-{{ section.id }}"
				 data-dynamic-pagination="{{ pagination_dynamic }}"
				 data-js-product-media-slider
				 data-auto-height="{{ auto_height }}"
			>
				<div class="product-media__navigation {% unless section.settings.show_arrows_mobile %}product-media__navigation--hide-mob{% endunless %}">
					<button
						class="
							swiper-button-prev
							product-media__navigation-button
							js-product-media-slider-prev-{{ section.id }}
						"
					></button>

					<button
						class="
							swiper-button-next
							product-media__navigation-button
							js-product-media-slider-next-{{ section.id }}
						"
					></button>
				</div>

				<div class="swiper-wrapper product-media__slider-wrapper {% if media_height == 'full_size' -%}product-media__slider-wrapper--start{% endif %}">
					{%- for media in product.media  -%}
						{% assign is_current_lazy = is_lazy %}

						{% if product.selected_or_first_available_variant.featured_media.id == media.id and template == "product" %}
							{% assign is_current_lazy = false %}
						{% endif %}

						{% capture variant_ids %}
							{% for variant in product.variants  %}
								{% if media == variant.featured_media %}
									,{{- variant.id -}}
								{% endif %}
							{% endfor %}
						{% endcapture %}

						{% assign variant_ids = variant_ids | remove_first: "," | strip | split: "," %}

						<div
							class="swiper-slide product-media__slider-slide js-product-gallery-slide js-product-media-item {% if is_zoom_enabled and media.media_type != 'video' %}product-media__slider-slide--zoom{% endif %} {% if media_height == 'fit_to_screen' -%}product-media__slider-slide--fit-to-screen{%- endif -%}"
							{% if media_layout == 'stacked' or media_layout == 'stacked_2_col' %}
								id="thumbnail-{{- media.id -}}"
								data-media-id="{{- media.id -}}"
							{% endif %}
							{% if media.media_type == 'model' %}
								data-model-slide="{{- media.id -}}"
							{% endif %}
							{% if is_zoom_enabled and media.media_type != 'video' and media.media_type != 'external_video' %}
								data-zoom-media="{{- media.id -}}"
							{% endif %}
							{% if is_zoom_enabled %}
								{% if media.media_type == 'video' or media.media_type == 'external_video' %}
									data-zoom-media-html-video="{{- media.id -}}"
								{% endif %}
							{% endif %}
						>
							{%- case media.media_type -%}
							{%- when 'image' -%}
								<div
									class="js-product-gallery-slide-variant-{{ section.id }} js-product-media-item-variant"
									data-variant-id="{% for variant_id in variant_ids %}{{- variant_id | strip -}}{% unless forloop.index == forloop.last %},{% endunless %}{% endfor %}"
								>
									{%- render "product-gallery-image",
										image: media,
										is_lazy: is_current_lazy
									-%}
								</div>
							{%- when 'video' -%}
								{%- if is_zoom_enabled -%}
									<div class="product-media__slider-slide-wrapper">
										{%- render "product-gallery-video",
											video: media,
											is_lazy: is_current_lazy,
											type: media.media_type
										-%}
									</div>
								{%- else -%}
									{%- render "product-gallery-video",
										video: media,
										is_lazy: is_current_lazy,
										type: media.media_type
									-%}
								{%- endif -%}

							{%- when 'external_video' -%}
								{%- if is_zoom_enabled -%}
									<div class="product-media__slider-slide-wrapper">
										{%- render "product-gallery-video",
											video: media,
											is_lazy: is_current_lazy,
											type: media.media_type
										-%}
									</div>
								{%- else -%}
									{%- render "product-gallery-video",
										video: media,
										is_lazy: is_current_lazy,
										type: media.media_type
									-%}
								{%- endif -%}
							{%- when 'model' -%}
								{%- render "product-gallery-image",
									image: media,
									is_lazy: is_current_lazy,
									additional_class: 'js-product-media-model-poster'
								-%}

								{%- if is_zoom_enabled -%}
									<span class="product-media__slider-slide-icon">
										{%- render 'icons-small', icon: 'model' -%}
									</span>
								{%- else -%}
									<button class="product-media__slider-slide-icon product-media__slider-model-button js-product-media-model-button">
										{%- render 'icons-small', icon: 'model' -%}
									</button>

									<span class="js-product-media-model-content is-hidden">
										{{ media | model_viewer_tag }}
									</span>
								{%- endif -%}

								<button
									class="product-media__model-view-button"
									type="button"
									data-shopify-xr
									aria-label="{{ 'products.product.xr_button_label' | t }}"
									data-shopify-model3d-id="{{- media.id -}}"
									data-shopify-title="{{- product.title | escape -}}"
									data-shopify-xr-hidden
								>
									{%- render 'icons-small', icon: 'model' -%}

									{{- 'products.product.xr_button' | t -}}
								</button>
							{%- endcase -%}
						</div>
					{%- endfor -%}
				</div>

				<div class="swiper-pagination product-media__slider-pagination-{{ section.id }} {% if product.media.size < 2 %}is-hidden{% endif %}"></div>
			</div>

			{% if is_zoom_enabled %}
				<div class="product-media__zoom-wrapper">
					<button
						class="product-media__zoom-button"
						data-js-zoom-button
						aria-label="{{- 'general.accessibility.zoom_button' | t | escape -}}"
					>
						{% if design == 'alternate' %}
							{% render 'icons-new', icon: 'zoom-scale' %}
						{% else %}
							{% render 'icons-big', icon: 'quik-view' %}
						{% endif %}
					</button>
				</div>
			{% endif %}

			{% if product.media.size < 5 %}
				{% assign hidden_class = "is-hidden" %}

				{% assign no_arrows = "no-arrows" %}
			{% endif %}

			<div class="product-media__slider-thumbnails-container {{ no_arrows }} js-thumb-container">
				{% if media_layout == 'carousel' and thumbnails_position == 'left' %}
					<button class="product-media__slider-thumbnails-arrow product-media__slider-thumbnails-arrow--prev swiper-button-disabled {{ hidden_class }} js-product-media-thumb-prev-{{ section.id }}" disabled aria-label="{{ "general.accessibility.slider.prev_slide_message" | t  | escape -}}"></button>
				{% endif %}

				<div class="swiper js-product-media-slider-thumbnails-{{- section.id }} product-media__slider-thumbnails {% if product.media.size == 1 %}is-hidden{% endif %}"
					 data-thumbnails-position="{{- thumbnails_position -}}"
					 data-design="{{ design }}"
				>
					<div class="swiper-wrapper product-media__slider-thumbnails-wrapper">
						{% for media in product.media  %}
							<button class="swiper-slide product-media__slider-thumbnails-slide"
									data-slide-index="{{ forloop.index0 }}"
							>
								{%- case media.media_type -%}
									{%- when 'image' -%}
										{%- render "product-gallery-thumbnail",
											image: media,
											is_lazy: is_lazy
										-%}
									{%- when 'video' -%}
										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
									{%- when 'external_video' -%}
										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
									{%- when 'model' -%}

										{%- render "product-gallery-poster",
											image: media.preview_image,
											is_lazy: is_lazy,
											media_type: media.media_type
										-%}
								{%- endcase -%}
							</button>
						{% endfor %}
					</div>
				</div>

				{% if media_layout == 'carousel' and thumbnails_position == 'left' %}
					<button class="product-media__slider-thumbnails-arrow product-media__slider-thumbnails-arrow--next {{ hidden_class }} js-product-media-thumb-next-{{ section.id }}" aria-label="{{ "general.accessibility.slider.next_slide_message" | t | escape -}}"></button>
				{% endif %}
			</div>
		</div>

		{%- if is_zoom_enabled -%}
			{% assign id = 'ZoomMediaModal-' | append: section.id %}

			{%- render 'zoom-modal', id: id, medias: product.media -%}
		{%- endif -%}

		{%- capture models_json -%}
			{{ product.media | where: 'media_type', 'model' | json }}
		{%- endcapture -%}

		{%- if models_json != "" -%}
			<script src="{{- 'component-ar-model.build.min.js' | asset_url -}}" defer></script>

			<script type="application/json" id="ProductModelsJSON">
				{{- models_json -}}
			</script>
		{%- endif -%}
	</div>
{% elsif settings.product_default_image != blank or is_preset %}
	{%- assign is_lazy = section.settings.is_lazy -%}
	{% assign media_layout = section.settings.media_layout %}

	{%- capture media_container_classes -%}
		product-media product-media__layout-{{ media_layout }}
	{%- endcapture -%}

	<div class="{{- media_container_classes -}}">
		<div class="swiper product-media__slider">
			<div class="swiper-wrapper product-media__slider-wrapper">
				<div class="swiper-slide product-media__slider-slide default-image">
					{% if is_preset %}
						{%- assign min = 1 -%}
						{%- assign max = 6 -%}
						{%- assign diff = max | minus: min -%}
						{%- assign random_number       = "now" | date: "%N" | modulo: diff | plus: min -%}
						{%- assign placeholer_svg_name = 'product-' | append: random_number -%}

						{{- placeholer_svg_name | placeholder_svg_tag: 'product-card__image' -}}
					{% else %}
						{%- render "product-gallery-image",
							image: settings.product_default_image,
							is_lazy: is_lazy
						-%}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}
