{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Product card swatches
	- swatches: Swatches array (required, object)
	- product: Product (required, object)
	- swatch_pos: swatch position (Index)

	{%- render 'product-card-swatches', swatches: swatches -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

<div class="product-card__swatches-wrapper">
	<div class="product-card__swatches">
		{%- for value in swatches limit: 3 -%}
			{%- assign value_handle = value | handle -%}

			{%- capture swatch_styles -%}
				{% assign image_name = value | handle | prepend: 'swatch-' | append: '.png' %}
				{% assign swatch_color_fallback = value | split: ' ' | last | handle %}
				{% assign swatch_image = value.swatch.image | default: images[image_name] %}
				{% assign swatch_color = value.swatch.color | default: swatch_color_fallback %}

				style="
				{%- if swatch_image != blank -%}
					--swatch-image: url({{- swatch_image | image_url: width: 24, height: 24 -}});
				{%- else -%}
					--swatch-color: {{ swatch_color }};
				{%- endif -%}"
			{%- endcapture -%}

			<button
				class="product-card__swatch-button js-product-card-swatch {% if value == product.selected_or_first_available_variant.options[swatch_pos] -%}is-active{%- endif %}"
				{{ swatch_styles | strip_newlines }}
				data-swatch="{{- value | escape -}}"
				aria-label="{{- 'products.product_card.swatch_color' | t: swatch: value | escape -}}"
				type="button"
			>
				<span class="product-card__swatch {{ value_handle }}"></span>
			</button>
		{%- endfor %}
	</div>

	{%- if swatches.size > 3 -%}
		{%- assign overlimit = swatches.size | minus: 3 -%}

		<span
			class="product-card__overlimit"
		>
			<span class="visually-hidden">
				{{- 'products.product_card.product_swatches_overlimit_label' | t: count: overlimit -}}
			</span>

			<span aria-hidden="true">
				{{- 'products.product_card.product_swatches_overlimit' | t: count: overlimit -}}
			</span>
		</span>
	{%- endif -%}
</div>
