{%- assign swatch_option				= settings.color_swatches_option | default: 'Color' | downcase -%}
{%- assign is_color_swatches_enabled	= settings.is_color_swatches_enabled -%}
{%- assign variants_type				= settings.quick_view_variant_picker -%}
{%- assign show_unit_price 				= settings.is_show_unit_price -%}
{%- assign currency_code_enabled 		= settings.currency_code_enabled -%}
{%- assign form_classes				    = 'quick-view__form quick-view-form js-quick-view-form' -%}
{%- assign is_alternate_design 		    = false -%}
{%- if settings.design == 'alternate' -%}
	{%- assign is_alternate_design 		= true -%}
	{%- assign form_classes				= 'quick-view__form quick-view-form-new js-quick-view-form' -%}
{%- endif -%}

{%- form 'product', product, class: form_classes, novalidate: 'novalidate' -%}
	{% if product.template_suffix == 'pre-order' %}
		<input type="hidden" name="properties[_Pre-order]" value="true">
	{% endif %}

	<div class="quick-view-form__options">
		{%- for option in product.options_with_values -%}
			<fieldset class="fieldset quick-view-form__option focus-visible-outline">
				{%- assign option_position  		= option.position -%}
				{%- assign option_name_downcased	= option.name | downcase -%}
				{%- assign option_name_handle		= option.name | handle -%}
				{%- assign option_index				= "option" | append: option_position -%}
				{%- assign swatch_count 			= option.values | map: 'swatch' | compact | size -%}

				{% assign use_color_swatch = false %}

				{% if swatch_count > 0 and is_color_swatches_enabled %}
					{% assign use_color_swatch = true %}
				{% endif %}

				{% if is_color_swatches_enabled and option_name_downcased == swatch_option %}
					{% assign use_color_swatch = true %}
				{% endif %}

				<legend class="fieldset__legend legend quick-view-form__name">
					{{- option.name -}}:

					{% if use_color_swatch %}
						<span class="quick-view-form__swatch-value js-swatch-label-name"
							  data-swatch-name="{{ option.name }}"
							  data-swatch-position="{{ option.position }}"
						>
							{{- option.selected_value -}}
						</span>
					{% endif %}
				</legend>

				{% if variants_type == "radio" or use_color_swatch %}
					{%- for value in option.values -%}
						{%- if use_color_swatch and is_color_swatches_enabled -%}
							{%- capture container_classes -%}
								radio__container radio__option-swatch quick-view-form__radio-container
							{%- endcapture -%}

							{%- capture swatch_styles -%}
								{% assign image_name = value | handle | prepend: 'swatch-' | append: '.png' %}
								{% assign swatch_color_fallback = value | split: ' ' | last | handle %}
								{% assign swatch_image = value.swatch.image | default: images[image_name] %}
								{% assign swatch_color = value.swatch.color | default: swatch_color_fallback %}

								style="
								{%- if swatch_image != blank -%}
									--swatch-image: url({{- swatch_image | image_url: width: 60, height: 60 -}});
								{%- else -%}
									--swatch-color: {{ swatch_color }};
								{%- endif -%}"
							{%- endcapture -%}
						{%- else -%}
							{%- capture container_classes -%}
								radio__container radio__option  quick-view-form__radio-container
							{%- endcapture -%}
						{%- endif -%}
						{%- assign current_variants 		= product.variants | where: option_index, value -%}

						{%- if current_variants == blank and current_variants[0].available != true -%}
							{%- assign option_value_available = false -%}
						{%- endif -%}

						<div class="{{- container_classes -}}">
							<input
								id="quick-view-{{- value | handle -}}-{{ option_name_handle }}"
								type="radio"
								class="visually-hidden radio__input"
								value="{{- value | escape -}}"
								name="option{{- option.position -}}"
								data-option="option{{- option.position -}}"
								{%- if option.selected_value == value -%}checked{%- endif -%}
							>

							<label
								for="quick-view-{{- value | handle -}}-{{ option_name_handle }}"
								class="radio__label quick-view-form"
								{{- swatch_styles -}}
							>
								<span class="radio__label-text">
									{{- value -}}
								</span>
							</label>
						</div>
					{%- endfor -%}
				{% else %}
					{% if settings.design == 'alternate' %}
						<div class="select-wrapper"	style="width: 100%;">
							<label class="visually-hidden" for="quick-view-option-{{ option_name_handle }}">
								{{- value -}}
							</label>

							<select
								class="focus-visible-outline"
								id="quick-view-option-{{ option_name_handle }}"
								name="option{{- option.position -}}"
								aria-label="{{ value }}"
								data-option="option{{- option.position -}}"
							>
								{%- for value in option.values  -%}
									<option
										value="{{- value | escape -}}"
										{% if value == option.selected_value %}
											selected
										{% endif %}
									>
										{{- value -}}
									</option>
								{%- endfor -%}
							</select>

							{%- render 'icons-new', icon: 'arrow-down' -%}
						</div>
					{% else %}
						<select id="quick-view-option-{{ option_name_handle }}"
						        class="product-options__select"
						        name="option{{- option.position -}}"
						        data-option="option{{- option.position -}}"
						>
							{%- for value in option.values  -%}
								<option
									value="{{- value | escape -}}"
									{% if value == option.selected_value %}
										selected
									{% endif %}
								>
									{{- value -}}
								</option>
							{%- endfor -%}
						</select>

						<label
							for="quick-view-option-{{ option_name_handle }}"
							class="visually-hidden"
						>
							{{- value -}}
						</label>
					{% endif %}
				{% endif %}
			</fieldset>
		{%- endfor -%}

		{%- render 'product-quantity', design: design -%}

		<select
			name="id"
			id="quick-view-id"
			class="is-hidden js-quick-view-hidden-select"
		>
			{%- for variant in product.variants -%}
				<option
					value="{{- variant.id -}}"
					{%- if variant.option1 != nil -%} data-option1="{{- variant.option1 | escape -}}" {%- endif -%}
					{%- if variant.option2 != nil -%} data-option2="{{- variant.option2 | escape -}}" {%- endif -%}
					{%- if variant.option3 != nil -%} data-option3="{{- variant.option3 | escape -}}" {%- endif -%}
					{%- if variant == product.selected_or_first_available_variant -%}selected="selected"{%- endif -%}
				>
					{{- variant.title -}}
				</option>
			{%- endfor -%}
		</select>

		<div class="quick-view-form__error" id="QuickViewError-{{- product.id -}}" role="alert">
			<small class="quick-view-form__error js-quick-view-error"></small>
		</div>
	</div>

	{% if is_alternate_design %}
		<div class="quick-view__price js-quick-view-price">
			{%- render 'price', product: product, show_unit_price: show_unit_price, currency_code_enabled: currency_code_enabled, use_variant: true -%}
		</div>
	{% endif %}

	<div class="quick-view-form__buttons">
		<button
			class="{% if is_alternate_design %}button-new button--primary{% else %}button button--secondary{% endif %} quick-view-form__button js-quick-submit-button"
			data-add-to-card="{{- "products.product.add_to_cart" | t -}}"
			data-sold-out="{{- "products.product.sold_out" | t -}}"
			data-unavailable="{{- "products.product.unavailable" | t -}}"
			{% if product.template_suffix == 'pre-order' %}
				data-preorder
			{% endif %}
			type="submit"
			{%- if product.selected_or_first_available_variant.available == false -%}
				disabled
			{%- endif -%}
		>
			{%- if product.selected_or_first_available_variant.available  -%}
				{% if product.template_suffix == 'pre-order' %}
					{{- 'products.product.pre_order' | t -}}
				{% else %}
					{{- 'products.product.add_to_cart' | t -}}
				{% endif %}
			{%- else -%}
				{{- "products.product.sold_out" | t -}}
			{%- endif -%}
		</button>

		{% unless is_alternate_design %}
			<a
				class="button button--primary quick-view-form__button quick-view-form__button--transparent js-quick-view-link"
				href="{{- product.url -}}/?variant={{- product.selected_or_first_available_variant.id -}}"
			>
				{{- "products.quick_view.visit_product_page" | t -}}
			</a>
		{% endunless %}

		{%- if quick_view_enable_buy_it_now -%}
			<div class="additional-checkout-buttons">
				{{- form | payment_button  -}}
			</div>
		{%- endif -%}

		{% if is_alternate_design %}
			<a
				href="{{- product.url -}}/?variant={{- product.selected_or_first_available_variant.id -}}"
				class="button-link-new focus-visible-outline quick-view-form__button js-quick-view-link"
			>
				{{- "products.quick_view.visit_product_page" | t -}}

				<span class="button-link-new__icon-wrapper">
					<span class="button-link-new__icon">
						{% render 'icons-new', icon: 'arrow-right' %}
					</span>
				</span>
			</a>
		{% endif %}
	</div>
{%- endform -%}
