{% comment %}
------------------------------------------------------------------------------
  Snippet: Share button
  ----------------------
  Connects the logic of the "share" button of different social networks
  Required:
  - social: 'facebook', 'twitter'
  - product: product object
------------------------------------------------------------------------------
{% endcomment %}
{% capture facebook %}
	{% assign url = 'https://www.facebook.com/sharer/sharer.php?u='
		| append: request.host
		| append: product.url
		| append: '&amp;src=sdkpreparse'
	%}

	<a
		class="button-social"
		target="_blank"
		rel="nofollow"
		href="{{- url -}}"
		aria-label="{{ 'general.social.alt_text.share_on_facebook' | t | escape }}"
	>
		{% render 'icons-social', icon: "facebook" %}
	</a>
{% endcapture %}

{% capture twitter %}
	{% assign url = 'https://twitter.com/intent/tweet?text='
		| append: product.title
		| append: '&url='
		| append: request.host
		| append: product.url
	%}

	<a
		class="button-social"
		target="_blank"
		rel="nofollow"
		href="{{- url -}}"
		aria-label="{{ 'general.social.alt_text.share_on_twitter' | t | escape }}"
	>
		{% render 'icons-new', icon: "twitter-x-2" %}
	</a>
{% endcapture %}

{% if social != blank %}
	{% case social %}
		{% when 'facebook' %}
			{{- facebook -}}
		{% when 'twitter' %}
			{{- twitter -}}
		{% else %}
			<div>Social network not found</div>
	{% endcase %}
{% endif %}
