{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Shop the look image
	This snippet will output main image on shop the look section

	- image: image object (optional, object),
	- is_lazy: is lazy load enable (optional, default: true, boolean)

	{%- render "shop-the-look-image", image: image, is_lazy: is_lazy -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- if image -%}
	{%- capture img_focal -%}
		--img-desktop-pos: {{ image.presentation.focal_point }};
	{%- endcapture -%}

	{%- if is_lazy -%}
		<picture class="shop-the-look__image-wrapper-inner lazy">
			<source
				data-srcset="{{ image | img_url: '380x380', crop: image_crop }} 1x, {{ image | img_url: '760x760', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 380px)"
				width="380"
				height="380"
			>

			<source
				data-srcset="{{ image | img_url: '420x420', crop: image_crop }} 1x, {{ image | img_url: '840x840', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 420px)"
				width="420"
				height="420"
			>

			<source
				data-srcset="{{ image | img_url: '480x480', crop: image_crop }} 1x, {{ image | img_url: '960x960', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 480px)"
				width="480"
				height="480"
			>

			<source
				data-srcset="{{- image | img_url: '767x767', crop: image_crop }} 1x, {{ image | img_url: '1534x1534', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 767px)"
				width="767"
				height="767"
			>

			<source
				data-srcset="{{- image | img_url: '494x573', crop: image_crop }} 1x, {{ image | img_url: '988x1146', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 991px)"
				width="494"
				height="573"
			>

			<source
				data-srcset="{{- image | img_url: '598x668', crop: image_crop }} 1x, {{ image | img_url: '1196x1336', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 1199px)"
				width="598"
				height="668"
			>

			<source
				data-srcset="{{- image | img_url: '748x795', crop: image_crop }} 1x, {{ image | img_url: '1496x1590', crop: image_crop }} 2x"
				srcset="{{ image | img_url: '10x', crop: image_crop }} 1x, {{ image | img_url: '10x', crop: image_crop }} 2x"
				media="(max-width: 1500px)"
				width="748"
				height="795"
			>

			<img
				class="shop-the-look__image"
				data-srcset="{{- image | img_url: '958x989', crop: image_crop }} 1x, {{ image | img_url: '1916x1978', crop: image_crop }} 2x"
				data-src="{{- image | img_url: '958x989', crop: image_crop -}}"
				src="{{- image | img_url: '10x', crop: image_crop -}}"
				alt="{{- image.alt -}}"
				width="958"
				height="989"
				style="{{ img_focal }}"
			>
		</picture>

		<noscript>
			<picture class="shop-the-look__image-wrapper-inner">
				<source
					srcset="{{ image | img_url: '380x380', crop: image_crop }} 1x, {{ image | img_url: '760x760', crop: image_crop }} 2x"
					media="(max-width: 380px)"
					width="380"
					height="380"
				>

				<source
					srcset="{{ image | img_url: '420x420', crop: image_crop }} 1x, {{ image | img_url: '840x840', crop: image_crop }} 2x"
					media="(max-width: 420px)"
					width="420"
					height="420"
				>

				<source
					srcset="{{ image | img_url: '480x480', crop: image_crop }} 1x, {{ image | img_url: '960x960', crop: image_crop }} 2x"
					media="(max-width: 480px)"
					width="480"
					height="480"
				>

				<source
					srcset="{{- image | img_url: '767x767', crop: image_crop }} 1x, {{ image | img_url: '1534x1534', crop: image_crop }} 2x"
					media="(max-width: 767px)"
					width="767"
					height="767"
				>

				<source
					srcset="{{- image | img_url: '494x573', crop: image_crop }} 1x, {{ image | img_url: '988x1146', crop: image_crop }} 2x"
					media="(max-width: 991px)"
					width="494"
					height="573"
				>

				<source
					srcset="{{- image | img_url: '598x668', crop: image_crop }} 1x, {{ image | img_url: '1196x1336', crop: image_crop }} 2x"
					media="(max-width: 1199px)"
					width="598"
					height="668"
				>

				<source
					srcset="{{- image | img_url: '748x795', crop: image_crop }} 1x, {{ image | img_url: '1496x1590', crop: image_crop }} 2x"
					media="(max-width: 1500px)"
					width="748"
					height="795"
				>

				<img
					class="shop-the-look__image"
					srcset="{{- image | img_url: '958x989', crop: image_crop }} 1x, {{ image | img_url: '1916x1978', crop: image_crop }} 2x"
					src="{{- image | img_url: '958x989', crop: image_crop -}}"
					alt="{{- image.alt -}}"
					width="958"
					height="989"
					style="{{ img_focal }}"
				>
			</picture>
		</noscript>
	{%- else -%}
		<picture class="shop-the-look__image-wrapper-inner">
			<source
				srcset="{{ image | img_url: '380x380', crop: image_crop }} 1x, {{ image | img_url: '760x760', crop: image_crop }} 2x"
				media="(max-width: 380px)"
				width="380"
				height="380"
			>

			<source
				srcset="{{ image | img_url: '420x420', crop: image_crop }} 1x, {{ image | img_url: '840x840', crop: image_crop }} 2x"
				media="(max-width: 420px)"
				width="420"
				height="420"
			>

			<source
				srcset="{{ image | img_url: '480x480', crop: image_crop }} 1x, {{ image | img_url: '960x960', crop: image_crop }} 2x"
				media="(max-width: 480px)"
				width="480"
				height="480"
			>

			<source
				srcset="{{- image | img_url: '767x767', crop: image_crop }} 1x, {{ image | img_url: '1534x1534', crop: image_crop }} 2x"
				media="(max-width: 767px)"
				width="767"
				height="767"
			>

			<source
				srcset="{{- image | img_url: '494x573', crop: image_crop }} 1x, {{ image | img_url: '988x1146', crop: image_crop }} 2x"
				media="(max-width: 991px)"
				width="494"
				height="573"
			>

			<source
				srcset="{{- image | img_url: '598x668', crop: image_crop }} 1x, {{ image | img_url: '1196x1336', crop: image_crop }} 2x"
				media="(max-width: 1199px)"
				width="598"
				height="668"
			>

			<source
				srcset="{{- image | img_url: '748x795', crop: image_crop }} 1x, {{ image | img_url: '1496x1590', crop: image_crop }} 2x"
				media="(max-width: 1500px)"
				width="748"
				height="795"
			>

			<img
				class="shop-the-look__image"
				srcset="{{- image | img_url: '958x989', crop: image_crop }} 1x, {{ image | img_url: '1916x1978', crop: image_crop }} 2x"
				src="{{- image | img_url: '958x989', crop: image_crop -}}"
				alt="{{- image.alt -}}"
				width="958"
				height="989"
				style="{{ img_focal }}"
			>
		</picture>
	{%- endif -%}
{%- else -%}
	<div class="shop-the-look__image-wrapper-inner">
		{{- 'collection-1' | placeholder_svg_tag: 'shop-the-look__image' -}}
	</div>
{% endif %}
