{%- comment -%}
------------------------------------------------------------------------------
	Section: Ticker (Only settings.design == 'alternate')
------------------------------------------------------------------------------
{%- endcomment -%}

{{- 'ticker-new.build.css' | asset_url | stylesheet_tag -}}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign text                   = section.settings.text -%}
{%- assign desktop_movement_speed = section.settings.desktop_movement_speed -%}
{%- assign mobile_movement_speed  = section.settings.mobile_movement_speed -%}
{%- assign text_color             = section.settings.text_color -%}
{%- assign section_background     = section.settings.section_background -%}

{%- capture ticker_styles -%}
	--text-color: {{ text_color }};
	--section-background: {{ section_background }};
	--desktop-movement-speed: {{ desktop_movement_speed }}s;
	--mobile-movement-speed: {{ mobile_movement_speed }}s;
{%- endcapture -%}

<section
	class="ticker-new js-ticker-container is-loading"
	style="{{- ticker_styles -}}"
>
	<div class="ticker-new__items js-ticker-content-container">
		{{- text -}}
	</div>
</section>

<script src="{{- 'section-ticker.build.min.js' | asset_url -}}" defer></script>
