<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="{{- settings.color_button -}}">

		{%- if settings.hide_search_engine -%}
			<meta name="robots" content="noindex">
		{%- endif -%}

		<link rel="canonical" href="{{- canonical_url -}}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{% if settings.favicon != blank %}
			<link rel="icon" href="{{- settings.favicon | img_url: '32x32' -}}" type="image/png">
		{% endif %}

		<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

		<title>
			{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
		</title>

		{%- render 'custom-variables.css' -%}

		{%- if page_description -%}
			<meta name="description" content="{{- page_description | escape -}}">
		{%- endif -%}

		{%- render 'social-meta-tags' -%}
		{%- render 'head-theme-meta', layout: 'password' -%}

		<link rel="stylesheet" href="{{- 'main.build.css' | asset_url -}}">

		{{ content_for_header }}

		<script>
			document.querySelector("html").classList.remove("no-js");
		</script>
	</head>

	{%- assign design 				= settings.design -%}
	{%- assign enable_accents_spot 	= settings.enable_accents_spot -%}

	<body class="template-password design-{{- settings.design }} {% if settings.enable_sepia %} sepia-background{% endif %}">
		<div class="password-page {% if design == 'alternate' and enable_accents_spot == true %} password-page--overflow-clip {%- endif -%}">
			{%- section "password-header" -%}

			<main class="password-main" role="main">
				{{ content_for_layout }}
			</main>

			{%- section "password-footer" -%}
		</div>

		<link rel="stylesheet" href="{{ 'deferred-main.build.css' | asset_url }}">

		{% render 'js-animate-observer' %}

		<script src="{{- 'main.build.min.js' | asset_url -}}" defer></script>
		<script src="{{- 'password.build.min.js' | asset_url -}}" defer></script>
	</body>
</html>
