{%- comment -%}
------------------------------------------------------------------------------
	Section: 404 template
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design = settings.design -%}

{%- if design == 'standard' -%}
	{{- "404-template.build.css" | asset_url | stylesheet_tag -}}

	{%- style -%}
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_mobile -}}px;
			padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
		}

		@media screen and (min-width: 768px) {
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_desktop -}}px;
				padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
			}
		}
	{%- endstyle -%}

	{%- assign label = section.settings.label -%}
	{%- assign heading = section.settings.heading -%}
	{%- assign subheading = section.settings.subheading -%}
	{%- assign text = section.settings.text -%}
	{%- assign button_url = section.settings.button_url -%}
	{%- assign button_text = section.settings.button_text -%}
	{%- assign menu = section.settings.menu -%}

	<section class="page-404">
		<div class="page-404__container">
			{%- if label != blank -%}
				<p class="subheading page-404__label">
					{{- label -}}
				</p>
			{%- endif -%}

			{%- if heading != blank -%}
				<h1 class="page-404__heading">
					{{- heading -}}
				</h1>
			{%- endif -%}

			{%- if subheading != blank -%}
				<p class="page-404__subheading">
					{{- subheading -}}
				</p>
			{%- endif -%}

			{%- if text != blank -%}
				<div class="page-404__text-wrapper section-rte">
					{{- text -}}
				</div>
			{%- endif -%}

			{%- if button_url != blank and button_text != blank -%}
				<a class="button button--secondary page-404__button" href="{{- button_url -}}">
					{{- button_text -}}
				</a>
			{%- endif -%}

			{%- if menu != blank -%}
				<ul class="page-404__navigation-list">
					{%- for link in linklists[menu].links -%}
						<li class="page-404__navigation-list-item">
							<a
								class="page-404__navigation-list-link"
								href="{{- link.url -}}"
							>
								{{- link.title -}}
							</a>
						</li>
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</div>
	</section>
{%- elsif design == 'alternate' -%}
	{%- render '404-template-new', section: section -%}
{%- endif -%}

{%- schema -%}
	{
		"name": "Page 404",
		"settings": [
			{
				"type": "text",
				"id": "label",
				"label": "Label"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "404"
			},
			{
				"type": "text",
				"id": "subheading",
				"label": "Subheading",
				"default": "Page not found"
			},
			{
				"type": "richtext",
				"id": "text",
				"label": "Text"
			},
			{
				"type": "url",
				"id": "button_url",
				"label": "Button link",
				"default": "/"
			},
			{
				"type": "text",
				"id": "button_text",
				"label": "Button label",
				"default": "Home page"
			},
			{
				"type": "link_list",
				"id": "menu",
				"label": "Navigation",
				"info": "Displays only top-level menu items."
			},
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "range",
				"id": "offset_top_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop offset top",
				"default": 65
			},
			{
				"type": "range",
				"id": "offset_bottom_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop offset bottom",
				"default": 100
			},
			{
				"type": "range",
				"id": "offset_top_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile offset top",
				"default": 40
			},
			{
				"type": "range",
				"id": "offset_bottom_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile offset bottom",
				"default": 30
			}
		]
	}
{%- endschema -%}

