{%- comment -%}
------------------------------------------------------------------------------
	Section: Activate account
------------------------------------------------------------------------------
{%- endcomment -%}

{{- "account-entrance.build.css" | asset_url | stylesheet_tag -}}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

<section class="account-entrance">
	<div class="account-entrance__container">
		<h1 class="account-entrance__heading">
			{{- "customer.activate_account.title" | t | upcase -}}
		</h1>

		<p class="account-entrance__text">
			{{- "customer.activate_account.subtext" | t -}}
		</p>

		{%- form "activate_customer_password", class: "account-entrance__form" -%}
			{%- if form.errors -%}
				<h2 class="account-entrance__error-title h3" tabindex="-1" autofocus>
					<span class="visually-hidden">{{ 'general.accessibility.error' | t }}</span>

					{{ 'general.accessibility.form_error_title' | t }}
				</h2>

				{{- form.errors | default_errors -}}
			{%- endif -%}

			<div class="input-wrapper account-entrance__input-wrapper">
				<input
					class="input account-entrance__input"
					type="password"
					value=""
					name="customer[password]"
					id="CustomerPassword"
					aria-label="{{- 'customer.activate_account.password_aria_label' | t | escape -}}"
					placeholder="{{- 'customer.activate_account.password' | t -}}"
				/>

				<label class="input-label" for="CustomerPassword">
					{{- "customer.activate_account.password" | t -}}
				</label>
			</div>

			<div class="input-wrapper account-entrance__input-wrapper">
				<input
					class="input account-entrance__input"
					type="password"
					value=""
					name="customer[password_confirmation]"
					id="CustomerPasswordConfirmation"
					aria-label="{{- 'customer.activate_account.password_confirm_aria_label' | t | escape -}}"
					placeholder="{{- 'customer.activate_account.password_confirm' | t -}}"
				/>

				<label class="input-label" for="CustomerPasswordConfirmation">
					{{- "customer.activate_account.password_confirm" | t -}}
				</label>
			</div>

			<div class="account-entrance__buttons-container">
				<input
					class="button button--secondary account-entrance__button"
					type="submit"
					aria-label="{{- 'customer.activate_account.submit_aria_label' | t | escape -}}"
					value="{{- 'customer.activate_account.submit' | t | upcase -}}"
				/>

				<input
					class="button button--primary account-entrance__button"
					type="submit"
					name="decline"
					aria-label="{{- 'customer.activate_account.cancel_aria_label' | t | escape -}}"
					value="{{- 'customer.activate_account.cancel' | t | upcase -}}"
				/>
			</div>
		{%- endform -%}
	</div>
</section>

{% schema %}
{
	"name": "Activate account template",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 30
		}
	]
}
{%- endschema -%}
