{%- comment -%}
------------------------------------------------------------------------------
	Section: Announcement bar
------------------------------------------------------------------------------
{%- endcomment -%}

{% case settings.design %}
	{% when 'alternate' %}
		{% render 'announcement-bar-new', section: section %}
	{% when 'standard' %}
		{%- assign show_announcement_bar 	= section.settings.show_announcement_bar -%}
		{%- assign autoplay_speed 		  	= section.settings.autoplay_speed | times: 1000 -%}
		{%- assign enable_autoplay 		  	= section.settings.enable_autoplay -%}
		{%- assign layout 					= section.settings.layout -%}
		{%- assign background_image 		= section.settings.background_image -%}
		{%- assign background_image_type 	= section.settings.background_image_type -%}
		{%- assign show_bottom_border 		= section.settings.show_bottom_border -%}
		{%- assign show_socials 			= section.settings.show_socials -%}
		{%- assign additional_menu 			= section.settings.additional_menu -%}
		{%- assign text_content_desktop 	= section.settings.text_content_desktop -%}
		{%- assign text_content_mobile 		= section.settings.text_content_mobile | default: text_content_desktop -%}
		{%- assign text_desktop 			= section.settings.text_desktop -%}
		{%- assign text_mobile 				= section.settings.text_mobile | default: text_desktop -%}
		{%- assign timer_year 				= section.settings.timer_year -%}
		{%- assign timer_month 				= section.settings.timer_month -%}
		{%- assign timer_day 				= section.settings.timer_day -%}
		{%- assign timer_hour 				= section.settings.timer_hour -%}
		{%- assign timer_timezone 			= section.settings.timer_timezone -%}
		{%- assign button_text 				= section.settings.button_text -%}
		{%- assign button_link 				= section.settings.button_link -%}
		{%- assign background_color 		= section.settings.background_color -%}
		{%- assign background_overlay 		= section.settings.background_overlay -%}
		{%- assign border_bottom_color 		= section.settings.border_bottom_color -%}
		{%- assign text_color 				= section.settings.text_color -%}
		{%- assign link_color 				= section.settings.link_color -%}
		{%- assign button_color 			= section.settings.button_color -%}
		{%- assign button_background 		= section.settings.button_background -%}
		{%- assign button_border 			= section.settings.button_border -%}
		{%- assign button_cross_color 		= section.settings.button_cross_color -%}
		{%- assign button_color_hover 		= section.settings.button_color_hover -%}
		{%- assign button_background_hover 	= section.settings.button_background_hover -%}
		{%- assign button_border_hover 		= section.settings.button_border_hover -%}
		{%- assign button_cross_hover 		= section.settings.button_cross_hover -%}
		{%- assign social_icon_color 		= section.settings.social_icon_color -%}
		{%- assign social_icon_color_hover 	= section.settings.social_icon_color_hover -%}

		{% assign show_additional_info 		= false %}
		{% assign use_slider 				= false %}

		{% if section.blocks.size > 0 %}
			{% assign use_slider = true %}
		{% endif %}

		{% if show_socials or linklists[additional_menu].links.size > 0 %}
			{% if use_slider == false %}
				{% assign show_additional_info = true %}
			{% endif %}
		{% endif %}

		{%- if background_image_type == "cover" -%}
			{%- assign img_size = "1920x" -%}
		{%- else -%}
			{%- assign img_size = "200x" -%}
		{%- endif -%}

		{%- capture section_styles -%}
			--background-color: {{- background_color -}}; {{-  -}}
			--background-overlay: {{- background_overlay -}}; {{-  -}}
			--text-color: {{- text_color -}}; {{-  -}}
			--border-bottom-color: {{- border_bottom_color -}}; {{-  -}}
			--bar-link-color: {{- link_color -}}; {{-  -}}
			--button-color: {{- button_color -}}; {{-  -}}
			--button-background: {{- button_background -}}; {{-  -}}
			--button-border: {{- button_border -}}; {{-  -}}
			--button-cross-color: {{- button_cross_color -}}; {{-  -}}
			--button-color-hover: {{- button_color_hover -}}; {{-  -}}
			--button-background-hover: {{- button_background_hover -}}; {{-  -}}
			--button-border-hover: {{- button_border_hover -}}; {{-  -}}
			--button-cross-hover: {{- button_cross_hover -}}; {{-  -}}
			--social-color: {{- social_icon_color -}}; {{-  -}}
			--social-color-hover: {{- social_icon_color_hover -}}; {{-  -}}
			{%- if background_image != blank -%}
				--bg-image: url('{{- background_image | img_url: img_size -}}'); {{-  -}}
				--bg-image-pos: {{ background_image.presentation.focal_point }};
			{%- endif -%}
		{%- endcapture -%}

		{%- capture announcement_bar_simple_text -%}
			{%- if text_content_desktop != blank -%}
				<div class="announcement-bar__text announcement-bar__text--desktop section-rte">
					{{- text_content_desktop -}}
				</div>

				<div class="announcement-bar__text announcement-bar__text--mobile section-rte">
					{{- text_content_mobile -}}
				</div>
			{%- endif -%}
		{%- endcapture -%}

		{%- capture timer -%}
			{%- if timer_year != blank and timer_month != blank and timer_day != blank and timer_hour != blank -%}
				<p class="announcement-bar__timer js-timer" role="timer" aria-live="off">
					<script class="js-timer-settings" type="application/json">
						{
							"year": {{- timer_year | json -}},
							"month": {{- timer_month | json -}},
							"day": {{- timer_day | json -}},
							"hour": {{- timer_hour | json -}},
							"timezone": {{- timer_timezone | json -}}
						}
					</script>

					<span class="announcement-bar__timer-value is-hidden js-timer-days-hundreds">0</span>

					<span class="js-timer-days-dozens">0</span>

					<span class="js-timer-days-units">0</span>

					<span>:</span>

					<span class="js-timer-hours-dozens">0</span>

					<span class="js-timer-hours-units">0</span>

					<span>:</span>

					<span class="js-timer-minutes-dozens">0</span>

					<span class="js-timer-minutes-units">0</span>

					<span>:</span>

					<span class="js-timer-seconds-dozens">0</span>

					<span class="js-timer-seconds-units">0</span>
				</p>
			{%- endif -%}
		{%- endcapture -%}

		{%- capture announcement_bar_countdown_timer -%}
			{%- if text_desktop != blank or timer != blank -%}
				<div class="announcement-bar__text-content-wrapper">
					{%- if text_desktop != blank -%}
						<p class="announcement-bar__text announcement-bar__text--desktop">
							{{- text_desktop -}}
						</p>

						<p class="announcement-bar__text announcement-bar__text--mobile">
							{{- text_mobile -}}
						</p>
					{%- endif -%}

					{%- if timer != blank -%}
						{{- timer -}}
					{%- endif -%}

					{%- if button_link != blank and button_text != blank -%}
						<a class="button button--secondary announcement-bar__link" href="{{- button_link -}}">
							{{- button_text -}}
						</a>
					{%- endif -%}
				</div>
			{%- endif -%}
		{%- endcapture -%}

		{%- if use_slider -%}
			{%- capture slider_content -%}
				<div class="announcement-bar__slider swiper js-announcement-bar-slider"
				     data-autoplay="{{ enable_autoplay }}"
				     data-autoplay-speed="{{ autoplay_speed }}"
				>
					<div class="swiper-wrapper">
						{% for block in section.blocks %}
							{% assign slide_layout 			= block.settings.slider_layout %}
							{% assign text_slider_desktop 	= block.settings.text_slider_desktop %}
							{% assign text_slider_mobile 	= block.settings.text_slider_mobile | default: text_slider_desktop %}

							<div class="swiper-slide">
								{% if slide_layout == 'simple_text' %}
									<div class="announcement-bar__text announcement-bar__text--desktop section-rte">{{ text_slider_desktop }}</div>
									<div class="announcement-bar__text announcement-bar__text--mobile section-rte">{{ text_slider_mobile }}</div>
								{% else %}
									{% assign text_slider_timer_desktop = block.settings.text_slider_timer_desktop %}
									{% assign text_slider_timer_mobile 	= block.settings.text_slider_timer_mobile | default: text_slider_timer_desktop %}
									{% assign slider_timer_year 		= block.settings.slider_timer_year %}
									{% assign slider_timer_month 		= block.settings.slider_timer_month %}
									{% assign slider_timer_day 			= block.settings.slider_timer_day %}
									{% assign slider_timer_hour 		= block.settings.slider_timer_hour %}
									{% assign slider_timer_timezone 	= block.settings.slider_timer_timezone %}
									{% assign slider_button_text 		= block.settings.slider_button_text %}
									{% assign slider_button_link 		= block.settings.slider_button_link %}

									{% if slider_timer_year != blank and slider_timer_month != blank and slider_timer_day != blank and slider_timer_hour != blank %}
										<div class="announcement-bar__text-content-wrapper">
											{%- if text_slider_timer_desktop != blank -%}
												<p class="announcement-bar__text announcement-bar__text--desktop">
													{{- text_slider_timer_desktop -}}
												</p>

												<p class="announcement-bar__text announcement-bar__text--mobile">
													{{- text_slider_timer_mobile -}}
												</p>
											{%- endif -%}

											<p class="announcement-bar__timer js-timer" role="timer" aria-live="off">
												<script class="js-timer-settings" type="application/json">
													{
														"year": {{- slider_timer_year | json -}},
												"month": {{- slider_timer_month | json -}},
												"day": {{- slider_timer_day | json -}},
												"hour": {{- slider_timer_hour | json -}},
												"timezone": {{- slider_timer_timezone | json -}}
													}
												</script>

												<span class="announcement-bar__timer-value is-hidden js-timer-days-hundreds">0</span>

												<span class="js-timer-days-dozens">0</span>

												<span class="js-timer-days-units">0</span>

												<span>:</span>

												<span class="js-timer-hours-dozens">0</span>

												<span class="js-timer-hours-units">0</span>

												<span>:</span>

												<span class="js-timer-minutes-dozens">0</span>

												<span class="js-timer-minutes-units">0</span>

												<span>:</span>

												<span class="js-timer-seconds-dozens">0</span>

												<span class="js-timer-seconds-units">0</span>
											</p>

											{%- if slider_button_link != blank and slider_button_text != blank -%}
												<a class="button button--secondary announcement-bar__link" href="{{- slider_button_link -}}">
													{{- slider_button_text -}}
												</a>
											{%- endif -%}
										</div>
									{% endif %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			{%- endcapture -%}
		{%- endif -%}

		{%- capture announcement_bar -%}
			{%- case layout -%}
				{%- when 'simple_text' -%}
					{%- if announcement_bar_simple_text != blank -%}
						{{- announcement_bar_simple_text -}}
					{%- endif -%}
				{%- when 'countdown_timer' -%}
					{%- if announcement_bar_countdown_timer != blank -%}
						{{- announcement_bar_countdown_timer -}}
					{%- endif -%}
			{%- endcase -%}
		{%- endcapture -%}

		{%- if show_announcement_bar and announcement_bar != blank -%}
			{% comment %}
				Add inline styles of 'announcement-bar.build.css' file. Critical css.
			{% endcomment %}
			<style>
				.announcement-bar {
					position: relative;
					padding: 14px 0;
					background-color: var(--background-color, #ffffff);
				}
				.announcement-bar.announcement-bar--with-image {
					background-image: var(--bg-image);
					background-position: var(--bg-image-pos);
				}
				.announcement-bar.announcement-bar--bg-repeat {
					background-repeat: repeat;
				}
				.announcement-bar.announcement-bar--bg-cover {
					background-repeat: no-repeat;
					background-size: cover;
				}
				.announcement-bar.announcement-bar--border-bottom {
					border-bottom: 1px solid var(--border-bottom-color, #e6e6e6);
				}
				.announcement-bar.is-hidden {
					display: none;
				}
				.announcement-bar::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--background-overlay);
				}
				.announcement-bar .announcement-bar__content {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					padding-left: 40px;
					padding-right: 40px;
				}
				.announcement-bar .announcement-bar__text-content-wrapper {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					gap: 5px;
				}
				.announcement-bar .announcement-bar__slider {
					text-align: center;
				}
				.announcement-bar .announcement-bar__text {
					font-size: calc(var(--body-font-size) * 0.875);
					line-height: 1.6;
					color: var(--text-color, #000000);
				}
				.announcement-bar .announcement-bar__text p {
					word-break: break-word;
				}
				.announcement-bar .announcement-bar__text p + * {
					margin-top: 5px;
				}
				.announcement-bar .announcement-bar__text a {
					color: var(--bar-link-color, #000000);
				}
				.announcement-bar .announcement-bar__text a:focus-visible {
					outline: 2px solid var(--bar-link-color, #000000);
				}
				.announcement-bar .announcement-bar__text.announcement-bar__text--desktop {
					display: none;
				}
				.announcement-bar .announcement-bar__timer {
					flex-shrink: 0;
					min-width: 121px;
					font-size: calc(var(--body-font-size) * 0.875);
					font-weight: 600;
					line-height: 1.6;
					color: var(--text-color, #000000);
				}
				.announcement-bar .announcement-bar__timer-value.is-hidden {
					display: none;
				}
				.announcement-bar .announcement-bar__link {
					display: inline-block;
					flex-shrink: 0;
					margin-inline-start: 15px;
					padding: 6px 16px;
					border: 1px solid var(--button-border, #000000);
					background-color: var(--button-background, #000000);
					font-size: calc(var(--body-font-size) * 0.875);
					line-height: 1.6;
					text-decoration: none;
					color: var(--button-color, #ffffff);
					min-width: 94px;
				}
				@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
					.announcement-bar .announcement-bar__link:hover {
						border-color: var(--button-border-hover, #757575);
						background-color: var(--button-background-hover, #757575);
						color: var(--button-color-hover, #000000);
					}
				}
				.announcement-bar .announcement-bar__extra-col {
					display: none;
					align-items: center;
					flex-shrink: 0;
					padding-inline-start: 15px;
				}
				.announcement-bar .announcement-bar__menu {
					display: flex;
					flex-wrap: wrap;
					gap: 15px;
				}
				.announcement-bar .announcement-bar__menu-link {
					font-size: calc(var(--body-font-size) * 0.8);
					-webkit-text-decoration-color: transparent;
					text-decoration-color: transparent;
					color: var(--bar-link-color, #000000);
					transition-property: text-decoration-color;
					transition-duration: var(--timing-base);
				}
				.announcement-bar .announcement-bar__menu-link:focus-visible {
					outline: 2px solid var(--bar-link-color, #000000);
				}
				@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
					.announcement-bar .announcement-bar__menu-link:hover {
						text-decoration-color: var(--bar-link-color, #000000);
						text-decoration: underline;
					}
				}
				.announcement-bar .social-links {
					padding-inline-start: 20px;
				}
				.announcement-bar .announcement-bar__social-icon {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 22px;
					height: 22px;
					text-decoration: none;
					color: var(--social-color);
					transition-property: color, fill;
					transition-duration: var(--timing-base);
				}
				.announcement-bar .announcement-bar__social-icon svg {
					width: 14px;
					height: 14px;
				}
				.announcement-bar .announcement-bar__social-icon:focus-visible {
					outline: 2px solid var(--social-color);
				}
				@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
					.announcement-bar .announcement-bar__social-icon:hover {
						color: var(--social-color-hover);
					}
				}
				.announcement-bar .announcement-bar__button-close {
					position: absolute;
					top: 50%;
					inset-inline-end: 18px;
					width: 25px;
					height: 25px;
					margin: 0;
					padding: 0;
					color: var(--button-cross-color, #000000);
					transform: translateY(-50%);
				}
				.announcement-bar .announcement-bar__button-close::before, .announcement-bar .announcement-bar__button-close::after {
					content: "";
					position: absolute;
					top: 50%;
					bottom: 0;
					width: 2px;
					height: 14px;
					background-color: var(--button-cross-color, #000000);
					transition-property: background-color;
					transition-duration: 0.4s;
					transition-timing-function: ease-in-out;
				}
				.announcement-bar .announcement-bar__button-close::before {
					transform: translateY(-50%) rotate(45deg);
				}
				.announcement-bar .announcement-bar__button-close:focus-visible {
					outline: 2px solid var(--button-cross-color, #000000);
					outline-offset: 2px;
				}
				.announcement-bar .announcement-bar__button-close::after {
					transform: translateY(-50%) rotate(-45deg);
				}
				@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
					.announcement-bar .announcement-bar__button-close:hover::before, .announcement-bar .announcement-bar__button-close:hover::after {
						background-color: var(--button-cross-hover, #757575);
					}
				}
				@media (max-width: 767.98px) {
					.announcement-bar .announcement-bar__text-content-wrapper {
						text-align: center;
					}
				}
				@media (min-width: 768px) {
					.announcement-bar .announcement-bar__content {
						justify-content: center;
					}
					.announcement-bar .announcement-bar__text-content-wrapper {
						flex-direction: row;
						align-items: center;
					}
					.announcement-bar .announcement-bar__text {
						display: none;
					}
					.announcement-bar .announcement-bar__text.announcement-bar__text--desktop {
						display: block;
					}
					.announcement-bar .announcement-bar__timer {
						margin-inline-start: 15px;
					}
					.announcement-bar .announcement-bar__link {
						margin-inline-start: 10px;
					}
				}
				@media (min-width: 1200px) {
					.announcement-bar .announcement-bar__content {
						padding-left: 70px;
						padding-right: 70px;
					}
					.announcement-bar .announcement-bar__content.announcement-bar__content--two-cols {
						justify-content: space-between;
						padding-inline-start: 40px;
					}
					.announcement-bar .announcement-bar__extra-col {
						display: flex;
					}
					.announcement-bar .announcement-bar__button-close {
						inset-inline-end: 35px;
						width: 30px;
					}
				}
			</style>

			{%- capture announcement_bar_classes -%}
				announcement-bar js-announcement-bar is-hidden announcement-bar--bg-{{- background_image_type -}} {{-  -}}
				{% if show_bottom_border %} announcement-bar--border-bottom {%- endif -%}
				{% if background_image != blank %} announcement-bar--with-image {%- endif -%}
			{%- endcapture -%}

	<section class="{{- announcement_bar_classes | strip_newlines -}}" style="{{- section_styles | strip_newlines -}}">
				<div class="announcement-bar__content {% if show_additional_info %}announcement-bar__content--two-cols{% endif %}">
					{% if use_slider %}
						{{- slider_content -}}
					{% else %}
						{{- announcement_bar -}}
					{% endif %}

					{% if show_additional_info %}
						<div class="announcement-bar__extra-col">
							{% if linklists[additional_menu].links.size > 0 %}
								<ul class="announcement-bar__menu">
									{% for link in linklists[additional_menu].links limit: 4 %}
										<li><a href="{{ link.url }}" class="announcement-bar__menu-link">{{ link.title }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}

							{% if show_socials %}
								{%- render "social-links", icon_class: "announcement-bar__social-icon" -%}
							{% endif %}
						</div>
					{% endif %}

					<button class="announcement-bar__button-close js-bar-closer"
					        aria-label="{{ 'general.accessibility.close_announcement_bar' | t | escape }}"
					        type="button"></button>
				</div>
			</section>

			{% if section.blocks.size > 1 %}
				<script src="{{- 'component-swiper-modules.build.min.js' | asset_url -}}" defer></script>
			{% endif %}

			<script src="{{- 'section-announcement-bar.build.min.js' | asset_url -}}" defer></script>
		{%- endif -%}
{% endcase %}

{%- schema -%}
{
	"name": "Announcement bar",
	"settings": [
		{
			"type": "header",
			"content": "Slideshow",
			"info": "The slideshow will work if blocks are added to the sections."
		},
		{
			"type": "checkbox",
			"id": "enable_autoplay",
			"label": "Enable autoplay",
			"default": true
		},
		{
			"type": "range",
			"id": "autoplay_speed",
			"label": "Autoplay speed",
			"unit": "s",
			"min": 3,
			"max": 10,
			"step": 1,
			"info": "Works only with enabled autoplay",
			"default": 5
		},
		{
			"type": "header",
			"content": "General"
		},
		{
			"type": "checkbox",
			"id": "show_announcement_bar",
			"label": "Show",
			"default": true
		},
		{
			"type": "select",
			"id": "layout",
			"label": "Layout",
			"options": [
				{
					"value": "countdown_timer",
					"label": "Countdown timer"
				},
				{
					"value": "simple_text",
					"label": "Simple text"
				}
			],
			"default": "simple_text"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background image",
			"info": "1920 x 150px recommended"
		},
		{
			"type": "select",
			"id": "background_image_type",
			"label": "Background image type",
			"options": [
				{
					"value": "repeat",
					"label": "Repeat"
				},
				{
					"value": "cover",
					"label": "Stretch"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_bottom_border",
			"label": "Show bottom border",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_socials",
			"label": "Show socials",
			"default": false
		},
		{
			"type": "link_list",
			"id": "additional_menu",
			"label": "Additional menu",
			"info": "Show first 4 links of the menu"
		},
		{
			"type": "header",
			"content": "Simple text"
		},
		{
			"type": "richtext",
			"id": "text_content_desktop",
			"label": "Text desktop",
			"default": "<p>Announcement bar text</p>"
		},
		{
			"type": "richtext",
			"id": "text_content_mobile",
			"label": "Text mobile",
			"info": "If the field is empty, then the desktop text will be used"
		},
		{
			"type": "header",
			"content": "Countdown timer"
		},
		{
			"type": "textarea",
			"id": "text_desktop",
			"label": "Text desktop",
			"default": "Set the date for the timer"
		},
		{
			"type": "textarea",
			"id": "text_mobile",
			"label": "Text mobile",
			"info": "If the field is empty, then the desktop text will be used"
		},
		{
			"type": "number",
			"id": "timer_year",
			"label": "Year",
			"info": "Write year in the next format, example: 2022"
		},
		{
			"type": "select",
			"id": "timer_month",
			"label": "Month",
			"options": [
				{
					"value": "0",
					"label": "Jan"
				},
				{
					"value": "1",
					"label": "Feb"
				},
				{
					"value": "2",
					"label": "Mar"
				},
				{
					"value": "3",
					"label": "Apr"
				},
				{
					"value": "4",
					"label": "May"
				},
				{
					"value": "5",
					"label": "Jun"
				},
				{
					"value": "6",
					"label": "Jul"
				},
				{
					"value": "7",
					"label": "Aug"
				},
				{
					"value": "8",
					"label": "Sep"
				},
				{
					"value": "9",
					"label": "Oct"
				},
				{
					"value": "10",
					"label": "Nov"
				},
				{
					"value": "11",
					"label": "Dec"
				}
			],
			"default": "0"
		},
		{
			"type": "select",
			"id": "timer_day",
			"label": "Day",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "7",
					"label": "7"
				},
				{
					"value": "8",
					"label": "8"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "10",
					"label": "10"
				},
				{
					"value": "11",
					"label": "11"
				},
				{
					"value": "12",
					"label": "12"
				},
				{
					"value": "13",
					"label": "13"
				},
				{
					"value": "14",
					"label": "14"
				},
				{
					"value": "15",
					"label": "15"
				},
				{
					"value": "16",
					"label": "16"
				},
				{
					"value": "17",
					"label": "17"
				},
				{
					"value": "18",
					"label": "18"
				},
				{
					"value": "19",
					"label": "19"
				},
				{
					"value": "20",
					"label": "20"
				},
				{
					"value": "21",
					"label": "21"
				},
				{
					"value": "22",
					"label": "22"
				},
				{
					"value": "23",
					"label": "23"
				},
				{
					"value": "24",
					"label": "24"
				},
				{
					"value": "25",
					"label": "25"
				},
				{
					"value": "26",
					"label": "26"
				},
				{
					"value": "27",
					"label": "27"
				},
				{
					"value": "28",
					"label": "28"
				},
				{
					"value": "29",
					"label": "29"
				},
				{
					"value": "30",
					"label": "30"
				},
				{
					"value": "31",
					"label": "31"
				}
			],
			"default": "1"
		},
		{
			"type": "select",
			"id": "timer_hour",
			"label": "Hour",
			"options": [
				{
					"value": "0",
					"label": "0"
				},
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "7",
					"label": "7"
				},
				{
					"value": "8",
					"label": "8"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "10",
					"label": "10"
				},
				{
					"value": "11",
					"label": "11"
				},
				{
					"value": "12",
					"label": "12"
				},
				{
					"value": "13",
					"label": "13"
				},
				{
					"value": "14",
					"label": "14"
				},
				{
					"value": "15",
					"label": "15"
				},
				{
					"value": "16",
					"label": "16"
				},
				{
					"value": "17",
					"label": "17"
				},
				{
					"value": "18",
					"label": "18"
				},
				{
					"value": "19",
					"label": "19"
				},
				{
					"value": "20",
					"label": "20"
				},
				{
					"value": "21",
					"label": "21"
				},
				{
					"value": "22",
					"label": "22"
				},
				{
					"value": "23",
					"label": "23"
				}
			],
			"default": "0"
		},
		{
			"type": "select",
			"id": "timer_timezone",
			"label": "Timezone",
			"options": [
				{
					"value": "+0",
					"label": "GMT"
				},
				{
					"value": "+1",
					"label": "GMT+1:00"
				},
				{
					"value": "+2",
					"label": "GMT+2:00"
				},
				{
					"value": "+3",
					"label": "GMT+3:00"
				},
				{
					"value": "+3.5",
					"label": "GMT+3:30"
				},
				{
					"value": "+4",
					"label": "GMT+4:00"
				},
				{
					"value": "+5",
					"label": "GMT+5:00"
				},
				{
					"value": "+5.5",
					"label": "GMT+5:30"
				},
				{
					"value": "+6",
					"label": "GMT+6:00"
				},
				{
					"value": "+7",
					"label": "GMT+7:00"
				},
				{
					"value": "+8",
					"label": "GMT+8:00"
				},
				{
					"value": "+9",
					"label": "GMT+9:00"
				},
				{
					"value": "+9.5",
					"label": "GMT+9:30"
				},
				{
					"value": "+10",
					"label": "GMT+10:00"
				},
				{
					"value": "+11",
					"label": "GMT+11:00"
				},
				{
					"value": "+12",
					"label": "GMT+12:00"
				},
				{
					"value": "-11",
					"label": "GMT-11:00"
				},
				{
					"value": "-10",
					"label": "GMT-10:00"
				},
				{
					"value": "-9",
					"label": "GMT-9:00"
				},
				{
					"value": "-8",
					"label": "GMT-8:00"
				},
				{
					"value": "-7",
					"label": "GMT-7:00"
				},
				{
					"value": "-6",
					"label": "GMT-6:00"
				},
				{
					"value": "-5",
					"label": "GMT-5:00"
				},
				{
					"value": "-4",
					"label": "GMT-4:00"
				},
				{
					"value": "-3.5",
					"label": "GMT-3:30"
				},
				{
					"value": "-3",
					"label": "GMT-3:00"
				},
				{
					"value": "-1",
					"label": "GMT-1:00"
				}
			],
			"default": "+0"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button label",
			"default": "Shop now"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "paragraph",
			"content": "Some colors will be ignored for alternate designs (Theme settings → Theme Design)"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "color_background",
			"id": "background_overlay",
			"label": "Background overlay"
		},
		{
			"type": "color",
			"id": "border_bottom_color",
			"label": "Border bottom color",
			"default": "#e6e6e6"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "link_color",
			"label": "Link",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_color",
			"label": "Button label",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_background",
			"label": "Button background",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_border",
			"label": "Button border",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_cross_color",
			"label": "Button cross",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_color_hover",
			"label": "Button label (hover)",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_background_hover",
			"label": "Button background (hover)",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "button_border_hover",
			"label": "Button border (hover)",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "button_cross_hover",
			"label": "Button cross (hover)",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "social_icon_color",
			"label": "Social icon",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "social_icon_color_hover",
			"label": "Social icon (hover)",
			"default": "#727272"
		}
	],
	"blocks": [
		{
			"type": "text_slide",
			"name": "Text slide",
			"settings": [
				{
					"type": "select",
					"id": "slider_layout",
					"label": "Layout",
					"options": [
						{
							"value": "countdown_timer",
							"label": "Countdown timer"
						},
						{
							"value": "simple_text",
							"label": "Simple text"
						}
					],
					"default": "simple_text"
				},
				{
					"type": "header",
					"content": "Simple text"
				},
				{
					"type": "richtext",
					"id": "text_slider_desktop",
					"label": "Text desktop",
					"default": "<p>Announcement bar text</p>"
				},
				{
					"type": "richtext",
					"id": "text_slider_mobile",
					"label": "Text mobile",
					"info": "If the field is empty, then the desktop text will be used"
				},
				{
					"type": "header",
					"content": "Countdown timer"
				},
				{
					"type": "textarea",
					"id": "text_slider_timer_desktop",
					"label": "Text desktop",
					"default": "Set the date for the timer"
				},
				{
					"type": "textarea",
					"id": "text_slider_timer_mobile",
					"label": "Text mobile",
					"info": "If the field is empty, then the desktop text will be used"
				},
				{
					"type": "number",
					"id": "slider_timer_year",
					"label": "Year",
					"info": "Write year in the next format, example: 2022"
				},
				{
					"type": "select",
					"id": "slider_timer_month",
					"label": "Month",
					"options": [
						{
							"value": "0",
							"label": "Jan"
						},
						{
							"value": "1",
							"label": "Feb"
						},
						{
							"value": "2",
							"label": "Mar"
						},
						{
							"value": "3",
							"label": "Apr"
						},
						{
							"value": "4",
							"label": "May"
						},
						{
							"value": "5",
							"label": "Jun"
						},
						{
							"value": "6",
							"label": "Jul"
						},
						{
							"value": "7",
							"label": "Aug"
						},
						{
							"value": "8",
							"label": "Sep"
						},
						{
							"value": "9",
							"label": "Oct"
						},
						{
							"value": "10",
							"label": "Nov"
						},
						{
							"value": "11",
							"label": "Dec"
						}
					],
					"default": "0"
				},
				{
					"type": "select",
					"id": "slider_timer_day",
					"label": "Day",
					"options": [
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						},
						{
							"value": "3",
							"label": "3"
						},
						{
							"value": "4",
							"label": "4"
						},
						{
							"value": "5",
							"label": "5"
						},
						{
							"value": "6",
							"label": "6"
						},
						{
							"value": "7",
							"label": "7"
						},
						{
							"value": "8",
							"label": "8"
						},
						{
							"value": "9",
							"label": "9"
						},
						{
							"value": "10",
							"label": "10"
						},
						{
							"value": "11",
							"label": "11"
						},
						{
							"value": "12",
							"label": "12"
						},
						{
							"value": "13",
							"label": "13"
						},
						{
							"value": "14",
							"label": "14"
						},
						{
							"value": "15",
							"label": "15"
						},
						{
							"value": "16",
							"label": "16"
						},
						{
							"value": "17",
							"label": "17"
						},
						{
							"value": "18",
							"label": "18"
						},
						{
							"value": "19",
							"label": "19"
						},
						{
							"value": "20",
							"label": "20"
						},
						{
							"value": "21",
							"label": "21"
						},
						{
							"value": "22",
							"label": "22"
						},
						{
							"value": "23",
							"label": "23"
						},
						{
							"value": "24",
							"label": "24"
						},
						{
							"value": "25",
							"label": "25"
						},
						{
							"value": "26",
							"label": "26"
						},
						{
							"value": "27",
							"label": "27"
						},
						{
							"value": "28",
							"label": "28"
						},
						{
						"value": "29",
						"label": "29"
						},
						{
							"value": "30",
							"label": "30"
						},
						{
							"value": "31",
							"label": "31"
						}
					],
					"default": "1"
				},
				{
					"type": "select",
					"id": "slider_timer_hour",
					"label": "Hour",
					"options": [
						{
							"value": "0",
							"label": "0"
						},
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						},
						{
							"value": "3",
							"label": "3"
						},
						{
							"value": "4",
							"label": "4"
						},
						{
							"value": "5",
							"label": "5"
						},
						{
							"value": "6",
							"label": "6"
						},
						{
							"value": "7",
							"label": "7"
						},
						{
							"value": "8",
							"label": "8"
						},
						{
							"value": "9",
							"label": "9"
						},
						{
							"value": "10",
							"label": "10"
						},
						{
							"value": "11",
							"label": "11"
						},
						{
							"value": "12",
							"label": "12"
						},
						{
							"value": "13",
							"label": "13"
						},
						{
							"value": "14",
							"label": "14"
						},
						{
							"value": "15",
							"label": "15"
						},
						{
							"value": "16",
							"label": "16"
						},
						{
							"value": "17",
							"label": "17"
						},
						{
							"value": "18",
							"label": "18"
						},
						{
							"value": "19",
							"label": "19"
						},
						{
							"value": "20",
							"label": "20"
						},
						{
							"value": "21",
							"label": "21"
						},
						{
							"value": "22",
							"label": "22"
						},
						{
							"value": "23",
							"label": "23"
						}
					],
					"default": "0"
				},
				{
					"type": "select",
					"id": "slider_timer_timezone",
					"label": "Timezone",
					"options": [
						{
							"value": "+0",
							"label": "GMT"
						},
						{
							"value": "+1",
							"label": "GMT+1:00"
						},
						{
							"value": "+2",
							"label": "GMT+2:00"
						},
						{
							"value": "+3",
							"label": "GMT+3:00"
						},
						{
							"value": "+3.5",
							"label": "GMT+3:30"
						},
						{
							"value": "+4",
							"label": "GMT+4:00"
						},
						{
							"value": "+5",
							"label": "GMT+5:00"
						},
						{
							"value": "+5.5",
							"label": "GMT+5:30"
						},
						{
							"value": "+6",
							"label": "GMT+6:00"
						},
						{
							"value": "+7",
							"label": "GMT+7:00"
						},
						{
							"value": "+8",
							"label": "GMT+8:00"
						},
						{
							"value": "+9",
							"label": "GMT+9:00"
						},
						{
							"value": "+9.5",
							"label": "GMT+9:30"
						},
						{
							"value": "+10",
							"label": "GMT+10:00"
						},
						{
							"value": "+11",
							"label": "GMT+11:00"
						},
						{
							"value": "+12",
							"label": "GMT+12:00"
						},
						{
							"value": "-11",
							"label": "GMT-11:00"
						},
						{
							"value": "-10",
							"label": "GMT-10:00"
						},
						{
							"value": "-9",
							"label": "GMT-9:00"
						},
						{
							"value": "-8",
							"label": "GMT-8:00"
						},
						{
							"value": "-7",
							"label": "GMT-7:00"
						},
						{
							"value": "-6",
							"label": "GMT-6:00"
						},
						{
							"value": "-5",
							"label": "GMT-5:00"
						},
						{
							"value": "-4",
							"label": "GMT-4:00"
						},
						{
							"value": "-3.5",
							"label": "GMT-3:30"
						},
						{
							"value": "-3",
							"label": "GMT-3:00"
						},
						{
							"value": "-1",
							"label": "GMT-1:00"
						}
					],
					"default": "+0"
				},
				{
					"type": "text",
					"id": "slider_button_text",
					"label": "Button label",
					"default": "Shop now"
				},
				{
					"type": "url",
					"id": "slider_button_link",
					"label": "Button link"
				}
			]
		}
	]
}
{%- endschema -%}
