{%- comment -%}
------------------------------------------------------------------------------
	Section: Banner
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design = settings.design -%}

{%- if design == 'standard' -%}

{%- assign section_background 		= section.settings.section_background -%}
{%- assign label_color 				= section.settings.label_color -%}
{%- assign heading_color 			= section.settings.heading_color -%}
{%- assign text_color 				= section.settings.text_color -%}
{%- assign link_color 				= section.settings.link_color -%}
{%- assign button_background 		= section.settings.button_background -%}
{%- assign button_color 			= section.settings.button_color -%}
{%- assign button_border 			= section.settings.button_border -%}
{%- assign button_background_hover 	= section.settings.button_background_hover -%}
{%- assign button_color_hover 		= section.settings.button_color_hover -%}
{%- assign button_border_hover 		= section.settings.button_border_hover -%}
{%- assign image_border_color       = section.settings.image_border_color -%}

{%- capture section_colors -%}
	--banner-background-color: {{- section_background -}}; {{-  -}}
	--banner-label-color: {{- label_color -}}; {{-  -}}
	--banner-heading-color: {{- heading_color -}}; {{-  -}}
	--banner-text-color: {{- text_color -}}; {{-  -}}
	--banner-link-color: {{- link_color -}}; {{-  -}}
	--banner-button-background: {{- button_background -}}; {{-  -}}
	--banner-button-color: {{- button_color -}}; {{-  -}}
	--banner-button-border: {{- button_border -}}; {{-  -}}
	--banner-button-background-hover: {{- button_background_hover -}}; {{-  -}}
	--banner-button-color-hover: {{- button_color_hover -}}; {{-  -}}
	--banner-button-border-hover: {{- button_border_hover -}}; {{-  -}}
	--banner-image-border-color: {{- image_border_color -}};
{%- endcapture -%}

{%- capture banner -%}
	{%- if section.blocks.size > 0 -%}
		{%- for block in section.blocks -%}
			{%- assign media_type 					  			= block.settings.media_type -%}
			{%- assign label 						  			= block.settings.label -%}
			{%- assign heading						  			= block.settings.heading -%}
			{%- assign text 						  			= block.settings.text -%}
			{%- assign button_text 					  			= block.settings.button_text -%}
			{%- assign button_url 					  			= block.settings.button_url -%}
			{%- assign button_aria 							  	= block.settings.button_aria -%}
			{%- assign make_link_full_media 					= block.settings.make_link_full_media -%}
			{%- assign image_desktop 						  	= block.settings.image_desktop -%}
			{%- assign image_mobile 						  	= block.settings.image_mobile | default: image_desktop -%}
			{%- assign background_overlay					  	= block.settings.background_overlay -%}
			{%- assign background_image_desktop		 		 	= block.settings.background_image_desktop -%}
			{%- assign background_image_mobile				  	= block.settings.background_image_mobile | default: background_image_desktop -%}
			{%- assign enable_lazy_load 					  	= block.settings.enable_lazy_load -%}
			{%- assign html_video_desktop 		  				= block.settings.html_video_desktop -%}
			{%- assign html_video_mobile 		  				= block.settings.html_video_mobile | default: html_video_desktop -%}
			{%- assign external_video_url_desktop 				= block.settings.external_video_url_desktop -%}
			{%- assign external_video_url_mobile 				= block.settings.external_video_url_mobile | default: external_video_url_desktop -%}
			{%- assign content_alignment 						= block.settings.content_alignment -%}
			{%- assign content_alignment_mobile 				= block.settings.content_alignment_mobile -%}
			{%- assign block_alignment 							= block.settings.block_alignment -%}
			{%- assign overlay_opacity 							= block.settings.overlay_opacity -%}
			{%- assign overlay_color 							= block.settings.overlay_color -%}
			{%- assign timer_year 								= block.settings.timer_year -%}
			{%- assign timer_month 								= block.settings.timer_month -%}
			{%- assign timer_day 								= block.settings.timer_day -%}
			{%- assign timer_hour 								= block.settings.timer_hour -%}
			{%- assign timer_timezone 							= block.settings.timer_timezone -%}
			{%- assign timer_cell_background_color  			= block.settings.timer_cell_background_color -%}
			{%- assign timer_cell_color 						= block.settings.timer_cell_color -%}
			{%- assign timer_label_color 						= block.settings.timer_label_color -%}
			{%- assign image_border_width           			= block.settings.image_border_width -%}
			{%- assign image_border_indent_desktop      		= block.settings.image_border_indent_desktop -%}
			{%- assign image_border_indent_mobile       		= block.settings.image_border_indent_mobile -%}
			{%- assign background_border_width      			= block.settings.image_border_width -%}
			{%- assign background_image_border_width			= block.settings.background_image_border_width -%}
			{%- assign background_image_border_indent_desktop	= block.settings.background_image_border_indent_desktop -%}
			{%- assign background_image_border_indent_mobile	= block.settings.background_image_border_indent_mobile -%}
			{%- assign background_image_border_color			= block.settings.background_image_border_color -%}
			{%- assign desktop_image_height 					= block.settings.desktop_image_height -%}
			{%- assign mobile_image_height 						= block.settings.mobile_image_height -%}

			{%- if desktop_image_height != blank and desktop_image_height != 'auto' -%}
				{%- assign image_height_desktop = desktop_image_height | replace: 'px', '' -%}
			{%- endif -%}

			{%- if mobile_image_height != blank and mobile_image_height != 'auto' -%}
				{%- assign image_height_mobile = mobile_image_height | replace: 'px', '' -%}
			{%- endif -%}

			{%- if block.type == 'full_width' or block.type == 'countdown_timer' -%}
				{%- assign is_full_width = true -%}
			{%- else -%}
				{%- assign is_full_width = false -%}
			{%- endif -%}

			{%- if block.type == 'countdown_timer' or media_type == 'html_video' or media_type == 'iframe_video' -%}
				{%- assign is_script_needed = true -%}
			{%- endif -%}

			{%- capture image -%}
				{%- if image_desktop != blank -%}
					{%- if is_full_width == false -%}
						{%- assign image_width_991 = 496 -%}
						{%- assign image_width_1199 = 600 -%}
						{%- assign image_width_1500 = 750 -%}
						{%- assign image_width_1680 = 840 -%}
						{%- assign image_width_1920 = 960 -%}
					{%- endif -%}

					{%- render
						'banner-image',
						image_desktop: image_desktop,
						image_mobile: image_mobile,
						enable_lazy_load: enable_lazy_load,
						image_width_991: image_width_991,
						image_width_1199: image_width_1199,
						image_width_1500: image_width_1500,
						image_width_1680: image_width_1680,
						image_width_1920: image_width_1920,
						image_height_mobile: image_height_mobile,
						image_height_desktop: image_height_desktop
					-%}
				{%- endif -%}
			{%- endcapture -%}

			{%- capture html_video -%}
				{%- if html_video_desktop != blank -%}
					<video
						class="banner__media banner__video js-video"
						data-device="desktop"
						data-type="html"
						loop
						muted
						playsinline
						tabindex="-1"
						aria-hidden="true"
					>
						{%- for source in html_video_desktop.sources -%}
							{%- if source.mime_type == 'video/mp4' -%}
								<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
							{%- endif -%}
						{%- endfor -%}
					</video>

					<video
						class="banner__media banner__video banner__video--mobile js-video"
						data-device="mobile"
						data-type="html"
						loop
						muted
						playsinline
						tabindex="-1"
						aria-hidden="true"
					>
						{%- for source in html_video_mobile.sources -%}
							{%- if source.mime_type == 'video/mp4' -%}
								<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
							{%- endif -%}
						{%- endfor -%}
					</video>
				{%- endif -%}
			{%- endcapture -%}

			{%- if external_video_url_desktop != nil -%}
				{%- capture external_video -%}
					{%- if external_video_url_desktop != nil -%}
						{%- if external_video_url_desktop.type == 'youtube' -%}
							<div
								class="banner__media banner__video js-video"
								data-device="desktop"
								data-type="{{- external_video_url_desktop.type -}}"
							>
								<div
									class="js-video-youtube"
									data-video-id="{{- external_video_url_desktop.id -}}"
									tabindex="-1"
									aria-hidden="true"
								></div>
							</div>
						{%- else -%}
							<div
								class="banner__media banner__video js-video"
								data-device="desktop"
								data-video-id="{{- external_video_url_desktop.id -}}"
								data-type="{{- external_video_url_desktop.type -}}"
								aria-hidden="true"
							></div>
						{%- endif -%}
					{%- endif -%}

					{%- if external_video_url_mobile != nil -%}
						{%- if external_video_url_mobile.type == 'youtube' -%}
							<div
								class="banner__media banner__video banner__video--mobile js-video"
								data-device="mobile"
								data-type="{{- external_video_url_mobile.type -}}"
							>
								<div
									class="js-video-youtube"
									data-video-id="{{- external_video_url_mobile.id -}}"
									tabindex="-1"
									aria-hidden="true"
								></div>
							</div>
						{%- else -%}
							<div
								class="banner__media banner__video banner__video--mobile js-video"
								data-device="mobile"
								data-video-id="{{- external_video_url_mobile.id -}}"
								data-type="{{- external_video_url_mobile.type -}}"
								aria-hidden="true"
							></div>
						{%- endif -%}
					{%- endif -%}
				{%- endcapture -%}
			{%- endif -%}

			{%- capture banner_media -%}
				{%- case media_type -%}
					{%- when 'image' -%}
						{{- image -}}
					{%- when 'html_video' -%}
						{{- html_video -}}
					{%- when 'iframe_video' -%}
						{{- external_video -}}
				{%- endcase -%}
			{%- endcapture -%}

			{%- capture timer -%}
				{%- if timer_year != blank and timer_month != blank and timer_day != blank and timer_hour != blank -%}
					<div class="banner__timer js-timer" role="timer" aria-live="off">
						<script class="js-timer-settings" type="application/json">
							{
								"year": {{- timer_year | json -}},
								"month": {{- timer_month | json -}},
								"day": {{- timer_day | json -}},
								"hour": {{- timer_hour | json -}},
								"timezone": {{- timer_timezone | json -}}
							}
						</script>

						<div class="banner__timer-col">
							<div class="banner__timer-values">
								<p class="h2 is-hidden banner__timer-value js-timer-days-hundreds">
									0
								</p>

								<p class="h2 banner__timer-value js-timer-days-dozens">
									0
								</p>

								<p class="h2 banner__timer-value js-timer-days-units">
									0
								</p>
							</div>

							<p class="text banner__timer-label">
								<span class="banner__timer-text banner__timer-text--desktop">{{- 'sections.banner.timer_days_label' | t -}}</span>
								<span class="banner__timer-text banner__timer-text--mobile">{{- 'sections.banner.timer_days_label_short' | t -}}</span>
							</p>
						</div>

						<div class="banner__timer-col">
							<div class="banner__timer-values">
								<p class="h2 banner__timer-value js-timer-hours-dozens">
									0
								</p>

								<p class="h2 banner__timer-value js-timer-hours-units">
									0
								</p>
							</div>

							<p class="text banner__timer-label">
								<span class="banner__timer-text banner__timer-text--desktop">{{- 'sections.banner.timer_hours_label' | t -}}</span>
								<span class="banner__timer-text banner__timer-text--mobile">{{- 'sections.banner.timer_hours_label_short' | t -}}</span>
							</p>
						</div>

						<div class="banner__timer-col">
							<div class="banner__timer-values">
								<p class="h2 banner__timer-value js-timer-minutes-dozens">
									0
								</p>

								<p class="h2 banner__timer-value js-timer-minutes-units">
									0
								</p>
							</div>

							<p class="text banner__timer-label">
								<span class="banner__timer-text banner__timer-text--desktop">{{- 'sections.banner.timer_minutes_label' | t -}}</span>
								<span class="banner__timer-text banner__timer-text--mobile">{{- 'sections.banner.timer_minutes_label_short' | t -}}</span>
							</p>
						</div>

						<div class="banner__timer-col">
							<div class="banner__timer-values">
								<p class="h2 banner__timer-value js-timer-seconds-dozens">
									0
								</p>

								<p class="h2 banner__timer-value js-timer-seconds-units">
									0
								</p>
							</div>

							<p class="text banner__timer-label">
								<span class="banner__timer-text banner__timer-text--desktop">{{- 'sections.banner.timer_seconds_label' | t -}}</span>
								<span class="banner__timer-text banner__timer-text--mobile">{{- 'sections.banner.timer_seconds_label_short' | t -}}</span>
							</p>
						</div>
					</div>
				{%- endif -%}
			{%- endcapture -%}

			{%- capture banner_content -%}
				{%- if label != blank or heading != blank or text != blank or button_url != blank or timer != blank -%}
					<div class="banner__content js-animate">
						{%- if label != blank -%}
							<p class="banner__label">
								{{- label -}}
							</p>
						{%- endif -%}

						{%- if heading != blank -%}
							<h2 class="h2 banner__heading">
								{{- heading -}}
							</h2>
						{%- endif -%}

						{%- if text != blank -%}
							<div class="banner__text section-rte">
								{{- text -}}
							</div>
						{%- endif -%}

						{%- if timer != blank -%}
							{{- timer -}}
						{%- endif -%}

						{%- if button_text != blank and button_url != blank -%}
							<a
								class="button button--secondary banner__button"
								href="{{- button_url -}}"
								aria-label="{{- button_aria | escape -}}"
							>
									{{- button_text -}}
							</a>
						{%- endif -%}
					</div>
				{%- endif -%}

				{%- if background_image_desktop != blank -%}
					<div class="banner__col-background">
						{%- assign image_width_991 = 496 -%}
						{%- assign image_width_1199 = 600 -%}
						{%- assign image_width_1500 = 750 -%}
						{%- assign image_width_1680 = 840 -%}
						{%- assign image_width_1920 = 960 -%}

						{%- render
							'banner-image',
							image_desktop: background_image_desktop,
							image_mobile: background_image_mobile,
							enable_lazy_load: enable_lazy_load,
							image_width_991: image_width_991,
							image_width_1199: image_width_1199,
							image_width_1500: image_width_1500,
							image_width_1680: image_width_1680,
							image_width_1920: image_width_1920,
							image_height_mobile: image_height_mobile,
							image_height_desktop: image_height_desktop
						-%}
					</div>
				{%- endif -%}
			{%- endcapture -%}

			{%- case content_alignment -%}
				{%- when 'center' -%}
					{%- assign timer_content_alignment = 'center' -%}
				{%- when 'right' -%}
					{%- assign timer_content_alignment = 'flex-end' -%}
				{%- else -%}
					{%- assign timer_content_alignment = 'flex-start' -%}
			{%- endcase -%}

			{%- case content_alignment_mobile -%}
				{%- when 'center' -%}
					{%- assign timer_content_alignment_mobile = 'center' -%}
				{%- when 'right' -%}
					{%- assign timer_content_alignment_mobile = 'flex-end' -%}
				{%- else -%}
					{%- assign timer_content_alignment_mobile = 'flex-start' -%}
			{%- endcase -%}

			{%- capture banner_wrapper_classes -%}
				banner__wrapper {{-  -}}
				{% if overlay_opacity > 0 %} banner__wrapper--overlayed {{-  -}} {%- endif -%}
				{% if block.type == 'two_columns' %} banner__wrapper--two-cols {% else %} banner__wrapper--one-col {%- endif -%}
			{%- endcapture -%}

			{%- capture banner_wrapper_styles -%}
				{% if block.type == 'countdown_timer' or block.type == 'full_width' or block.type == 'two_columns' %}
					--banner-min-height-desktop: {{ desktop_image_height }}; {{-  -}}
					--banner-min-height-mobile: {{ mobile_image_height }}; {{-  -}}
				{% endif %}
				--banner-inner-content-alignment: {{- content_alignment | replace: 'left', 'start' | replace: 'right', 'end' -}}; {{-  -}}
				--banner-inner-content-alignment-mobile: {{- content_alignment_mobile | replace: 'left', 'start' | replace: 'right', 'end' -}}; {{-  -}}
				--banner-overlay-opacity: {{- overlay_opacity | times: 0.01 -}}; {{-  -}}
				--banner-overlay-color: {{- overlay_color  -}}; {{-  -}}
				--banner-image-border-width: {{ image_border_width }}px; {{- -}}
				--banner-image-border-indent-desktop: {{ image_border_indent_desktop }}px; {{- -}}
				--banner-image-border-indent-mobile: {{ image_border_indent_mobile }}px; {{- -}}
				{% if block.type == 'countdown_timer' or block.type == 'full_width' %}
					--banner-block-alignment: {{- block_alignment -}}; {{-  -}}

					{%- if block_alignment == "flex-start" -%}
						{%- assign banner_inner_class = "banner__inner--left" -%}
					{%- elsif block_alignment == "flex-end" -%}
						{%- assign banner_inner_class = "banner__inner--right" -%}
					{%- endif -%}
				{%- endif -%}
				{% if block.type == 'countdown_timer' %}
					--timer-content-alignment: {{- timer_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' -}}; {{-  -}}
					--timer-content-alignment-mobile: {{- timer_content_alignment_mobile | replace: 'left', 'start' | replace: 'right', 'end' -}}; {{-  -}}
					--timer-cell-background-color: {{- timer_cell_background_color -}}; {{-  -}}
					--timer-cell-color: {{- timer_cell_color -}}; {{-  -}}
					--timer-label-color: {{- timer_label_color -}};
				{%- endif -%}
				{%- if block.type == 'two_columns' -%}
					--background-overlay: {{- background_overlay | default: "linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)" -}} {{-  -}};
					--background-image-border-width: {{- background_image_border_width -}}px; {{-  -}}
					--background-image-border-indent-desktop: {{- background_image_border_indent_desktop -}}px; {{-  -}}
					--background-image-border-indent-mobile: {{- background_image_border_indent_mobile -}}px; {{-  -}}
					--background-image-border-color: {{- background_image_border_color -}};
				{%- endif -%}
			{%- endcapture -%}

			{%- capture media_wrapper_classes -%}
				banner__media-wrapper js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %} {{-  -}}
				{% if media_type == 'html_video' or media_type == 'iframe_video' %} js-videos {%- endif -%}
			{%- endcapture -%}

			{%- capture banner_full_size -%}
				<div class="{{- banner_wrapper_classes | strip_newlines -}}" style="{{- banner_wrapper_styles | strip_newlines -}}">
					{% if button_url != blank and make_link_full_media %}
						<a href="{{ button_url }}" class="banner__link--full" aria-label="{{ button_aria }}"></a>
					{% endif %}

					{%- if banner_media != blank -%}
						<div class="{{- media_wrapper_classes | strip_newlines -}}">
							{{- banner_media -}}
						</div>
					{%- endif -%}

					{%- if banner_content != blank -%}
						<div class="banner__inner {{ banner_inner_class -}}">
							{{- banner_content -}}
						</div>
					{%- endif -%}
				</div>
			{%- endcapture -%}

			{%- case block.type -%}
			{%- when 'full_width' or 'countdown_timer' -%}
				{{- banner_full_size -}}
			{%- when 'two_columns' -%}
				{%- assign media_content_position 	= block.settings.media_content_position -%}

				{%- capture banner_two_cols -%}
					{%- case media_content_position -%}
						{%- when 'first' -%}
							{%- if banner_media != blank -%}
								<div class="banner__col">
									{% if button_url != blank and make_link_full_media %}
										<a href="{{ button_url }}" class="banner__link--full" aria-label="{{ button_aria }}"></a>
									{% endif %}

									<div class="{{ media_wrapper_classes | strip_newlines }}">
										{{- banner_media -}}
									</div>
								</div>
							{%- endif -%}

							<div class="banner__col banner__col--text">
								{{- banner_content -}}
							</div>
						{%- when 'last' -%}
							<div class="banner__col banner__col--text">
								{{- banner_content -}}
							</div>

							{%- if banner_media != blank -%}
								<div class="banner__col">
									{% if button_url != blank and make_link_full_media %}
										<a href="{{ button_url }}" class="banner__link--full" aria-label="{{ button_aria }}"></a>
									{% endif %}

									<div class="{{ media_wrapper_classes | strip_newlines }}">
										{{- banner_media -}}
									</div>
								</div>
							{%- endif -%}
					{%- endcase -%}
				{%- endcapture -%}

				<div class="{{- banner_wrapper_classes | strip_newlines -}}" style="{{- banner_wrapper_styles | strip_newlines -}}">
					{{- banner_two_cols -}}
				</div>
			{%- endcase -%}
		{%- endfor -%}
	{%- endif -%}
{%- endcapture -%}

{%- if banner != blank -%}
	{{- 'banner.build.css' | asset_url | stylesheet_tag -}}

	{%- style -%}
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_mobile -}}px;
			padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
		}

		@media screen and (min-width: 768px) {
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_desktop -}}px;
				padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
			}
		}
	{%- endstyle -%}

	<section class="banner js-banner" style="{{- section_colors | strip_newlines -}}">
		{{- banner -}}
	</section>

	{%- if is_script_needed == true -%}
		<script src="{{- 'component-video.build.min.js' | asset_url -}}" defer></script>
		<script src="{{- 'section-banner.build.min.js' | asset_url -}}" defer></script>
	{%- endif -%}
{%- endif -%}

{%- elsif design == 'alternate' -%}
	{%- render 'banner-new', section: section -%}
{%- endif -%}

{%- schema -%}
{
	"name": "Banner",
	"max_blocks": 1,
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "section_background",
			"label": "Section background",
			"default": "#222222"
		},
		{
			"type": "color",
			"id": "label_color",
			"label": "Label",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "link_color",
			"label": "Link",
			"default": "#D33636"
		},
		{
			"type": "color",
			"id": "button_background",
			"label": "Button background",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_color",
			"label": "Button label",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_border",
			"label": "Button border",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_background_hover",
			"label": "Button background (hover)",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_color_hover",
			"label": "Button label (hover)",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_border_hover",
			"label": "Button border (hover)",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "image_border_color",
			"label": "Image border color",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_circle_text_color",
			"label": "Button text",
			"default": "#F9F5F0",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_background_color",
			"label": "Button background",
			"default": "transparent",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_border_color",
			"label": "Button border",
			"default": "#F9F5F0",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_outer_border_color",
			"label": "Button outer border",
			"default": "#8B8885",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_text_color_hover",
			"label": "Button text (hover)",
			"default": "#2C2A28",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_background_color_hover",
			"label": "Button background (hover)",
			"default": "#EAB88C",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_border_color_hover",
			"label": "Button border (hover)",
			"default": "#EAB88C",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_circle_outer_border_color_hover",
			"label": "Button outer border (hover)",
			"default": "#8B8885",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "header",
			"content": "Container"
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Make full width",
			"default": false,
			"info": "The setting is used for alternative design. If unchecked - container width will be set based on the group 'Layout' settings in the Theme settings."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "full_width",
			"name": "Full width",
			"settings": [
				{
					"type": "header",
					"content": "General"
				},
				{
					"type": "select",
					"id": "desktop_image_height",
					"label": "Desktop banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
						{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
							"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						},
						{
							"value": "900px",
							"label": "900px"
						},
						{
							"value": "auto",
							"label": "Based on the content"
						}
					],
					"default": "600px"
				},
				{
					"type": "select",
					"id": "mobile_image_height",
					"label": "Mobile banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
						{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
							"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						},
						{
							"value": "auto",
							"label": "Based on the content"
						}
					],
					"default": "350px"
				},
				{
					"type": "select",
					"id": "media_type",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "iframe_video"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Banner"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Give customers details about the banner image or content on the banner.</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "text",
					"id": "button_aria",
					"label": "Button aria-label",
					"default": "Button label",
					"info": "Need for good accessibility, e.g. 'Learn more about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-banner)"
				},
				{
					"type": "checkbox",
					"id": "make_link_full_media",
					"label": "Make link clickable on the entire media",
					"default": false
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"label": "Overlay opacity",
					"min": 0,
					"max": 100,
					"unit": "%",
					"step": 1,
					"default": 0
				},
				{
					"type": "color",
					"id": "overlay_color",
					"label": "Overlay color",
					"default": "#000000"
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Image desktop",
					"info": "Only works with ‘Image’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image mobile",
					"info": "Only works with ‘Image’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "range",
					"id": "image_border_width",
					"min": 0,
					"max": 6,
					"step": 1,
					"unit": "px",
					"label": "Image border width",
					"default": 0
				},
				{
					"type": "range",
					"id": "image_border_indent_desktop",
					"min": 0,
					"max": 30,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (desktop)",
					"default": 10
				},
				{
					"type": "range",
					"id": "image_border_indent_mobile",
					"min": 0,
					"max": 16,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (mobile)",
					"default": 10
				},
				{
					"type": "checkbox",
					"id": "enable_lazy_load",
					"label": "Enable lazy load",
					"default": true
				},
				{
					"type": "header",
					"content": "Video"
				},
				{
					"type": "video",
					"id": "html_video_desktop",
					"label": "HTML5 desktop video",
					"info": "Only works with ‘HTML5 video’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "html_video_mobile",
					"label": "HTML5 mobile video",
					"info": "Only works with ‘HTML5 video’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_desktop",
					"label": "Youtube/Vimeo desktop video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_mobile",
					"label": "Youtube/Vimeo mobile video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment desktop",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "content_alignment_mobile",
					"label": "Content alignment mobile",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "block_alignment",
					"label": "Block alignment",
					"options": [
						{
							"value": "flex-start",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "flex-end",
							"label": "Right"
						}
					],
					"default": "center"
				}
			]
		},
		{
			"type": "two_columns",
			"name": "Two columns",
			"settings": [
				{
					"type": "header",
					"content": "General"
				},
				{
					"type": "select",
					"id": "desktop_image_height",
					"label": "Desktop banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
						{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
						"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						},
						{
							"value": "900px",
							"label": "900px"
						},
						{
							"value": "auto",
							"label": "Based on the content"
						}
					],
					"default": "600px"
				},
				{
					"type": "select",
					"id": "mobile_image_height",
					"label": "Mobile banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
							{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
							"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						}
					],
					"default": "350px"
				},
				{
					"type": "select",
					"id": "media_type",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "image"
				},
				{
					"type": "select",
					"id": "media_content_position",
					"label": "Media content position",
					"options": [
						{
							"value": "first",
							"label": "First"
						},
						{
							"value": "last",
							"label": "Last"
						}
					],
					"default": "first"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Give customers details about the banner image or content on the banner.</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "text",
					"id": "button_aria",
					"label": "Button aria-label",
					"default": "Button label",
					"info": "Need for good accessibility, e.g. 'Learn more about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-banner)"
				},
				{
					"type": "checkbox",
					"id": "make_link_full_media",
					"label": "Make link clickable on the entire media",
					"default": false
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"label": "Overlay opacity",
					"min": 0,
					"max": 100,
					"unit": "%",
					"step": 1,
					"default": 0
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Image desktop",
					"info": "Only works with ‘Image’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image mobile",
					"info": "Only works with ‘Image’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "range",
					"id": "image_border_width",
					"min": 0,
					"max": 6,
					"step": 1,
					"unit": "px",
					"label": "Image border width",
					"default": 0
				},
				{
					"type": "range",
					"id": "image_border_indent_desktop",
					"min": 0,
					"max": 30,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (desktop)",
					"default": 10
				},
				{
					"type": "range",
					"id": "image_border_indent_mobile",
					"min": 0,
					"max": 16,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (mobile)",
					"default": 10
				},
				{
					"type": "image_picker",
					"id": "background_image_desktop",
					"label": "Background image desktop",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "background_image_mobile",
					"label": "Background image mobile",
					"info": "1534 x 1534px recommended"
				},
				{
					"type": "range",
					"id": "background_image_border_width",
					"min": 0,
					"max": 6,
					"step": 1,
					"unit": "px",
					"label": "Background image border width",
					"default": 0
				},
				{
					"type": "range",
					"id": "background_image_border_indent_desktop",
					"min": 0,
					"max": 30,
					"step": 1,
					"unit": "px",
					"label": "Background image border indent (desktop)",
					"default": 10
				},
				{
					"type": "range",
					"id": "background_image_border_indent_mobile",
					"min": 0,
					"max": 16,
					"step": 1,
					"unit": "px",
					"label": "Background image border indent (mobile)",
					"default": 10
				},
				{
					"type": "color",
					"id": "background_image_border_color",
					"label": "Background image border color",
					"default": "#fff"
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Background overlay",
					"default": "linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%)"
				},
				{
					"type": "checkbox",
					"id": "enable_lazy_load",
					"label": "Enable lazy load",
					"default": true
				},
				{
					"type": "header",
					"content": "Video"
				},
				{
					"type": "video",
					"id": "html_video_desktop",
					"label": "HTML5 desktop video",
					"info": "Only works with ‘HTML5 video’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "html_video_mobile",
					"label": "HTML5 mobile video",
					"info": "Only works with ‘HTML5 video’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_desktop",
					"label": "Youtube/Vimeo desktop video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_mobile",
					"label": "Youtube/Vimeo mobile video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment desktop",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "content_alignment_mobile",
					"label": "Content alignment mobile",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				}
			]
		},
		{
			"type": "countdown_timer",
			"name": "Countdown timer",
			"settings": [
				{
					"type": "header",
					"content": "General"
				},
				{
					"type": "select",
					"id": "desktop_image_height",
					"label": "Desktop banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
						{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
							"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						},
						{
							"value": "900px",
							"label": "900px"
						},
						{
							"value": "auto",
							"label": "Based on the content"
						}
					],
					"default": "600px"
				},
				{
					"type": "select",
					"id": "mobile_image_height",
					"label": "Mobile banner min height",
					"options": [
						{
							"value": "200px",
							"label": "200px"
						},
							{
							"value": "250px",
							"label": "250px"
						},
						{
							"value": "300px",
							"label": "300px"
						},
						{
							"value": "350px",
							"label": "350px"
						},
						{
							"value": "400px",
							"label": "400px"
						},
						{
							"value": "450px",
							"label": "450px"
						},
						{
							"value": "500px",
							"label": "500px"
						},
						{
							"value": "550px",
							"label": "550px"
						},
						{
							"value": "600px",
							"label": "600px"
						},
						{
							"value": "650px",
							"label": "650px"
						},
						{
							"value": "700px",
							"label": "700px"
						},
						{
							"value": "750px",
							"label": "750px"
						},
						{
							"value": "800px",
							"label": "800px"
						},
						{
							"value": "auto",
							"label": "Based on the content"
						}
					],
					"default": "350px"
				},
				{
					"type": "select",
					"id": "media_type",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "image"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Set the date for the timer"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Countdown timer"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "text",
					"id": "button_aria",
					"label": "Button aria-label",
					"default": "Button label",
					"info": "Need for good accessibility, e.g. 'Learn more about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-banner)"
				},
				{
					"type": "checkbox",
					"id": "make_link_full_media",
					"label": "Make link clickable on the entire media",
					"default": false
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"label": "Overlay opacity",
					"min": 0,
					"max": 100,
					"unit": "%",
					"step": 1,
					"default": 0
				},
				{
					"type": "color",
					"id": "overlay_color",
					"label": "Overlay color",
					"default": "#000000"
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Image desktop",
					"info": "Only works with ‘Image’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image mobile",
					"info": "Only works with ‘Image’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "range",
					"id": "image_border_width",
					"min": 0,
					"max": 6,
					"step": 1,
					"unit": "px",
					"label": "Image border width",
					"default": 0
				},
				{
					"type": "range",
					"id": "image_border_indent_desktop",
					"min": 0,
					"max": 30,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (desktop)",
					"default": 10
				},
				{
					"type": "range",
					"id": "image_border_indent_mobile",
					"min": 0,
					"max": 16,
					"step": 1,
					"unit": "px",
					"label": "Image border indent (mobile)",
					"default": 10
				},
				{
					"type": "checkbox",
					"id": "enable_lazy_load",
					"label": "Enable lazy load",
					"default": true
				},
				{
					"type": "header",
					"content": "Timer"
				},
				{
					"type": "number",
					"id": "timer_year",
					"label": "Year",
					"info": "Write year in the next format, example: 2022"
				},
				{
					"type": "select",
					"id": "timer_month",
					"label": "Month",
					"options": [
						{
							"value": "0",
							"label": "Jan"
						},
						{
							"value": "1",
							"label": "Feb"
						},
						{
							"value": "2",
							"label": "Mar"
						},
						{
							"value": "3",
							"label": "Apr"
						},
						{
							"value": "4",
							"label": "May"
						},
						{
							"value": "5",
							"label": "Jun"
						},
						{
							"value": "6",
							"label": "Jul"
						},
						{
							"value": "7",
							"label": "Aug"
						},
						{
							"value": "8",
							"label": "Sep"
						},
						{
							"value": "9",
							"label": "Oct"
						},
						{
							"value": "10",
							"label": "Nov"
						},
						{
							"value": "11",
							"label": "Dec"
						}
					],
					"default": "0"
				},
				{
					"type": "select",
					"id": "timer_day",
					"label": "Day",
					"options": [
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						},
						{
							"value": "3",
							"label": "3"
						},
						{
							"value": "4",
							"label": "4"
						},
						{
							"value": "5",
							"label": "5"
						},
						{
							"value": "6",
							"label": "6"
						},
						{
							"value": "7",
							"label": "7"
						},
						{
							"value": "8",
							"label": "8"
						},
						{
							"value": "9",
							"label": "9"
						},
						{
							"value": "10",
							"label": "10"
						},
						{
							"value": "11",
							"label": "11"
						},
						{
							"value": "12",
							"label": "12"
						},
						{
							"value": "13",
							"label": "13"
						},
						{
							"value": "14",
							"label": "14"
						},
						{
							"value": "15",
							"label": "15"
						},
						{
							"value": "16",
							"label": "16"
						},
						{
							"value": "17",
							"label": "17"
						},
						{
							"value": "18",
							"label": "18"
						},
						{
							"value": "19",
							"label": "19"
						},
						{
							"value": "20",
							"label": "20"
						},
						{
							"value": "21",
							"label": "21"
						},
						{
							"value": "22",
							"label": "22"
						},
						{
							"value": "23",
							"label": "23"
						},
						{
							"value": "24",
							"label": "24"
						},
						{
							"value": "25",
							"label": "25"
						},
						{
							"value": "26",
							"label": "26"
						},
						{
							"value": "27",
							"label": "27"
						},
						{
							"value": "28",
							"label": "28"
						},
						{
							"value": "29",
							"label": "29"
						},
						{
							"value": "30",
							"label": "30"
						},
						{
							"value": "31",
							"label": "31"
						}
					],
					"default": "1"
				},
				{
					"type": "select",
					"id": "timer_hour",
					"label": "Hour",
					"options": [
						{
							"value": "0",
							"label": "0"
						},
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						},
						{
							"value": "3",
							"label": "3"
						},
						{
							"value": "4",
							"label": "4"
						},
						{
							"value": "5",
							"label": "5"
						},
						{
							"value": "6",
							"label": "6"
						},
						{
							"value": "7",
							"label": "7"
						},
						{
							"value": "8",
							"label": "8"
						},
						{
							"value": "9",
							"label": "9"
						},
						{
							"value": "10",
							"label": "10"
						},
						{
							"value": "11",
							"label": "11"
						},
						{
							"value": "12",
							"label": "12"
						},
						{
							"value": "13",
							"label": "13"
						},
						{
							"value": "14",
							"label": "14"
						},
						{
							"value": "15",
							"label": "15"
						},
						{
							"value": "16",
							"label": "16"
						},
						{
							"value": "17",
							"label": "17"
						},
						{
							"value": "18",
							"label": "18"
						},
						{
							"value": "19",
							"label": "19"
						},
						{
							"value": "20",
							"label": "20"
						},
						{
							"value": "21",
							"label": "21"
						},
						{
							"value": "22",
							"label": "22"
						},
						{
							"value": "23",
							"label": "23"
						}
					],
					"default": "0"
				},
				{
					"type": "select",
					"id": "timer_timezone",
					"label": "Timezone",
					"options": [
						{
							"value": "+0",
							"label": "GMT"
						},
						{
							"value": "+1",
							"label": "GMT+1:00"
						},
						{
							"value": "+2",
							"label": "GMT+2:00"
						},
						{
							"value": "+3",
							"label": "GMT+3:00"
						},
						{
							"value": "+3.5",
							"label": "GMT+3:30"
						},
						{
							"value": "+4",
							"label": "GMT+4:00"
						},
						{
							"value": "+5",
							"label": "GMT+5:00"
						},
						{
							"value": "+5.5",
							"label": "GMT+5:30"
						},
						{
							"value": "+6",
							"label": "GMT+6:00"
						},
						{
							"value": "+7",
							"label": "GMT+7:00"
						},
						{
							"value": "+8",
							"label": "GMT+8:00"
						},
						{
							"value": "+9",
							"label": "GMT+9:00"
						},
						{
							"value": "+9.5",
							"label": "GMT+9:30"
						},
						{
							"value": "+10",
							"label": "GMT+10:00"
						},
						{
							"value": "+11",
							"label": "GMT+11:00"
						},
						{
							"value": "+12",
							"label": "GMT+12:00"
						},
						{
							"value": "-11",
							"label": "GMT-11:00"
						},
						{
							"value": "-10",
							"label": "GMT-10:00"
						},
						{
							"value": "-9",
							"label": "GMT-9:00"
						},
						{
							"value": "-8",
							"label": "GMT-8:00"
						},
						{
							"value": "-7",
							"label": "GMT-7:00"
						},
						{
							"value": "-6",
							"label": "GMT-6:00"
						},
						{
							"value": "-5",
							"label": "GMT-5:00"
						},
						{
							"value": "-4",
							"label": "GMT-4:00"
						},
						{
							"value": "-3.5",
							"label": "GMT-3:30"
						},
						{
							"value": "-3",
							"label": "GMT-3:00"
						},
						{
							"value": "-1",
							"label": "GMT-1:00"
						}
					],
					"default": "+0"
				},
				{
					"type": "color",
					"id": "timer_cell_background_color",
					"label": "Timer cell background color",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "timer_cell_color",
					"label": "Timer cell color",
					"default": "#ffffff"
				},
				{
					"type": "color",
					"id": "timer_label_color",
					"label": "Timer label color",
					"default": "#ffffff"
				},
				{
					"type": "header",
					"content": "Video"
				},
				{
					"type": "video",
					"id": "html_video_desktop",
					"label": "HTML5 desktop video",
					"info": "Only works with ‘HTML5 video’ media type. 3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "html_video_mobile",
					"label": "HTML5 mobile video",
					"info": "Only works with ‘HTML5 video’ media type. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_desktop",
					"label": "Youtube/Vimeo desktop video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "video_url",
					"accept": [
						"youtube",
						"vimeo"
					],
					"id": "external_video_url_mobile",
					"label": "Youtube/Vimeo mobile video url",
					"info": "Only works with ‘Youtube/Vimeo’ media type"
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment desktop",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "content_alignment_mobile",
					"label": "Content alignment mobile",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					],
					"default": "center"
				},
				{
					"type": "select",
					"id": "block_alignment",
					"label": "Block alignment",
					"options": [
						{
							"value": "flex-start",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "flex-end",
							"label": "Right"
						}
					],
					"default": "center"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banner",
			"settings": {},
			"blocks": [
				{
					"type": "full_width",
					"settings": {
						"media_type": "iframe_video",
						"heading": "Banner",
						"overlay_opacity": 30,
						"external_video_url_desktop": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
						"external_video_url_mobile": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
					}
				}
			]
		}
	]
}
{%- endschema -%}
