{%- comment -%}
	------------------------------------------------------------------------------
	Section: Best sellers
	------------------------------------------------------------------------------
{%- endcomment -%}

{% case settings.design %}
	{% when 'alternate' %}
		{% render 'best-sellers-new' %}
	{% when 'standard' %}
		{{- 'best-sellers.build.css' | asset_url | stylesheet_tag -}}

		{%- style -%}
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_mobile -}}px;
				padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
			}

			@media screen and (min-width: 768px) {
				#shopify-section-{{- section.id -}} {
					padding-top: {{- section.settings.offset_top_desktop -}}px;
					padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
				}
			}
		{%- endstyle -%}

		{%- assign label                    = section.settings.label -%}
		{%- assign heading                  = section.settings.heading -%}
		{%- assign is_show_product_type     = section.settings.is_show_product_type -%}
		{%- assign info_text_color    		= section.settings.info_text_color -%}
		{%- assign info_background_color    = section.settings.info_background_color -%}
		{%- assign info_sale_price_color    = section.settings.info_sale_price_color -%}
		{%- assign info_opacity    			= section.settings.info_opacity  -%}
		{%- assign is_quick_view_enabled    = settings.is_quick_view_enabled -%}
		{%- assign currency_code_enabled    = settings.is_currency_code_enabled -%}
		{%- assign blocks                   = section.blocks -%}

		{%- capture styles -%}
			--info-text-color: {{- info_text_color -}};
			--info-background-color: {{- info_background_color -}};
			--info-sale-price-color: {{- info_sale_price_color -}};
			--info-opacity: {{- info_opacity -}}%;
		{%- endcapture -%}

		<section class="best-sellers js-animate js-best-sellers" style="{{- styles -}}">
			<div class="best-sellers__container">
				<div class="best-sellers__row">
					<div class="best-sellers__column best-sellers__column--meta">
						<div class="best-sellers__top-text">
							<div class="best-sellers__label">
								{%- if label != blank -%}
									{{- label -}}
								{%- endif -%}
							</div>

							<h2 class="h2 best-sellers__heading">
								{%- if heading != blank -%}
									{{- heading -}}
								{%- else -%}
									{{- 'products.best_sellers.section_title' | t -}}
								{%- endif -%}
							</h2>
						</div>

						<ul class="best-sellers__collections-list">
							{%- for block in blocks -%}
								{%- assign collection = block.settings.collection -%}

								<li class="best-sellers__collections-list-item js-best-sellers-collection" data-index="{{- forloop.index -}}">
									{%- if collection != blank -%}
										<a class="focus-visible-outline best-sellers__collection" href="{{- collection.url -}}">
											{{- collection.title -}}

											<span class="best-sellers__collection-icon">
											{% render 'icons-small', icon: 'arrow-right' %}
										</span>
										</a>
									{%- else -%}
										<span class="focus-visible-outline best-sellers__collection">
										{{- 'products.best_sellers.collection_title' | t -}}

										<span class="best-sellers__collection-icon">
											{% render 'icons-small', icon: 'arrow-right' %}
										</span>
									</span>
									{%- endif -%}
								</li>
							{%- endfor -%}
						</ul>
					</div>

					<div class="best-sellers__column best-sellers__column--products">
						{%- for block in blocks -%}
							{%- assign product = block.settings.product -%}
							{%- assign image   = block.settings.image | default: product.featured_image -%}

							{%- capture labels -%}
								{%- unless product.available -%}
									<li	class="best-sellers__product-label best-sellers__product-label--sold-out">
										<span class="visually-hidden">
											{{- 'products.best_sellers.product_label' | t -}}:
										</span>

										{{- "products.product.sold_out" | t -}}
									</li>
								{%- endunless -%}

								{% if settings.is_sale_label_enabled %}
									{% assign discount_value = product.price | times: 100 | divided_by: product.compare_at_price %}

									{% if discount_value < 100 %}
										<li class="best-sellers__product-label best-sellers__product-label--sale">
											<span class="visually-hidden">
												{{- 'products.product_card.product_label' | t -}}:
											</span>

											-{{ 100 | minus: discount_value | json }}
											% {{- "products.product.sale" | t | prepend: ' ' -}}
										</li>
									{% endif %}
								{% endif %}

								{% if settings.is_labels_enabled %}
									{%- assign tag_index = 1 -%}

									{%- for tag in product.tags -%}
										{%- if tag contains 'label__' -%}
											{%- assign class = 'best-sellers__product-label' -%}

											{%- if tag contains ':primary' -%}
												{%- assign class = class | append: " best-sellers__product-label--primary" | strip -%}
											{%- elsif tag contains ':secondary' -%}
												{%- assign class = class | append: " best-sellers__product-label--secondary" | strip -%}
											{%- endif -%}

											{%- assign clipped_tag = tag | remove: 'label__' | remove: ':primary' | remove: ':secondary' -%}

											<li	class="{{- class -}}">
											<span class="visually-hidden">
												{{- 'products.best_sellers.product_label' | t -}}:
											</span>

												{{- clipped_tag -}}
											</li>

											{%- assign tag_index = tag_index | plus: 1 -%}

											{%- if tag_index > 3 -%}
												{%- break -%}
											{%- endif -%}
										{%- endif -%}
									{%- endfor -%}
								{% endif %}
							{%- endcapture -%}

							<div
								class="best-sellers__product{% if forloop.index == 1 %} is-active{% endif %}{% if product == blank and image == blank %} best-sellers__product--placeholder{% endif %} js-best-sellers-product"
								data-index="{{- forloop.index -}}"
							>
								{%- if image != blank -%}
									{% assign image_crop = block.settings.image_crop %}

									<picture class="lazy">
										<source
											data-srcset="{{ image | image_url: width: 545, crop: image_crop }} 1x, {{ image | image_url: width: 1090, crop: image_crop }} 2x"
											srcset="{{ image | image_url: width: 10, crop: image_crop }} 1x, {{ image | image_url: width: 20, crop: image_crop }} 2x"
											width="545"
											height="627"
											media="(max-width: 991px)"
										/>

										<source
											data-srcset="{{ image | image_url: width: 730, crop: image_crop }} 1x, {{ image | image_url: width: 1460, crop: image_crop }} 2x"
											srcset="{{ image | image_url: width: 10, crop: image_crop }} 1x, {{ image | image_url: width: 20, crop: image_crop }} 2x"
											width="730"
											height="627"
											media="(max-width: 1600px)"
										/>

										<img
											class="best-sellers__product-image"
											src="{{ image | image_url: width: 10, crop: image_crop }}"
											srcset="{{ image | image_url: width: 10, crop: image_crop }}"
											data-src="{{ image | image_url: width: 800, crop: image_crop }}"
											data-srcset="{{ image | image_url: width: 800, crop: image_crop }} 1x, {{ image | image_url: width: 1600, crop: image_crop }} 2x"
											alt="{{- image.alt | default: product.title -}}"
											width="800"
											height="627"
										>
									</picture>
								{%- else -%}
									{%- assign placeholer_svg_name = 'product-' | append: forloop.index -%}

									{{- placeholer_svg_name | placeholder_svg_tag: 'best-sellers__product-image best-sellers__product-image--placeholder' -}}
								{%- endif -%}

								<div class="best-sellers__product-info">
									<div class="best-sellers__product-info-left">
										{%- if is_show_product_type -%}
											{% if product != blank %}
												{% if product.type != blank %}
													<div class="best-sellers__product-type">
														<span class="visually-hidden">
															{{- 'products.best_sellers.product_type' | t -}}
														</span>

														{{- product.type -}}
													</div>
												{%- endif -%}
											{%- else -%}
												<div class="best-sellers__product-type">
													{{- 'products.best_sellers.product_type' | t -}}
												</div>
											{%- endif -%}
										{%- endif -%}

										<h3 class="h4 best-sellers__product-title">
											{%- if product != blank -%}
												<span class="visually-hidden">
													{{- 'products.best_sellers.product_title' | t -}}
												</span>

												{{- product.title -}}
											{%- else -%}
												{{- 'products.best_sellers.product_title' | t -}}
											{%- endif -%}
										</h3>
									</div>

									<div class="best-sellers__product-price">
										{%- render 'price', product: product, currency_code_enabled: currency_code_enabled -%}
									</div>
								</div>

								{%- if labels != blank -%}
									<ul
										class="best-sellers__product-labels"
										aria-label="{{- 'products.best_sellers.product_labels' | t | escape -}}"
									>
										{{- labels -}}
									</ul>
								{%- endif -%}

								<div class="best-sellers__product-additional-buttons">
									{%- if is_quick_view_enabled -%}
										{%- if product.available -%}
											<button
												class="best-sellers__product-quick-view-button js-add-to-cart"
												data-product-handle="{{- product.handle -}}"
												data-min-quantity="{{- product.selected_or_first_available_variant.quantity_rule.min -}}"
												{%- if product.has_only_default_variant == false -%} aria-label="{{- 'products.best_sellers.open_quick_view' | t | escape -}}" {%- else -%} aria-label="{{- 'products.best_sellers.add_to_cart' | t | escape -}}"  {%- endif -%}
												{%- if product.has_only_default_variant or product.variants.size == 1 -%} data-variant-id="{{- product.selected_or_first_available_variant.id -}}" {%- endif -%}
												type="button"
											>
												{%- if product.has_only_default_variant or product.variants.size == 1 -%}
													{%- render 'icons-big', icon: 'cart' -%}
												{%- else -%}
													{%- render 'icons-big', icon: 'quick-view' -%}
												{%- endif -%}
											</button>
										{%- endif -%}

										<noscript>
											<a
												class="best-sellers__product-quick-view-button best-sellers__product-quick-view-button--no-js"
												href="{{- product.url -}}"
												aria-label="{{- 'products.best_sellers.quick_view_no_js' | t | escape -}}"
											>
												{%- render 'icons-big', icon: 'cart' -%}
											</a>
										</noscript>
									{%- endif -%}

									{%- if settings.enable_compare_products -%}
										{%- render 'compare-products-button', product: product, additional_classes: "best-sellers__product-compare-products-button" -%}
									{%- endif -%}
								</div>

								{%- if product != blank -%}
									<a
										href="{{- product.url -}}"
										class="best-sellers__product-url"
										aria-label="{{ product.title | escape }}"
									></a>
								{%- endif -%}
							</div>
						{%- endfor -%}
					</div>
				</div>
			</div>
		</section>

		<script src="{{- 'section-best-sellers.build.min.js' | asset_url -}}" defer></script>
{% endcase %}

{%- schema -%}
{
	"name": "Best sellers",
	"max_blocks": 3,
	"disabled_on": {
		"groups": ["header", "footer"],
		"templates": ["password"]
	},
	"settings": [
		{
			"type": "text",
			"id": "label",
			"label": "Label",
			"default": "Section label"
		},
		{
			"type": "textarea",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "header",
			"content": "Product"
		},
		{
			"type": "checkbox",
			"id": "is_show_product_type",
			"label": "Show product type",
			"default": true
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "paragraph",
			"content": "For product info"
		},
		{
			"type": "color",
			"id": "info_text_color",
			"label": "Text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "info_background_color",
			"label": "Background",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "info_sale_price_color",
			"label": "Sale price",
			"default": "#2C2A28"
		},
		{
			"type": "range",
			"id": "info_opacity",
			"min": 0,
			"max": 100,
			"step": 10,
			"unit": "%",
			"label": "Info opacity",
			"default": 100
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "product_item",
			"name": "Product",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection",
					"info": "Setting mustn't be empty"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product",
					"info": "Setting mustn't be empty"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "select",
					"id": "image_crop",
					"label": "Image crop",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					],
					"default": "center",
					"info": "The setting allows you to specify which part of the image to show if the specified dimensions result in an aspect ratio that differs from the original."
				}
			]
		}
	],
	"presets": [
		{
			"name": "Best sellers",
			"settings": {},
			"blocks": [
				{
					"type": "product_item"
				},
				{
					"type": "product_item"
				},
				{
					"type": "product_item"
				}
			]
		}
	]
}
{%- endschema -%}
