{%- comment -%}
------------------------------------------------------------------------------
	Section: Collection template
------------------------------------------------------------------------------
{%- endcomment -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- if settings.design == "alternate" -%}
	{%- render "collection-template-new", section: section -%}
{%- else -%}
	{{- 'collection.build.css' | asset_url | stylesheet_tag -}}

	{%- assign show_img 				= section.settings.show_img -%}
	{%- assign show_description 		= section.settings.show_description -%}
	{%- assign paginate_by 				= section.settings.paginate_by -%}
	{%- assign paginate_by_basic_grid 	= section.settings.paginate_by_basic_grid -%}
	{%- assign pagination_type 			= section.settings.pagination_type -%}
	{%- assign grid_view 				= section.settings.grid_view -%}
	{%- assign full_width_grid 			= section.settings.full_width_grid -%}
	{%- assign enable_product_cards_indent 	= section.settings.enable_product_cards_indent -%}
	{%- assign show_grid_selector 			= section.settings.show_grid_selector -%}
	{%- assign show_color_swatch_in_filters = section.settings.show_color_swatch_in_filters -%}
	{%- assign filters_type 				= section.settings.filters_type -%}

	{% if grid_view == "basic" %}
		{% assign paginate_by = section.settings.paginate_by_basic_grid %}
	{% endif %}

	{%- capture collection_empty_title_classes -%}
		h2 collection__title collection__title--empty js-template-empty-title {{- -}}
		{% if collection.products.size > 0 %} is-hidden {%- endif -%}
	{%- endcapture -%}

	{%- capture collection_image -%}
		{%- if collection.image != blank -%}
			<div class="collection__image-wrapper js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}">
				<picture>
					<source
						srcset="{{ collection.image | img_url: '380x' }} 1x, {{ collection.image | img_url: '760x' }} 2x"
						media="(max-width: 380px)"
						width="380"
						height="360"
					/>

					<source
						srcset="{{ collection.image | img_url: '420x' }} 1x, {{ collection.image | img_url: '840x' }} 2x"
						media="(max-width: 420px)"
						width="420"
						height="400"
					/>

					<source
						srcset="{{ collection.image | img_url: '575x' }} 1x, {{ collection.image | img_url: '1150x' }} 2x"
						media="(max-width: 575px)"
						width="575"
						height="288"
					/>

					<source
						srcset="{{ collection.image | img_url: '767x' }} 1x, {{ collection.image | img_url: '1534x' }} 2x"
						media="(max-width: 767px)"
						width="767"
						height="384"
					/>

					<source
						srcset="{{ collection.image | img_url: '991x' }} 1x, {{ collection.image | img_url: '1982x' }} 2x"
						media="(max-width: 991px)"
						width="991"
						height="354"
					/>

					<source
						srcset="{{ collection.image | img_url: '1199x' }} 1x, {{ collection.image | img_url: '2398x' }} 2x"
						media="(max-width: 1199px)"
						width="1199"
						height="429"
					/>

					<source
						srcset="{{ collection.image | img_url: '1500x' }} 1x, {{ collection.image | img_url: '3000x' }} 2x"
						media="(max-width: 1500px)"
						width="1500"
						height="536"
					/>

					<source
						srcset="{{ collection.image | img_url: '1680x' }} 1x, {{ collection.image | img_url: '3360x' }} 2x"
						media="(max-width: 1680px)"
						width="1680"
						height="600"
					/>

					<img
						class="collection__image"
						src="{{- collection.image | img_url: "1920x" -}}"
						srcset="{{ collection.image | img_url: "1920x" }} 1x, {{ collection.image | img_url: "3840x" }} 2x"
						alt="{{- collection.image.alt -}}"
						width="1920"
						height="686"
						{% if section.index == 1 %}
							fetchpriority="high"
						{% endif %}
					/>
				</picture>
			</div>
		{%- endif -%}
	{%- endcapture -%}

	<section class="collection {% if filters_type == 'sidebar' %}collection--with-sidebar{% endif %} js-collection"
			 id="{{- section.id -}}">
		{%- if show_img and collection_image != blank -%}
			{{- collection_image -}}
		{%- endif -%}

		<div class="collection__header js-collection-header">
			<div class="collection__header-row">
				<div class="collection__header-col">
					<h1 class="h1 collection__title">
						{{- collection.title -}}
					</h1>

					{%- if show_description and collection.description != blank -%}
						<div class="rte collection__description">
							{{- collection.description -}}
						</div>
					{%- endif -%}

					{% if show_grid_selector and grid_view == "basic" %}
						<div class="collection__grid-buttons js-grid-view-buttons">
							<button
								class="collection__grid-button js-grid-view-btn"
								data-grid-cols="3"
								aria-label="{{ 'collections.general.grid_view_3' | t }}"
							>
								<span></span><span></span><span></span>
							</button>

							<button
								class="collection__grid-button is-active js-grid-view-btn"
								data-grid-cols="4"
								aria-label="{{ 'collections.general.grid_view_4' | t }}"
							>
								<span></span><span></span><span></span><span></span>
							</button>
						</div>
					{% endif %}
				</div>

				{% if filters_type == 'drawer' %}
					<div class="collection__header-col collection__header-col--filter">
						{%- render 'product-filters-and-sort', product_list: collection, show_swatches: show_color_swatch_in_filters -%}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="collection__body {% unless full_width_grid %}collection__body--max-width{% endunless %}">
			{%- assign number_of_grid_packs = paginate_by | divided_by: 10 | minus: 1 -%}

			{% if filters_type == 'sidebar' %}
				<div class="collection__sidebar">
					{%- render 'product-filters-and-sort',
						product_list: collection,
						show_swatches: show_color_swatch_in_filters,
						extra_class: 'product-filters--sidebar'
					-%}
				</div>
			{% endif %}

			<h2 class="{{- collection_empty_title_classes | strip_newlines -}}">
				{{- 'collections.general.empty_collection' | t -}}
			</h2>

			{%- paginate collection.products by paginate_by -%}
				<div class="collection__grid-wrapper {% if show_grid_selector and grid_view == "basic" %}collection__grid-wrapper-hide-on-load{% endif %} {% if grid_view == "basic" %}collection__grid-wrapper--flex {% if enable_product_cards_indent == true %}collection__grid-wrapper--indent{% endif %}{% endif %} js-grid-wrapper"
					 aria-busy="true"
					 data-grid-col="4"
				>
					{%- if grid_view == "big_card" -%}
						{%- for i in (0..number_of_grid_packs) -%}
							{%- unless next_pack_empty or collection.products.size == 0 -%}
								<div class="collection__grid">
									{%- for j in (0..9) -%}
										{%- assign productIndex = i | times: 10 | plus: j -%}
										{%- assign product = collection.products[productIndex] -%}

										{% assign is_lazy = true %}

										{% if show_img == false and section.index == 1 and forloop.index < 3 and forloop.parentloop.index == 1 %}
											{% assign is_lazy = false %}
										{% endif %}

										{% if show_img == true and collection.image == blank and forloop.index < 3 and section.index == 1 and forloop.parentloop.index == 1 %}
											{% assign is_lazy = false %}
										{% endif %}

										{%- if product != blank -%}
											<div class="collection__item index-{{ forloop.parentloop.index }}">
												{%- if j == 0 or j == 9 -%}
													{%- render 'product-card', product: product, size: 705, mobile_size: 208, big_card: true, is_lazy: is_lazy -%}
												{%- else -%}
													{%- render 'product-card', product: product, size: 430, tablet_size: 500, mobile_size: 208, is_lazy: is_lazy -%}
												{%- endif -%}
											</div>
										{%- else -%}
											{%- assign next_pack_empty = true -%}
											{%- break -%}
										{%- endif -%}

										{%- assign productIndex = productIndex | plus: 1 -%}
									{%- endfor -%}
								</div>
							{%- else -%}
								{%- break -%}
							{%- endunless -%}
						{%- endfor -%}
					{%- else -%}
						{%- for product in collection.products -%}
							{% assign is_lazy = true %}

							{% if show_img == false and section.index == 1 and forloop.index < 3 %}
								{% assign is_lazy = false %}
							{% endif %}
							{% if show_img == true and collection.image == blank and forloop.index < 3 and section.index == 1 %}
								{% assign is_lazy = false %}
							{% endif %}
							<div class="collection__item">
								{% if show_grid_selector %}
									{%- render 'product-card', product: product, size: 650, tablet_size: 500, mobile_size: 208, is_lazy: is_lazy -%}
								{% else %}
									{%- render 'product-card', product: product, size: 430, tablet_size: 500, mobile_size: 208, is_lazy: is_lazy -%}
								{% endif %}
							</div>
						{%- endfor -%}
					{%- endif -%}
				</div>

				{%- case pagination_type -%}
					{%- when 'pagination' -%}
						<div class="collection__pagination-wrapper js-pagination">
							{%- if paginate.pages > 1 -%}
								{%- render 'pagination', paginate: paginate -%}
							{%- endif -%}
						</div>
					{%- when 'infinite_scroll' -%}
						{%- capture collection_infinite_scroll_classes -%}
							collection__infinite-scroll no-js-hidden js-infinite-scroll {{- -}}
							{% unless paginate.next.url %} is-hidden {%- endunless -%}
						{%- endcapture -%}

						<div class="{{- collection_infinite_scroll_classes | strip_newlines -}}"
							{%- if paginate.next.url -%}
								data-next-url="{{- paginate.next.url -}}"
							{%- else -%}
								data-next-url=""
							{%- endif -%}
						></div>
					{%- else -%}
						{%- capture collection_lazy_load_button_classes -%}
							button button--secondary collection__load-more-button js-lazy-load {{- -}}
							{% unless paginate.next.url %} is-hidden {%- endunless -%}
						{%- endcapture -%}

						<div class="collection__lazy-load-button-wrapper no-js-hidden">
							<button
								class="{{- collection_lazy_load_button_classes | strip_newlines -}}"
								{% if paginate.next.url %}
									data-next-url="{{- paginate.next.url -}}"
								{% else %}
									data-next-url=""
								{% endif %}
								aria-label="{{- 'general.pagination.lazy_load_aria' | t: items: 'products' | escape -}}"
							>
								{{- 'general.pagination.lazy_load' | t -}}
							</button>
						</div>
				{%- endcase -%}

				{%- unless pagination_type == 'pagination' -%}
					<noscript>
						<div class="collection__pagination-wrapper">
							{%- if paginate.pages > 1 -%}
								{%- render 'pagination', paginate: paginate -%}
							{%- endif -%}
						</div>
					</noscript>
				{%- endunless -%}
			{%- endpaginate -%}
		</div>
	</section>
{%- endif -%}

<script src="{{- 'component-product-filters.build.min.js' | asset_url -}}" defer></script>
<script src="{{- 'collection-template.build.min.js' | asset_url -}}" defer></script>

{%- schema -%}
{
	"name": "Collection",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_img",
			"label": "Show collection image",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_description",
			"label": "Show collection description",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "enable_product_cards_indent",
			"label": "Enable product cards indent",
			"default": false,
			"info": "Works only with 'Grid view: Basic'. In the alternative design this option always works"
		},
		{
			"type": "checkbox",
			"id": "show_color_swatch_in_filters",
			"label": "Show color swatch in filters",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_grid_selector",
			"label": "Show grid selector",
			"default": false,
			"info": "Works only with 'Grid view: Basic'"
		},
		{
			"type": "select",
			"id": "filters_type",
			"label": "Filters type",
			"options": [
				{
					"value": "drawer",
					"label": "Drawer"
				},
				{
					"value": "sidebar",
					"label": "Sidebar"
				}
			],
			"default": "drawer",
			"info": "Used only for desktop"
		},
		{
			"type": "range",
			"id": "paginate_by",
			"min": 10,
			"max": 50,
			"step": 10,
			"label": "Paginate by",
			"default": 20,
			"info": "Is used for 'Grid view: With big card'"
		},
		{
			"type": "range",
			"id": "paginate_by_basic_grid",
			"min": 12,
			"max": 50,
			"step": 1,
			"label": "Paginate by (basic grid)",
			"default": 16,
			"info": "Is used for 'Grid view: Basic'"
		},
		{
			"type": "select",
			"id": "pagination_type",
			"label": "Pagination type",
			"options": [
				{
					"value": "pagination",
					"label": "Pagination"
				},
				{
					"value": "infinite_scroll",
					"label": "Infinite scrolling"
				},
				{
					"value": "lazy_load",
					"label": "Load more"
				}
			],
			"default": "pagination"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "grid_view",
			"label": "Grid view",
			"options": [
				{
					"value": "basic",
					"label": "Basic"
				},
				{
					"value": "big_card",
					"label": "With big card"
				}
			],
			"default": "big_card"
		},
		{
			"type": "checkbox",
			"id": "full_width_grid",
			"label": "Make grid full width",
			"default": true,
			"info": "If unchecked - container width will be set based on the group 'Layout' settings in the Theme settings."
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 30
		}
	]
}
{%- endschema -%}
