{%- comment -%}
------------------------------------------------------------------------------
	Section: Contact page template
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design = settings.design -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign label = section.settings.label -%}
{%- assign info_heading = section.settings.info_heading -%}
{%- assign address_heading = section.settings.address_heading -%}
{%- assign address_text = section.settings.address_text -%}
{%- assign phone_heading = section.settings.phone_heading -%}
{%- assign phone_text = section.settings.phone_text -%}
{%- assign email_heading = section.settings.email_heading -%}
{%- assign email_text = section.settings.email_text -%}
{%- assign social_heading = section.settings.social_heading -%}
{%- assign show_social = section.settings.show_social -%}
{%- assign map_api_key = section.settings.map_api_key -%}
{%- assign map_query = section.settings.map_query -%}
{%- assign map_url = section.settings.map_url -%}
{%- assign image_desktop = section.settings.image_desktop -%}
{%- assign image_mobile = section.settings.image_mobile | default: image_desktop -%}
{%- assign form_heading = section.settings.form_heading -%}
{%- assign name_placeholder = section.settings.name_placeholder -%}
{%- assign email_placeholder = section.settings.email_placeholder -%}
{%- assign message_placeholder = section.settings.message_placeholder -%}
{%- assign submit_label = section.settings.submit_label -%}

{%- if image_desktop != blank -%}
	{%- assign section_has_images = true -%}
{%- else -%}
	{%- assign section_has_images = false -%}
{%- endif -%}

{%- capture content_info -%}
	<div class="contact__content-info">
		{%- if address_text != blank -%}
			{%- if address_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- address_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text section-rte">
				{{- address_text -}}
			</div>
		{%- endif -%}

		{%- if phone_text != blank -%}
			{%- if phone_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- phone_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text section-rte">
				{{- phone_text -}}
			</div>
		{%- endif -%}

		{%- if email_text != blank -%}
			{%- if email_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- email_heading -}}
				</h3>
			{%- endif -%}

			<div class="contact__content-info-text section-rte">
				{{- email_text -}}
			</div>
		{%- endif -%}

		{%- if show_social == true -%}
			{%- if social_heading != blank -%}
				<h3 class="contact__content-info-heading">
					{{- social_heading -}}
				</h3>
			{%- endif -%}

			{%- render "social-links" -%}
		{%- endif -%}
	</div>
{%- endcapture -%}

{%- capture content_form -%}
	{%- form "contact", class: "contact__form", id: "ContactForm" -%}
		{%- if form.posted_successfully? -%}
			<h4 class="contact__form-submitted-title success" tabindex="-1" autofocus>
				{{- "contact.form.success_heading" | t -}}
			</h4>
		{%- elsif form.errors -%}
			<h4
				class="contact__form-submitted-title error"
				autofocus
				tabindex="-1"
				role="alert"
			>
				{{- "contact.form.error_heading" | t -}}
			</h4>
		{%- endif -%}

		<div class="contact__form-fields">
			<div class="contact__form-fields-row">
				<div class="input-wrapper contact__field contact__fields-col">
					<input
						id="ContactForm-name--{{- section.id -}}"
						class="input contact__input"
						type="text"
						name="contact[name]"
						placeholder="{{- name_placeholder -}}"
						autocomplete="name"
						autocapitalize="off"
						{% if form.errors contains "name" %}
							aria-invalid="true"
							aria-describedby="ContactForm-name-error--{{- section.id -}}"
						{% endif %}
						{% if customer %}
							value="{{- customer.name -}}"
						{% endif %}
					/>

					{%- if form.errors contains "name" -%}
						<small class="contact__input-error error" id="ContactForm-name-error--{{- section.id -}}">
							<span class="visually-hidden">
								{{- "contact.form.error" | t -}}
							</span>

							<span class="contact__input-error-message">
								{{ form.errors.translated_fields['name'] | capitalize }} {{ form.errors.messages['name'] }}
							</span>
						</small>
					{%- endif -%}

					<label class="input-label" for="ContactForm-name--{{- section.id -}}">
						{{- name_placeholder -}}
					</label>
				</div>

				<div class="input-wrapper contact__field contact__fields-col">
					<input
						id="ContactForm-email--{{- section.id -}}"
						class="input contact__input"
						type="email"
						name="contact[email]"
						placeholder="{{- email_placeholder -}}"
						autocomplete="email"
						autocapitalize="off"
						{% if form.errors contains "email" %}
							aria-invalid="true"
							aria-describedby="ContactForm-email-error--{{- section.id -}}"
						{% endif %}
						{% if customer %}
							value="{{- customer.email -}}"
						{% endif %}
						aria-required="true"
						required
					/>

					{%- if form.errors contains "email" -%}
						<small class="contact__input-error error" id="ContactForm-email-error--{{- section.id -}}">
							<span class="visually-hidden">
								{{- "contact.form.error" | t -}}
							</span>

							<span class="contact__input-error-message">
								{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
							</span>
						</small>
					{%- endif -%}

					<label class="input-label" for="ContactForm-email--{{- section.id -}}">
						{{- email_placeholder -}}
					</label>
				</div>
			</div>

			<div class="input-wrapper contact__field">
				<textarea
					id="ContactForm-message--{{- section.id -}}"
					class="input contact__textarea"
					name="contact[body]"
					placeholder="{{- message_placeholder -}}"
					{% if form.errors contains "body" %}
						aria-invalid="true"
						aria-describedby="ContactForm-message-error--{{- section.id -}}"
					{% endif %}
					aria-required="true"
					required
				></textarea>

				{%- if form.errors contains "body" -%}
					<small class="contact__input-error error" id="ContactForm-message-error--{{- section.id -}}">
						<span class="visually-hidden">
							{{- "contact.form.error" | t -}}
						</span>

						<span class="contact__input-error-message">
							{{ form.errors.translated_fields['body'] | capitalize }} {{ form.errors.messages['body'] }}
						</span>
					</small>
				{%- endif -%}

				<label class="input-label" for="ContactForm-message--{{- section.id -}}">
					{{- message_placeholder -}}
				</label>
			</div>

			<button class="button button--secondary contact__button" type="submit">
				{{- submit_label -}}
			</button>
		</div>
	{%- endform -%}
{%- endcapture -%}

{%- capture map_image -%}
	{%- capture img_focal -%}
		--img-desktop-pos: {{ image_desktop.presentation.focal_point }}; --img-mob-pos: {{ image_mobile.presentation.focal_point }};
	{%- endcapture -%}

	<picture class="lazy">
		<source
			data-srcset="{{ image_mobile | img_url: '380x' }} 1x, {{ image_mobile | img_url: '760x' }} 2x"
			srcset="{{ image_mobile | img_url: '10x' }} 1x, {{ image_mobile | img_url: '10x' }} 2x"
			media="(max-width: 380px)"
			width="380"
			height="360"
		/>

		<source
			data-srcset="{{ image_mobile | img_url: '480x' }} 1x, {{ image_mobile | img_url: '960x' }} 2x"
			srcset="{{ image_mobile | img_url: '10x' }} 1x, {{ image_mobile | img_url: '10x' }} 2x"
			media="(max-width: 480px)"
			width="480"
			height="454"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '575x' }} 1x, {{ image_desktop | img_url: '1150x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 575px)"
			width="575"
			height="288"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '767x' }} 1x, {{ image_desktop | img_url: '1534x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 767px)"
			width="767"
			height="384"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '991x' }} 1x, {{ image_desktop | img_url: '1982x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 991px)"
			width="991"
			height="354"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1199x' }} 1x, {{ image_desktop | img_url: '2398x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1199px)"
			width="1199"
			height="429"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1500x' }} 1x, {{ image_desktop | img_url: '3000x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1500px)"
			width="1500"
			height="536"
		/>

		<source
			data-srcset="{{ image_desktop | img_url: '1680x' }} 1x, {{ image_desktop | img_url: '3360x' }} 2x"
			srcset="{{ image_desktop | img_url: '10x' }} 1x, {{ image_desktop | img_url: '10x' }} 2x"
			media="(max-width: 1680px)"
			width="1680"
			height="600"
		/>

		<img
			class="contact__map-image"
			srcset="{{ image_desktop | img_url: "10x" }}"
			data-srcset="{{ image_desktop | img_url: "1920x" }} 1x, {{ image_desktop | img_url: "3840x" }} 2x"
			src="{{- image_desktop | img_url: "10x" -}}"
			data-src="{{- image_desktop | img_url: "1920x" -}}"
			alt="{{- image_desktop.alt -}}"
			width="1920"
			height="686"
			style="{{ img_focal }}"
		/>
	</picture>
{%- endcapture -%}

{% if design == "alternate" %}
	{% render 'contact-page-template-new', section: section %}
{% else %}
	{{- "contact.build.css" | asset_url | stylesheet_tag -}}

	<section class="contact">
		<div class="contact__container">
			{% if label != blank %}
				<p class="contact__label">
					{{- label -}}
				</p>
			{% endif %}

			<h1 class="h1 contact__title">
				{{- page.title -}}
			</h1>

			<div class="contact__content">
				<div class="contact__content-row">
					{%- if content_info != blank -%}
						<div class="contact__content-col contact__content-col--info">
							{%- if info_heading != blank -%}
								<h2 class="h2 contact__content-col-heading">
									{{- info_heading -}}
								</h2>
							{%- endif -%}

							{{- content_info -}}
						</div>
					{%- endif -%}

					<div class="contact__content-col contact__content-col--form">
						{%- if form_heading != blank -%}
							<h2 class="h2 contact__content-col-heading">
								{{- form_heading -}}
							</h2>
						{%- endif -%}

						{{- content_form -}}
					</div>
				</div>
			</div>
		</div>

		{%- if map_api_key != blank and map_query != blank -%}
			<div class="contact__map-wrapper js-animate">
				<iframe
					class="contact__map"
					width="100%"
					height="100%"
					frameborder="0" style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key={{- map_api_key -}}&q={{- map_query -}}"
					allowfullscreen>
				</iframe>
			</div>
		{%- elsif map_url != blank and section_has_images == true -%}
			<a
				href="{{- map_url -}}"
				class="contact__map-link-image-wrapper contact__map-link-image-wrapper-hover js-animate"
				target="_blank"
				rel="nofollow"
				aria-label="{{- 'contact.form.map_link_aria_label' | t | escape -}}"
			>
				{{- map_image -}}
			</a>
		{% elsif section_has_images == true and map_url == nil %}
			<div class="contact__map-link-image-wrapper js-animate">
				{{- map_image -}}
			</div>
		{% endif %}
	</section>
{% endif %}

{%- schema -%}
{
	"name": "Contact",
	"disabled_on": {
		"groups": [
			"header",
			"footer"
		]
	},
	"settings": [
		{
			"type": "header",
			"content": "Contact information"
		},
		{
			"type": "text",
			"id": "label",
			"label": "Label"
		},
		{
			"type": "text",
			"id": "info_heading",
			"label": "Information heading"
		},
		{
			"type": "text",
			"id": "address_heading",
			"label": "Address heading"
		},
		{
			"type": "richtext",
			"id": "address_text",
			"label": "Address text",
			"default": "<p>Company: <br>Street. City, ZIP/Postal Country</p>"
		},
		{
			"type": "text",
			"id": "phone_heading",
			"label": "Phone heading"
		},
		{
			"type": "richtext",
			"id": "phone_text",
			"label": "Phone text",
			"default": "<p><a href=\"tel:Contact_number\" title=\"tel:Contact_number\">Contact number</a></p>"
		},
		{
			"type": "text",
			"id": "email_heading",
			"label": "Email heading"
		},
		{
			"type": "richtext",
			"id": "email_text",
			"label": "Email text",
			"default": "<p><a href=\"mailto:email@email.com\" title=\"mailto:email@email.com\">email@email.com</a></p>"
		},
		{
			"type": "text",
			"id": "social_heading",
			"label": "Social heading"
		},
		{
			"type": "checkbox",
			"id": "show_social",
			"label": "Show social",
			"default": true
		},
		{
			"type": "text",
			"id": "map_api_key",
			"label": "Google maps API key",
			"info": "You’ll need to [register a Google Maps API Key](https://utdweb.team/shopify-themes/gain/manual#section-contact-template) to display the map."
		},
		{
			"type": "text",
			"id": "map_query",
			"label": "Map query",
			"info": "Specify the query parameter [learn more](https://utdweb.team/shopify-themes/gain/manual#section-contact-template)",
			"default": "Eiffel+Tower,Paris+France"
		},
		{
			"type": "url",
			"id": "map_url",
			"label": "Map link",
			"info": "The link will be opened in the new window."
		},
		{
			"type": "image_picker",
			"id": "image_desktop",
			"label": "Map image desktop",
			"info": ".png, .jpg recommended"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Map image mobile",
			"info": ".png, .jpg recommended"
		},
		{
			"type": "header",
			"content": "Contact form"
		},
		{
			"type": "text",
			"id": "form_heading",
			"label": "Heading",
			"default": "Heading"
		},
		{
			"type": "text",
			"id": "name_placeholder",
			"label": "Name placeholder",
			"default": "Your name..."
		},
		{
			"type": "text",
			"id": "email_placeholder",
			"label": "Email placeholder",
			"default": "Your email..."
		},
		{
			"type": "text",
			"id": "message_placeholder",
			"label": "Message placeholder",
			"default": "Your message..."
		},
		{
			"type": "text",
			"id": "submit_label",
			"label": "Button label",
			"default": "Send"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 30
		}
	],
	"presets": [
		{
			"name": "Contact"
		}
	]
}
{%- endschema -%}
