{%- comment -%}
------------------------------------------------------------------------------
	Section: FAQ page template
------------------------------------------------------------------------------
{%- endcomment -%}

{% assign is_alternate_design = false %}
{% if settings.design == 'alternate' %}
	{% assign is_alternate_design = true %}
{% endif %}

{% if is_alternate_design %}
	{{- 'faq-page-template-new.build.css' | asset_url | stylesheet_tag -}}
{% else %}
	{{- 'faq-page-template.build.css' | asset_url | stylesheet_tag -}}
{% endif %}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign title  = section.settings.heading | default: page.title -%}
{%- assign label  = section.settings.label -%}
{%- assign blocks = section.blocks -%}

{%- assign sidenav_items = '' -%}
{%- assign content       = '' -%}

{%- for block in blocks -%}
	{%- case block.type -%}
		{%- when "category" -%}
			{%- assign category_heading = block.settings.heading -%}

			{%- if category_heading != blank -%}
				{%- assign handle = category_heading | handleize -%}

				{%- capture sidenav_items -%}
					{{- sidenav_items -}}

					<li class="faq-page__sidenav-item js-faq-anchor-wrapper">
						<a
							href="{{- handle | prepend: '#' -}}"
							class="faq-page__sidenav-item-link js-faq-anchor-link{% if sidenav_items == '' %} is-active{%- endif -%}"
							aria-current="page"
						>
							{{- category_heading -}}
						</a>
					</li>
				{%- endcapture -%}

				{%- capture content -%}
					{{- content -}}

					{%- if content != '' -%}
						</div>
					{%- endif -%}

					<div id="{{- handle -}}" class="faq-page__category js-faq-block">

					<h2  class="faq-page__category-heading {% if is_alternate_design %}h4{% endif %}">
						{{- category_heading -}}
					</h2>
				{%- endcapture -%}
			{%- endif -%}

		{%- when "faq_item" -%}
			{%- assign item_heading     = block.settings.heading -%}
			{%- assign text             = block.settings.text -%}
			{%- assign heading_icon     = block.settings.heading_icon -%}
			{%- capture img_focal -%}{%- endcapture -%}

			{%- if item_heading == blank or text == blank -%}
				{%- continue -%}
			{%- endif -%}

			{%- capture icon -%}
				{%- if heading_icon != blank -%}
					{%- capture img_focal -%}
						--img-desktop-pos: {{ heading_icon.presentation.focal_point }};
					{%- endcapture -%}

					<img
						class="faq-page__item-image"
						srcset="{{ heading_icon | img_url: "20x" }} 1x, {{ heading_icon | img_url: "40x" }} 2x"
						src="{{- heading_icon | img_url: "40x" -}}"
						alt="{{- heading_icon.alt -}}"
						style="{{ img_focal }}"
					/>
				{%- endif -%}
			{%- endcapture -%}

			{%- capture content -%}
				{{- content -}}

				{%- if content == '' -%}
					<div class="faq-page__category js-faq-block">
				{%- endif -%}

				<div class="accordion__item faq-page__item js-accordion-item">
					<h3 class="accordion__title faq-page__item-title">
						<button
							id="control-{{- block.id -}}"
							class="accordion__control faq-page__item-control js-accordion-control"
							aria-controls="content-{{- block.id -}}"
							aria-expanded="false"
						>
							<span class="faq-page__item-title-text">
								{%- if icon != blank -%}
									<span class="faq-page__item-icon">
										{{- icon -}}
									</span>
								{%- endif -%}

								{{- item_heading -}}
							</span>

							<span class="faq-page__item-control-icon faq-page__item-control-icon--plus">
								{% if is_alternate_design %}
									{% render "icons-new", icon: "arrow-down" %}
								{% else %}
									{% render 'icons-small', icon: 'plus' %}
								{% endif %}
							</span>

							<span class="faq-page__item-control-icon faq-page__item-control-icon--minus">
								{% if is_alternate_design %}
									{% render "icons-new", icon: "close" %}
								{% else %}
									{% render 'icons-small', icon: 'minus' %}
								{% endif %}
							</span>
						</button>
					</h3>

					<div
						id="content-{{- block.id -}}"
						class="accordion__content accordion__content--animate faq-page__item-content js-accordion-content"
						style="height: 0;"
						role="region"
						aria-labelledby="control-{{- block.id -}}"
					>
						<div class="faq-page__item-inner js-accordion-inner section-rte">
							{{- text -}}
						</div>
					</div>
				</div>
			{%- endcapture -%}
	{%- endcase -%}
{%- endfor -%}

{%- capture sidenav -%}
	{%- if sidenav_items != '' -%}
		<ul class="faq-page__sidenav js-side-navigation-list">
			{{- sidenav_items -}}
		</ul>
	{%- endif -%}
{%- endcapture -%}

{%- if content != '' and sidenav == '' -%}
	{%- capture content -%}
		{{- content -}}

		</div>
	{%- endcapture -%}
{%- endif -%}

<section
	class="{% if is_alternate_design %}faq-page-new {% else %}faq-page {% endif %}"
	data-section-id="{{- section.id -}}"
	data-section-type="faq-template"
>
	<div class="faq-page__container">
		{% if label != blank %}
			<div class="faq-page__label {% if is_alternate_design %}faq-page__label--desktop-hidden subheading{% endif %}">
				{{ label }}
			</div>
		{% endif %}

		<h1 class="h1 faq-page__heading {% if is_alternate_design %}faq-page__heading--desktop-hidden{% endif %}">
			{{- title -}}
		</h1>

		{%- if content != '' -%}
			<div class="faq-page__main">
				{%- if sidenav != '' -%}
					<div class="faq-page__navigation-wrapper js-side-navigation-container">
						{% if is_alternate_design %}
							{% if label != blank %}
								<div class="faq-page__label subheading faq-page__label--mobile-hidden">
									{{ label }}
								</div>
							{% endif %}

							<h1 class="h2 faq-page__heading faq-page__heading--mobile-hidden">
								{{- title -}}
							</h1>
						{% endif %}

						<div class="faq-page__navigation js-side-navigation">
							{{- sidenav -}}
						</div>
					</div>
				{%- endif -%}

				<div class="accordion faq-page__content js-accordion-container js-animate">
					{{- content -}}
				</div>
			</div>
		{%- endif -%}
	</div>
</section>

<script src="{{- 'section-faq.build.min.js' | asset_url -}}" defer></script>

{%- schema -%}
{
	"name": "FAQ",
	"settings": [
		{
			"type": "text",
			"id": "label",
			"label": "Label"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "FAQ",
			"info": "If no value is specified, the page title will be used."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 30
		}
	],
	"blocks": [
		{
			"name": "Category",
			"type": "category",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading"
				}
			]
		},
		{
			"name": "Question and answer",
			"type": "faq_item",
			"settings": [
				{
					"type": "textarea",
					"id": "heading",
					"label": "Heading"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "image_picker",
					"id": "heading_icon",
					"label": "Icon",
					"info": "40 x 40px recommended"
				}
			]
		}
	]
}
{%- endschema -%}
