{%- comment -%}
------------------------------------------------------------------------------
	Section: Password header
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design = settings.design -%}

{%- assign default_popup_button_text = "general.password_page.login_form_submit" | t -%}
{%- assign default_open_popup_button = "general.password_page.header_open_popup_button" | t -%}
{%- assign default_form_label 		 = "general.password_page.form_label" | t -%}

{%- assign button_text 				= section.settings.button_text | default: default_open_popup_button -%}
{%- assign logo 					= section.settings.logo -%}
{%- assign logo_width 				= section.settings.logo_width -%}
{%- assign logo_width_value			= logo_width -%}
{%- assign logo_retina_width 		= logo_width | times: 2 -%}
{%- assign logo_width 				= logo_width | append: "x" -%}
{%- assign logo_retina_width 		= logo_retina_width | append: "x" -%}
{%- assign popup_input_placeholder  = section.settings.popup_input_placeholder | default: default_form_label -%}
{%- assign popup_heading		 	= section.settings.popup_heading -%}
{%- assign popup_button_text 		= section.settings.popup_button_text | default: default_popup_button_text -%}
{%- assign popup_text 				= section.settings.popup_text -%}

{%- assign section_background 				= section.settings.section_background | default: "#FFFFFF" -%}
{%- assign section_border_color 			= section.settings.section_border_color | default: "#D2D2D2" -%}
{%- assign section_text_color 				= section.settings.section_text_color | default: "#000000" -%}
{%- assign popup_text_color 				= section.settings.popup_text_color | default: "#000000" -%}
{%- assign popup_border_color 				= section.settings.popup_border_color | default: "#D2D2D2" -%}
{%- assign popup_background_color 			= section.settings.popup_background_color | default: "#FFFFFF" -%}
{%- assign popup_input_color 				= section.settings.input_color %}
{%- assign popup_input_border_color 		= section.settings.popup_input_border_color | default: "#C4C4C4" -%}
{%- assign popup_button_text_color 			= section.settings.popup_button_text_color | default: "#000000" -%}
{%- assign popup_button_background_color 	= section.settings.popup_button_background_color | default: "#000000" -%}
{%- assign popup_button_color 				= section.settings.popup_button_color | default: "#000000" -%}

{%- capture section_styles -%}
	--section-background: {{ section_background -}}; {{-  -}}
	--section-border-color: {{ section_border_color -}}; {{-  -}}
	--section-text_color: {{ section_text_color -}}; {{-  -}}
	--popup-text-color: {{ popup_text_color -}}; {{-  -}}
	--popup-border-color: {{ popup_border_color -}}; {{-  -}}
	--popup-background-color: {{ popup_background_color -}}; {{-  -}}
	--popup-input-color: {{ popup_input_color  -}}; {{-  -}}
	--popup-input-border-color: {{ popup_input_border_color -}}; {{-  -}}
	--popup-input-border-color-not-focus: {{ popup_input_border_color | color_modify: 'alpha', 0.5 -}}; {{-  -}}
	--popup-button-text-color: {{ popup_button_text_color -}}; {{-  -}}
	--popup-button-background-color: {{ popup_button_background_color -}}; {{-  -}}
	--popup-button-color: {{ popup_button_color }}; {{-  -}}
{%- endcapture -%}

<header class="{% if design == 'standard' %} password-header {% else %} password-header-new {% endif %}" style="{{- section_styles -}}">
	{%- if design == 'standard' -%}
		{{- 'password-header.build.css' | asset_url | stylesheet_tag -}}
	{%- else -%}
		{{- 'password-header-new.build.css' | asset_url | stylesheet_tag -}}
	{%- endif -%}

	<div class="password-header__container">
		<div class="password-header__col">
			<div class="password-header__row">
				<div class="password-header__logo-wrapper">
					{%- if logo != blank -%}
						{%- capture img_focal -%}
							--img-desktop-pos: {{ logo.presentation.focal_point }};
						{%- endcapture -%}

						<img
							class="password-header__logo"
							src="{{- logo | img_url: logo_width -}}"
							srcset="{{- logo | img_url: logo_width }} 1x, {{- logo | img_url: logo_retina_width }} 2x"
							alt="{{- logo.alt | default: shop.name | escape -}}"
							width="{{ logo_width_value }}"
							style="{{ img_focal }}"
						>
					{%- else -%}
						<span class="password-header__logo-header h2">{{ shop.name }}</span>
					{%- endif -%}
				</div>
			</div>

			{%- if shop.password_message != blank -%}
				<div class="password-header__row">
					<div class="password-header__message">
						{{ shop.password_message }}
					</div>
				</div>
			{%- endif -%}

			<div class="password-header__row">
				<button
					class="password-header__button"
					type="button"
					aria-expanded="false"
					aria-controls="password-popup"
					data-target="password-popup"
					data-js-toggle="password-popup"
				>
					{{- button_text -}}
				</button>
			</div>
		</div>
	</div>

	{%- render "password-popup",
		popup_heading: popup_heading,
		popup_input_placeholder: popup_input_placeholder,
		popup_button_text: popup_button_text,
		popup_text: popup_text,
		section_id: section.id
	-%}
</header>

{%- schema -%}
	{
		"name": "Password header",
		"settings": [
			{
				"type": "text",
				"id": "button_text",
				"label": "Button label",
				"default": "Enter using password"
			},
			{
				"type": "header",
				"content": "Logo"
			},
			{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo"
			},
			{
				"type": "range",
				"id": "logo_width",
				"min": 20,
				"max": 250,
				"step": 5,
				"default": 125,
				"unit": "px",
				"label": "Logo width",
				"info": "Height will be calculated with image aspect ratio."
			},
			{
				"type": "header",
				"content": "Popup"
			},
			{
				"type": "text",
				"id": "popup_heading",
				"label": "Heading",
				"default": "Enter store using password:"
			},
			{
				"type": "text",
				"id": "popup_input_placeholder",
				"label": "Input placeholder",
				"default": "Your password"
			},
			{
				"type": "text",
				"id": "popup_button_text",
				"label": "Button label",
				"default": "Enter"
			},
			{
				"type": "richtext",
				"id": "popup_text",
				"label": "Bottom text",
				"default": "<p>Are you the store owner? <a href=\"/admin\">Log in here</a></p>"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "section_background",
				"label": "Section background",
				"default": "#FFFFFF",
				"info": "The setting is used for standard design."
			},
			{
				"type": "color",
				"id": "section_border_color",
				"label": "Section border color",
				"default": "#D2D2D2",
				"info": "The setting is used for alternate design."
			},
			{
				"type": "color",
				"id": "section_text_color",
				"label": "Section text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_text_color",
				"label": "Popup text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_border_color",
				"label": "Popup border color",
				"default": "#D2D2D2",
				"info": "The setting is used for alternate design."
			},
			{
				"type": "color",
				"id": "popup_background_color",
				"label": "Popup background",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "input_color",
				"label": "Input text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_input_border_color",
				"label": "Input border",
				"default": "#C4C4C4"
			},
			{
				"type": "color",
				"id": "popup_button_text_color",
				"label": "Popup button label",
				"default": "#FFFFFF",
				"info": "The setting is used for standard design."
			},
			{
				"type": "color",
				"id": "popup_button_background_color",
				"label": "Popup button background",
				"default": "#000000",
				"info": "The setting is used for standard design."
			},
			{
				"type": "color",
				"id": "popup_button_color",
				"label": "Popup button",
				"default": "#000000",
				"info": "The setting is used for alternate design."
			}
		]
	}
{%- endschema -%}
