{%- comment -%}
------------------------------------------------------------------------------
	Section: Password content
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design 				= settings.design -%}
{%- assign enable_accents_spot 	= settings.enable_accents_spot -%}
{%- assign enable_sepia 		= settings.enable_sepia -%}

{%- assign default_label 			 = "general.password_page.content_label" | t -%}
{%- assign default_success 			 = "general.password_page.content_success" | t  -%}
{%- assign default_button_aria_label = "general.password_page.content_button_label" | t -%}

{%- assign heading 				   = section.settings.heading -%}
{%- assign description 			   = section.settings.description -%}
{%- assign success_message 		   = section.settings.success_message | default: default_success -%}
{%- assign show_form 			   = section.settings.show_form -%}
{%- assign input_placeholder 	   = section.settings.input_placeholder | default: default_label -%}
{%- assign button_aria_label 	   = section.settings.button_aria_label | default: default_button_aria_label -%}
{%- assign background_image 	   = section.settings.background_image -%}
{%- assign background_image_mobile = section.settings.background_image_mobile | default: background_image -%}

{%- assign overlay 			  = section.settings.overlay -%}
{%- assign background_color   = section.settings.background_color -%}
{%- assign heading_color	  = section.settings.heading_color -%}
{%- assign description_color  = section.settings.description_color -%}
{%- assign input_color 		  = section.settings.input_color -%}
{%- assign input_border_color = section.settings.input_border_color -%}
{%- assign button_label_color = section.settings.button_label_color -%}

{%- capture app_block -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when '@app' -%}
				{% render block %}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture custom_liquid_block  -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'custom_liquid' -%}
				{{ block.settings.custom_liquid }}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture section_style -%}
	--overlay: {{ overlay -}}; {{-  -}}
	--background-color: {{ background_color | default: "#FFFFFF" -}}; {{-  -}}
	--heading-color: {{ heading_color | default: "#000000" -}}; {{-  -}}
	--description-color: {{ description_color | default: "#757575" -}}; {{-  -}}
	--input-color: {{ input_color | default: "#00000" -}}; {{-  -}}
	--input-border-color: {{ input_border_color | default: "#C4C4C4" -}}; {{-  -}}
	--input-border-color-not-focus: {{ input_border_color | color_modify: 'alpha', 0.5 -}}; {{-  -}}
	--button-label-color: {{ button_label_color -}}
{%- endcapture -%}

<section class="{% if design == 'standard' %} password-content {% else %} password-content-new {% endif %} js-password-content" style="{{- section_style -}}">
	{%- if design == 'standard' -%}
		{{- 'password-content.build.css' | asset_url | stylesheet_tag -}}
	{%- else -%}
		{{- 'password-content-new.build.css' | asset_url | stylesheet_tag -}}
	{%- endif -%}


	{%- style -%}
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_mobile -}}px;
			padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
		}

		@media screen and (min-width: 768px) {
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_desktop -}}px;
				padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
			}
		}
	{%- endstyle -%}

	<div class="password-content__container
		 {% if design == 'alternate' and background_image != blank %}password-content__container--with-image{% endif %}
		 {% if design == 'alternate' and background_image != blank and enable_accents_spot == true %}password-content__container--accent-spot{% endif %}
	">
		{%- if background_image != blank -%}
			{%- capture img_focal -%}
				--img-desktop-pos: {{ background_image.presentation.focal_point }}; --img-mob-pos: {{ background_image_mobile.presentation.focal_point }};
			{%- endcapture -%}

			<div class="password-content__image-wrapper {% if enable_sepia %} password-content__image-wrapper--sepia-background {% endif %}">
				<picture>
					<source
						srcset="{{ background_image_mobile | img_url: '360x' }} 1x, {{ background_image_mobile | img_url: '720x' }} 2x"
						media="(max-width: 360px)"
						width="360"
						height="384"
					/>

					<source
						srcset="{{ background_image_mobile | img_url: '380x' }} 1x, {{ background_image_mobile | img_url: '760x' }} 2x"
						media="(max-width: 380px)"
						width="380"
						height="405"
					/>

					<source
						srcset="{{ background_image_mobile | img_url: '480x' }} 1x, {{ background_image_mobile | img_url: '960x' }} 2x"
						media="(max-width: 480px)"
						width="480"
						height="512"
					/>

					<source
						srcset="{{ background_image | img_url: '575x' }} 1x, {{ background_image | img_url: '1150x' }} 2x"
						media="(max-width: 575px)"
						width="613"
						height="896"
					/>

					<source
						srcset="{{ background_image | img_url: '767x' }} 1x, {{ background_image | img_url: '1534x' }} 2x"
						media="(max-width: 767px)"
						width="767"
						height="1024"
					/>

					<source
						srcset="{{ background_image | img_url: "991x" }} 1x, {{ background_image | img_url: "1982x" }} 2x"
						media="(max-width: 991px)"
						width="991"
						height="601"
					/>

					<source
						srcset="{{ background_image | img_url: "1199x" }} 1x, {{ background_image | img_url: "2398x" }} 2x"
						media="(max-width: 1199px)"
						width="1199"
						height="720"
					/>

					<source
						srcset="{{ background_image | img_url: "1500x" }} 1x, {{ background_image | img_url: "3000x" }} 2x"
						media="(max-width: 1500px)"
						width="1500"
						height="900"
					/>

					<source
						srcset="{{ background_image | img_url: "1680x" }} 1x, {{ background_image | img_url: "1680x" }} 2x"
						media="(max-width: 1680px)"
						width="1680"
						height="740"
					/>

					<img
						class="password-content__image"
						srcset="{{ background_image | img_url: "1920x" }} 1x, {{ background_image | img_url: "3840x" }} 2x"
						src="{{ background_image | img_url: "1920x" }}"
						alt="{{- background_image.alt -}}"
						width="1920"
						height="1080"
						style="{{ img_focal }}"
					/>
				</picture>
			</div>
		{%- endif -%}

		<div class="password-content__content-box-wrapper
				{% if design == 'alternate' and background_image == blank and enable_accents_spot == true %}password-content__content-box-wrapper--accent-spot{% endif %}
		">
			<div class="password-content__content-box">
				{%- if heading != blank -%}
					<h1 class="{% if design == 'standard' %}h1{% else %} h2 {% endif %} password-content__heading">
						{{- heading -}}
					</h1>
				{%- endif -%}

				{%- if description != blank -%}
					<div class="password-content__description {% if design == 'standard' %} section-rte {% else %} rte-new {% endif %}">
						{{- description -}}
					</div>
				{%- endif -%}

				{%- if show_form -%}
					{%- if custom_liquid_block != blank -%}
						{{ custom_liquid_block }}
					{%- endif -%}

					{%- if app_block != blank -%}
						{{- app_block -}}
					{%- else -%}
						{%- assign id = 'ContactForm--' | append: section.id -%}

						{% form 'customer', class: 'password-content__form js-password-content-form', id: id %}
							<input type="hidden" name="contact[tags]" value="password-content"/>

							<div class="input-wrapper password-content__form-field">
								<input
									id="PasswordContentForm--{{- section.id -}}"
									type="email"
									name="contact[email]"
									class="input password-content__form-input js-password-content-input"
									value="{{- form.email -}}"
									aria-required="true"
									autocapitalize="off"
									autocomplete="email"
									{% if form.errors %}
										aria-invalid="true"
										aria-describedby="Newsletter-error--{{- section.id -}}"
									{% elsif form.posted_successfully? %}
										aria-describedby="Newsletter-success--{{- section.id -}}"
									{% endif %}
									placeholder="{{- input_placeholder -}}"
									required
								>

								<label class="input-label password-content__form-label" for="PasswordContentForm--{{- section.id -}}">
									{{- input_placeholder -}}
								</label>

								{%- if design == 'standard' -%}
									<button
										type="submit"
										class="password-content__form-button"
										aria-label="{{- button_aria_label | escape -}}"
									>
										{% render 'icons-medium', icon: 'arrow' %}
									</button>
								{%- endif -%}
							</div>

							{% if design == 'alternate' %}
								<button
									type="submit"
									class="password-content__form-button"
								>
									<span class="password-content__form-button-label">
										{{- button_aria_label -}}
									</span>

									{%- render 'icons-new', icon: 'arrow-right' -%}
								</button>
							{% endif %}

							{%- if form.errors -%}
								<small class="password-content__form-message password-content__form-message--error" id="Newsletter-error--{{- section.id -}}">
									{% render 'icons-small', icon: 'close' %}

									{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
								</small>
							{%- endif -%}

							{%- if form.posted_successfully? -%}
								<h3
									class="password-content__form-message password-content__form-message--success"
									id="Newsletter-success--{{- section.id -}}"
									tabindex="-1"
								>
									{% render 'icons-small', icon: 'check' %}

									<p>{{- success_message -}}</p>
								</h3>
							{%- endif -%}
						{% endform %}
					{%- endif -%}
				{%- endif -%}
			</div>
		</div>
	</div>
	<script src="{{- 'section-password-content.build.min.js' | asset_url -}}" defer></script>
</section>

{%- schema -%}
{
	"name": "Password content",
	"class": "password-content-wrapper",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Opening soon"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Text",
			"default": "<p>Be the first to know when we launch.</p>"
		},
		{
			"type": "textarea",
			"id": "success_message",
			"label": "Success message",
			"default": "Thanks for subscribing"
		},
		{
			"type": "checkbox",
			"id": "show_form",
			"label": "Show form",
			"default": true
		},
		{
			"type": "text",
			"id": "input_placeholder",
			"label": "Input placeholder",
			"default": "Email"
		},
		{
			"type": "text",
			"id": "button_aria_label",
			"label": "Button label / aria-label",
			"default": "Submit",
			"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-password-content)"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background image"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile",
			"label": "Background image mobile"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color_background",
			"id": "overlay",
			"label": "Overlay",
			"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "description_color",
			"label": "Description",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "input_color",
			"label": "Input text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "input_border_color",
			"label": "Input Border",
			"default": "#C4C4C4"
		},
		{
			"type": "color",
			"id": "button_label_color",
			"label": "Button label",
			"default": "#000000",
			"info": "The setting is used for alternate design."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"name": "Custom liquid",
			"type": "custom_liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Simple custom liquid"
				}
			]
		}
	]
}
{%- endschema -%}
