{%- comment -%}
------------------------------------------------------------------------------
	Section: Password footer
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign design 			= settings.design -%}
{%- assign default_text 	= "general.password_page.footer_text" | t | replace: "&lt;", "<" | replace: "&gt;", ">"  -%}
{%- assign text 			= section.settings.text | default: default_text -%}
{%- assign text_color 		= section.settings.text_color | default: "#C4C4C4" -%}
{%- assign background_color = section.settings.background_color | default: "#FFFFFF" -%}
{%- assign border_top_color = section.settings.border_top_color | default: "transparent" -%}

{%- capture style -%}
	--text-color: {{ text_color -}}; {{- -}}
	--background-color: {{ background_color -}}; {{-  -}}
	--border-top-color: {{ border_top_color -}};
{%- endcapture -%}

<section class="{% if design == 'standard' %} password-footer {% else %} password-footer-new {% endif %}" style="{{- style -}}">
	{%- if design == 'standard' -%}
		{{ 'password-footer.build.css' | asset_url | stylesheet_tag }}
	{%- else -%}
		{{ 'password-footer-new.build.css' | asset_url | stylesheet_tag }}
	{%- endif -%}

	<div class="password-footer__container">
		<div class="password-footer__text section-rte">
			{{- text -}}
		</div>
	</div>
</section>

{%- schema -%}
	{
		"name": "Password footer",
		"settings": [
			{
				"type": "richtext",
				"id": "text",
				"label": "Text",
				"default": "<p>Are you the store owner? <a href=\"/admin\">Log in here</a></p>"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "background_color",
				"label": "Background",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "border_top_color",
				"label": "Top border",
				"default": "#C4C4C4",
				"info": "The setting is used for standard design."
			}
		]
	}
{%- endschema -%}
