{%- comment -%}
------------------------------------------------------------------------------
	Section: Pickup availability
------------------------------------------------------------------------------
{%- endcomment -%}

{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
{%- assign design = settings.design -%}

{%- if pick_up_availabilities.size > 0 -%}
	<pickup-availability-preview class="pickup-availability-preview">
		{%- assign closest_location = pick_up_availabilities.first -%}

		{%- if closest_location.available -%}
			<div class="icon__tick">
				{%- render 'icons-small', icon: 'check'  -%}
			</div>
		{%- endif -%}

		<div class="pickup-availability-info">
			{%- if closest_location.available -%}
				<p class="caption-large">
					{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
				</p>

				<p class="caption">
					{{ closest_location.pick_up_time }}
				</p>

				<button
					id="ShowPickupAvailabilityDrawer-{{- section.id -}}"
					class="pickup-availability-button link link--text underlined-link"
					aria-haspopup="dialog"
					type="button"
					data-target="productAvailability-{{- section.id -}}"
					data-js-toggle="productAvailability-{{- section.id -}}"
					data-js-toggle-selector
				>
					{%- if pick_up_availabilities.size == 1 -%}
						{{ 'products.product.pickup_availability.view_store_info' | t }}
					{%- else -%}
						{{ 'products.product.pickup_availability.check_other_stores' | t }}
					{%- endif -%}
				</button>
			{%- else -%}
				<p class="caption-large">
					{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
				</p>

				{%- if pick_up_availabilities.size > 1 -%}
					<button
						id="ShowPickupAvailabilityDrawer-{{- section.id -}}"
						class="pickup-availability-button link link--text underlined-link"
						aria-haspopup="dialog"
						type="button"
						data-target="productAvailability-{{- section.id -}}"
						data-js-toggle="productAvailability-{{- section.id -}}"
						data-js-toggle-selector
					>
						{{ 'products.product.pickup_availability.check_other_stores' | t }}
					</button>
				{%- endif -%}
			{%- endif -%}
		</div>
	</pickup-availability-preview>

	<pickup-availability-drawer
		id="productAvailability-{{- section.id -}}"
		class="drawer {% if design == 'alternate' %}drawer--new{% endif %} pickup-availability-drawer"
		tabindex="-1"
		role="dialog"
		aria-modal="true"
		aria-labelledby="PickupAvailabilityHeading-{{- section.id -}}"
	>
		<div class="drawer__header">
			<h2 class="drawer__title" id="PickupAvailabilityHeading-{{- section.id -}}">
				{{ product_variant.product.title | escape }}
			</h2>

			<button
				class="drawer__close {{ class_close }}"
				data-target="productAvailability-{{- section.id -}}"
				data-js-toggle="productAvailability-{{- section.id -}}"
				data-js-toggle-selector
				aria-label="{{ 'general.accessibility.close' | t | escape }}"
			>
				{% if design == 'alternate' %}
					{%- render 'icons-new', icon: 'close' -%}
				{% else %}
					{% render 'icons-small', icon: 'close' %}
				{% endif %}
			</button>
		</div>

		<div class="drawer__body pickup-availability-drawer__body">
			{%- unless product_variant.product.has_only_default_variant -%}
				<div class="pickup-availability-variant">
					{%- for product_option in product_variant.product.options_with_values -%}
						<p class="pickup-availability-option">
							<span class="pickup-availability-option__label">{{- product_option.name | escape -}}:</span>&nbsp;

							<span>
								{{- product_option.selected_value | escape -}}
							</span>
						</p>
					{%- endfor -%}
				</div>
			{%- endunless -%}

			<ul
				class="pickup-availability-list"
				role="list"
				data-store-availability-drawer-content
			>
				{%- for availability in pick_up_availabilities -%}
					<li class="pickup-availability-list__item">
						<h3 class="{% if design == 'alternate' %}pickup-availability-list__item-title h6{% else %}h4{% endif %}">
							{{ availability.location.name | escape }}
						</h3>

						<p class="pickup-availability-preview">
							{%- if availability.available -%}
								{% render 'icons-small', icon: 'check' %} {{ 'products.product.pickup_availability.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
							{% else %}
								{{ 'products.product.pickup_availability.pick_up_unavailable' | t }}
							{%- endif -%}
						</p>

						{%- assign address = availability.location.address -%}

						<address class="pickup-availability-address">
							{{ address | format_address }}

							{%- if address.phone.size > 0 -%}
								<p>
									{{ address.phone }}
								</p>
							{%- endif -%}
						</address>
					</li>
				{%- endfor -%}
			</ul>
		</div>
	</pickup-availability-drawer>
{%- endif -%}
