{%- if section.blocks.size > 0 -%}

	{%- style -%}
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_mobile -}}px;
			padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
		}

		@media screen and (min-width: 768px) {
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_desktop -}}px;
				padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
			}
		}
	{%- endstyle -%}

	{%- assign label 			= section.settings.label -%}
	{%- assign heading 			= section.settings.heading -%}
	{%- assign list_icon 		= section.settings.list_icon -%}
	{%- assign image_aspect 	= section.settings.image_aspect -%}
	{%- assign image_crop 		= section.settings.image_crop -%}

	{%- assign card_background_color   = section.settings.card_background_color -%}
	{%- assign card_border_color       = section.settings.card_border_color -%}
	{%- assign text_color              = section.settings.text_color -%}
	{%- assign sale_price_color        = section.settings.sale_price_color -%}

	{%- assign button_label_color      = section.settings.button_label_color -%}
	{%- assign button_background_color = section.settings.button_background_color -%}
	{%- assign button_border_color     = section.settings.button_border_color -%}

	{%- assign button_label_hover_color      = section.settings.button_label_hover_color -%}
	{%- assign button_background_hover_color = section.settings.button_background_hover_color -%}
	{%- assign button_border_hover_color     = section.settings.button_border_hover_color -%}

	{%- assign design = settings.design -%}

	{% capture section_styles %}
		--list-icon: url({{ list_icon | img_url: '32x' }});
		--card-background-color: {{ card_background_color }};
		--card-border-color: {{ card_border_color }};
		--text-color: {{ text_color }};
		--sale-price-color: {{- sale_price_color -}};
		--button-label-color: {{ button_label_color }};
		--button-background-color: {{ button_background_color }};
		--button-border-color: {{ button_border_color }};
		--button-label-hover-color: {{ button_label_hover_color }};
		--button-background-hover-color: {{ button_background_hover_color }};
		--button-border-hover-color: {{ button_border_hover_color }};
	{% endcapture %}

	{%- capture old_layout -%}
		{{- 'pricing-table.build.css' | asset_url | stylesheet_tag -}}

		<section
			class="pricing-table js-animate"
			style="{{ section_styles }}"
		>
			<div class="pricing-table__container">
				{%- if label != blank or heading != blank -%}
					<div class="pricing-table__header">
						{%- if label != blank -%}
							<div class="pricing-table__label">
								{{- label -}}
							</div>
						{%- endif -%}

						{%- if heading != blank -%}
							<h2 class="pricing-table__heading h2">
								{{- heading -}}
							</h2>
						{%- endif -%}
					</div>
				{%- endif -%}

				<div class="pricing-table__items-container pricing-table__items-container--{{ section.blocks.size }}">
					{%- for block in section.blocks -%}
						{%- assign product     = block.settings.product -%}
						{%- assign label       = block.settings.label -%}
						{%- assign heading     = block.settings.heading | default: product.title -%}
						{%- assign text        = block.settings.text -%}
						{%- assign image       = block.settings.image | default: product.featured_image -%}
						{%- assign button_text = block.settings.button_text -%}

						{%- assign label_background_color = block.settings.label_background_color -%}
						{%- assign label_text_color       = block.settings.label_text_color -%}

						{%- capture block_styles -%}
							--label-background-color: {{ label_background_color }};
							--label-text-color: {{ label_text_color }};
						{%- endcapture -%}

						<div class="pricing-table__item-wrapper">
							<div
								class="pricing-table__item"
								style="{{ block_styles }}"
							>
								{%- if label != blank -%}
									<span class="pricing-table__item-label">
									{{- label -}}
								</span>
								{%- endif -%}

								<h3 class="pricing-table__item-heading h3">
									{{- heading -}}
								</h3>

								{%- if image != blank -%}
									{%- assign size_width 	= 558 -%}
									{%- assign size_height 	= 651 -%}
									{%- assign size_width_2x 	= size_width | times: 2 -%}
									{%- assign size_height_2x 	= size_height | times: 2 -%}

									{%- assign size_width_1199 		= 458 -%}
									{%- assign size_height_1199 	= 534 -%}
									{%- assign size_width_1199_2x 	= size_width_1199 | times: 2 -%}
									{%- assign size_height_1199_2x 	= size_height_1199 | times: 2 -%}

									{%- assign size_width_991 		= 520 -%}
									{%- assign size_height_991 		= 606 -%}
									{%- assign size_width_991_2x 	= size_width_991 | times: 2 -%}
									{%- assign size_height_991_2x 	= size_height_991 | times: 2 -%}

									{%- assign size_width_767 		= 385 -%}
									{%- assign size_height_767 		= 449 -%}
									{%- assign size_width_767_2x 	= size_width_767 | times: 2 -%}
									{%- assign size_height_767_2x 	= size_height_767 | times: 2 -%}

									{%- assign size_width_420 		= 295 -%}
									{%- assign size_height_420 		= 344 -%}
									{%- assign size_width_420_2x 	= size_width_420 | times: 2 -%}
									{%- assign size_height_420_2x 	= size_height_420 | times: 2 -%}

									{%- assign size_width_375 		= 255 -%}
									{%- assign size_height_375 		= 298 -%}
									{%- assign size_width_375_2x 	= size_width_375 | times: 2 -%}
									{%- assign size_height_375_2x 	= size_height_375 | times: 2 -%}

									{%- if image_aspect == "square" -%}
										{%- assign size_height 		= size_width -%}
										{%- assign size_height_2x 	= size_height | times: 2 -%}

										{%- assign size_height_1199 	= size_width_1199 -%}
										{%- assign size_height_1199_2x 	= size_height_1199 | times: 2 -%}

										{%- assign size_height_991 		= size_width_991 -%}
										{%- assign size_height_991_2x 	= size_height_991 | times: 2 -%}

										{%- assign size_height_767 		= size_width_767 -%}
										{%- assign size_height_767_2x 	= size_height_767 | times: 2 -%}

										{%- assign size_height_420 		= size_width_420 -%}
										{%- assign size_height_420_2x 	= size_height_420 | times: 2 -%}

										{%- assign size_height_375 		= size_width_375 -%}
										{%- assign size_height_375_2x 	= size_height_375 | times: 2 -%}
									{%- endif -%}

									{%- capture img_focal -%}
										--img-desktop-pos: {{ image.presentation.focal_point }};
									{%- endcapture -%}

									<div class="pricing-table__item-image-container{% if image_aspect == "portrait" %} pricing-table__item-image-container--portrait{% endif %}">
										<picture class="{% if is_lazy %}lazy{% endif %}">
											<source
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width_375, height: size_height_375, crop: image_crop }} 1x,
													 			 {{ image | image_url: width: size_width_375_2x, height: size_height_375_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
												{% else %}
													srcset="{{ image | image_url: width: size_width_375, height: size_height_375, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_375_2x, height: size_height_375_2x, crop: image_crop }} 2x"
												{% endif %}
												media="(max-width: 375px)"
												width="{{- size_width_375 -}}"
												height="{{- size_height_375 -}}"
											/>

											<source
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width_420, height: size_height_420, crop: image_crop }} 1x,
													 			 {{ image | image_url: width: size_width_420_2x, height: size_height_420_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
												{% else %}
													srcset="{{ image | image_url: width: size_width_420, height: size_height_420, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_420_2x, height: size_height_420_2x, crop: image_crop }} 2x"
												{% endif %}
												media="(max-width: 420px)"
												width="{{- size_width_420 -}}"
												height="{{- size_height_420 -}}"
											/>

											<source
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width_767, height: size_height_767, crop: image_crop }} 1x,
													 	 		 {{ image | image_url: width: size_width_767_2x, height: size_height_767_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
												{% else %}
													srcset="{{ image | image_url: width: size_width_767, height: size_height_767, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_767_2x, height: size_height_767_2x, crop: image_crop }} 2x"
												{% endif %}
												media="(max-width: 767px)"
												width="{{- size_width_767 -}}"
												height="{{- size_height_767 -}}"
											/>

											<source
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width_991, height: size_height_991, crop: image_crop }} 1x,
														 		 {{ image | image_url: width: size_width_991_2x, height: size_height_991_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
												{% else %}
													srcset="{{ image | image_url: width: size_width_991, height: size_height_991, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_991_2x, height: size_height_991_2x, crop: image_crop }} 2x"
												{% endif %}
												media="(max-width: 991px)"
												width="{{- size_width_991 -}}"
												height="{{- size_height_991 -}}"
											/>

											<source
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width_1199, height: size_height_1199, crop: image_crop }} 1x,
														 		 {{ image | image_url: width: size_width_1199_2x, height: size_height_1199_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
												{% else %}
													srcset="{{ image | image_url: width: size_width_1199, height: size_height_1199, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_1199_2x, height: size_height_1199_2x, crop: image_crop }} 2x"
												{% endif %}
												media="(max-width: 1199px)"
												width="{{- size_width_1199 -}}"
												height="{{- size_height_1199 -}}"
											/>

											<img
												class="pricing-table__item-image"
												{% if is_lazy %}
													data-srcset="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }} 1x,
														 		 {{ image | image_url: width: size_width_2x, height: size_height_2x, crop: image_crop }} 2x"
													srcset="{{ image | image_url: width: 10, height: 10 }} 1x,
															{{ image | image_url: width: 20, height: 20 }} 2x"
													data-src="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }}"
													src="{{ image | image_url: width: 10, height: 10 }}"
												{% else %}
													srcset="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_2x, height: size_height_2x, crop: image_crop }} 2x"
													src="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }}"
												{% endif %}
												alt="{{ image.alt | escape }}"
												width="{{- size_width -}}"
												height="{{- size_height -}}"
												style="{{ img_focal }}"
											/>
										</picture>

										<noscript>
											<picture>
												<source
													srcset="{{ image | image_url: width: size_width_375, height: size_height_375, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_375_2x, height: size_height_375_2x, crop: image_crop }} 2x"
													media="(max-width: 375px)"
													width="{{- size_width_375 -}}"
													height="{{- size_height_375 -}}"
												/>

												<source
													srcset="{{ image | image_url: width: size_width_420, height: size_height_420, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_420_2x, height: size_height_420_2x, crop: image_crop }} 2x"
													media="(max-width: 420px)"
													width="{{- size_width_420 -}}"
													height="{{- size_height_420 -}}"
												/>

												<source
													srcset="{{ image | image_url: width: size_width_767, height: size_height_767, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_767_2x, height: size_height_767_2x, crop: image_crop }} 2x"
													media="(max-width: 767px)"
													width="{{- size_width_767 -}}"
													height="{{- size_height_767 -}}"
												/>

												<source
													srcset="{{ image | image_url: width: size_width_991, height: size_height_991, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_991_2x, height: size_height_991_2x, crop: image_crop }} 2x"
													media="(max-width: 991px)"
													width="{{- size_width_991 -}}"
													height="{{- size_height_991 -}}"
												/>

												<source
													srcset="{{ image | image_url: width: size_width_1199, height: size_height_1199, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_1199_2x, height: size_height_1199_2x, crop: image_crop }} 2x"
													media="(max-width: 1199px)"
													width="{{- size_width_1199 -}}"
													height="{{- size_height_1199 -}}"
												/>

												<img
													class="pricing-table__item-image"
													srcset="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }} 1x,
															{{ image | image_url: width: size_width_2x, height: size_height_2x, crop: image_crop }} 2x"
													src="{{ image | image_url: width: size_width, height: size_height, crop: image_crop }}"
													alt="{{ image.alt | escape }}"
													width="{{- size_width -}}"
													height="{{- size_height -}}"
													style="{{ img_focal }}"
												/>
											</picture>
										</noscript>
									</div>
								{%- endif -%}

								{% render 'price', product: product %}

								{%- if button_text != blank -%}
									<a href="{{ product.url }}" class="pricing-table__item-link focus-visible-outline">
										{{- button_text -}}
									</a>
								{%- endif -%}

								{%- if text != blank -%}
									<div class="pricing-table__item-list-wrapper {% if list_icon == blank %}pricing-table__item-list-wrapper--without-icon{% endif %} section-rte">
										{{ text }}
									</div>
								{%- endif -%}

							</div>
						</div>
					{%- endfor -%}
				</div>
			</div>
		</section>
	{%- endcapture -%}

	{% if design == "alternate" %}
		{% render "pricing-table-new", section: section %}
	{% else %}
		{{ old_layout }}
	{% endif %}
{%- endif -%}

{%- schema -%}
{
	"name": "Pricing table",
	"disabled_on": {
		"groups": ["header", "footer"],
		"templates": ["password"]
	},
	"max_blocks": 3,
	"settings": [
		{
			"type": "text",
			"id": "label",
			"label": "Label"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Pricing table"
		},
		{
			"type": "image_picker",
			"id": "list_icon",
			"label": "List icon",
			"info": "Works with a standard design. 32 x 32px recommended"
		},
		{
			"type": "select",
			"id": "image_aspect",
			"label": "Image aspect",
			"options": [
				{
					"value": "square",
					"label": "Square"
				},
				{
					"value": "portrait",
					"label": "Portrait"
				}
			],
			"default": "square"
		},
		{
			"type": "select",
			"id": "image_crop",
			"label": "Image crop",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			],
			"default": "center",
			"info": "The setting allows you to specify which part of the image to show if the specified dimensions result in an aspect ratio that differs from the original."
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "card_background_color",
			"label": "Card background",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "card_border_color",
			"label": "Card border",
			"default": "#D2D2D2"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "sale_price_color",
			"label": "Sale price",
			"default": "#f56767"
		},
		{
			"type": "color",
			"id": "option_background_color",
			"label": "Option background",
			"default": "#ffdfbe",
			"info": "The setting is used for alternate design."
		},
		{
			"type": "color",
			"id": "button_label_color",
			"label": "Button label",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_background_color",
			"label": "Button background",
			"default": "#ffffff",
			"info": "The setting is used for standard design."
		},
		{
			"type": "color",
			"id": "button_border_color",
			"label": "Button border",
			"default": "#000000",
			"info": "The setting is used for standard design."
		},
		{
			"type": "color",
			"id": "button_label_hover_color",
			"label": "Button label (hover)",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_background_hover_color",
			"label": "Button background (hover)",
			"default": "#f1f1f1",
			"info": "The setting is used for standard design."
		},
		{
			"type": "color",
			"id": "button_border_hover_color",
			"label": "Button border (hover)",
			"default": "#000000",
			"info": "The setting is used for standard design."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		}
	],
	"blocks": [
		{
			"name": "Product",
			"type": "product",
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Most popular"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<ul><li>Option 1</li><li>Option 2</li><li>Option 3</li></ul>"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "1116 x 1302px recommended"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Learn more"
				},
				{
					"type": "color",
					"id": "label_background_color",
					"label": "Label background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "label_text_color",
					"label": "Label color",
					"default": "#ffffff"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Pricing table",
			"settings": {},
			"blocks": [
				{
					"type": "product"
				},
				{
					"type": "product"
				},
				{
					"type": "product"
				}
			]
		}
	]
}
{%- endschema -%}
