{%- comment -%}
------------------------------------------------------------------------------
  Section: Product template
------------------------------------------------------------------------------
{%- endcomment -%}

{% if settings.design == 'alternate' %}
	<link rel="stylesheet" href="{{ 'product-new.build.css' | asset_url }}">
{% else %}
	<link rel="stylesheet" href="{{ 'product.build.css' | asset_url }}">
{% endif %}


{%- assign border_color					= section.settings.border_color -%}
{%- assign ui_button_color				= section.settings.ui_button_color -%}
{%- assign ui_button_background_color	= section.settings.ui_button_background_color -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- capture section_styles -%}
	--border-color: {{ border_color }};
	--ui-button-color: {{ ui_button_color }};
	--ui-button-background-color: {{ ui_button_background_color }};
	--ui-model-view-button-background-color: {{ ui_button_background_color | color_darken: 5 }};
{%- endcapture -%}

<section
	class="
		product
		{% if section.settings.show_borders -%}
			product--bordered
		{%- endif -%}
	"
	style="{{ section_styles }}"
	data-section-type="product"
	data-section-id="{{- section.id -}}"
	data-product-handle="{{- product.handle -}}"
>
	{%- include 'product-header-mobile', blocks: section.blocks -%}
	{%- include 'product-media', media_height: section.settings.media_height -%}
	{%- include 'product-form', blocks: section.blocks, enable_history_state: true, product_template: true -%}
	{%- include 'product-drawers-content', blocks: section.blocks -%}

	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{% when 'notify_me' -%}
				{%- include 'product-notify-me-popup' -%}
			{% when 'ask_question' %}
				{%- include 'product-ask-question-popup' -%}
		{%- endcase -%}
	{%- endfor -%}
</section>

<script src="{{- 'component-video.build.min.js' | asset_url -}}" defer></script>
<script src="{{- 'section-product.build.min.js' | asset_url -}}" defer></script>

{%- liquid
	if product.selected_or_first_available_variant.featured_media
	assign seo_media = product.selected_or_first_available_variant.featured_media
	else
	assign seo_media = product.featured_media
	endif
-%}

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
			{%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
			{%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
			{%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
	{%- endfor -%}
      ]
    }
  </script>

{% schema %}
{
	"name": "Product template",
	"settings": [
		{
			"type": "header",
			"content": "Media"
		},
		{
			"type": "checkbox",
			"id": "is_lazy",
			"label": "Enable lazy load",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "is_zoom_enabled",
			"label": "Enable zoom",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_borders",
			"label": "Show borders",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_arrows_mobile",
			"label": "Show arrows on mobile",
			"default": true
		},
		{
			"type": "select",
			"id": "media_layout",
			"label": "Media layout",
			"options": [
				{
					"value": "carousel",
					"label": "Carousel"
				},
				{
					"value": "stacked",
					"label": "Stacked"
				},
				{
					"value": "stacked_2_col",
					"label": "Stacked 2 columns"
				}
			],
			"default": "carousel"
		},
		{
			"type": "select",
			"id": "thumbnails_position",
			"label": "Thumbnails position",
			"options": [
				{
					"value": "bottom",
					"label": "Bottom"
				},
				{
					"value": "left",
					"label": "Left"
				}
			],
			"default": "bottom",
			"info": "Setting only for carousel media layout"
		},
		{
			"type": "select",
			"id": "media_height",
			"label": "Media height",
			"options": [
				{
					"value": "fit_to_screen",
					"label": "Fit to screen"
				},
				{
					"value": "full_size",
					"label": "Full size"
				}
			],
			"default": "full_size"
		},
		{
			"type": "checkbox",
			"id": "stacked_smooth_scroll",
			"label": "Make smooth scroll for stacked gallery",
			"default": true,
			"info": "Set smooth scroll to anchor on stacked media"
		},
		{
			"type": "checkbox",
			"id": "is_enable_media_scroller",
			"label": "Enable media scroll for stacked layout",
			"default": false,
			"info": "Enables scroll to variant image when changing product options for stacked layout"
		},
		{
			"type": "header",
			"content": "General"
		},
		{
			"type": "checkbox",
			"id": "show_taxes_included",
			"label": "Show message of taxes included",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_pay_installments",
			"label": "Show pay installments",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_share_buttons",
			"label": "Show share buttons",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_sticky_add_to_cart",
			"label": "Enable sticky add to cart",
			"default": false
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "border_color",
			"label": "Border color",
			"default": "#e6e6e6"
		},
		{
			"type": "color",
			"id": "ui_button_color",
			"label": "UI button color",
			"default": "#000",
			"info": "Used for icon color and shadow"
		},
		{
			"type": "color",
			"id": "ui_button_background_color",
			"label": "UI button background color",
			"default": "#fff"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 50
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 32
		}
	],
	"blocks": [
		{
			"name": "Badges",
			"type": "badges",
			"limit": 1,
			"settings": []
		},
		{
			"name": "Vendor",
			"type": "vendor",
			"limit": 1,
			"settings": []
		},
		{
			"name": "Title",
			"type": "title",
			"limit": 1,
			"settings": []
		},
		{
			"name": "Description",
			"type": "description",
			"limit": 1,
			"settings": []
		},
		{
			"name": "SKU",
			"type": "sku_reviews",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "SKU"
				},
				{
					"type": "checkbox",
					"id": "show_sku",
					"label": "Show SKU",
					"default": true
				},
				{
					"type": "text",
					"id": "sku_text",
					"label": "SKU text",
					"default": "Art: %SKU%",
					"info": "Use %SKU% to insert SKU into text"
				}
			]
		},
		{
			"name": "Options",
			"type": "options",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_labels",
					"label": "Show labels",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_size_guide",
					"label": "Show size guide",
					"default": true
				},
				{
					"type": "select",
					"id": "variant_picker",
					"label": "Variant picker",
					"options": [
						{
							"value": "radio",
							"label": "Buttons"
						},
						{
							"value": "select",
							"label": "Dropdown"
						}
					],
					"default": "radio"
				},
				{
					"type": "text",
					"id": "size_guide_option_name",
					"label": "Size guide option name",
					"default": "Size",
					"info": "Set the name of the option in which you want to display the size guide. If this field is empty or option name not exist the size guide button will be appear under the options."
				},
				{
					"type": "text",
					"id": "size_guide_tab_general_name",
					"label": "Size guide general tab label",
					"default": "Dimensions",
					"info": "Will appear if model size guide metafield is not empty. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-product-template)"
				},
				{
					"type": "text",
					"id": "size_guide_tab_model_name",
					"label": "Size guide model tab label",
					"default": "Parameters of the model in the photo",
					"info": "Will appear if model size guide metafield is not empty. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-product-template)"
				},
				{
					"type": "text",
					"id": "size_guide_title",
					"label": "Size guide drawer heading",
					"default": "Size guide"
				},
				{
					"type": "image_picker",
					"id": "size_guide_icon",
					"label": "Size guide button icon",
					"info": "50 x 50px recommended"
				},
				{
					"type": "text",
					"id": "size_guide_text",
					"label": "Size guide button label",
					"default": "Size Guide"
				}
			]
		},
		{
			"name": "Product combination",
			"type": "product_combination",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Link products of different colors using swatches. [Learn more](https://utdweb.team/shopify-themes/gain/manual/#section-product-template)"
				},
				{
					"type": "text",
					"id": "option_name",
					"label": "Option name",
					"info": "Example: Color, Style..."
				},
				{
					"type": "text",
					"id": "option_value_metafield",
					"label": "Option value metafield",
					"info": "Enter namespace and key of the metafield holding the value. Eg.: custom.color"
				},
				{
					"type": "product_list",
					"id": "product_list",
					"label": "Products",
					"info": "Select all the variations (including the product itself)."
				}
			]
		},
		{
			"name": "Quantity",
			"type": "quantity",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_label",
					"label": "Show label",
					"default": true
				},
				{
					"type": "paragraph",
					"content": "If compare products enabled - button will be here"
				}
			]
		},
		{
			"name": "Price",
			"type": "price",
			"limit": 1,
			"settings": []
		},
		{
			"name": "Add to cart",
			"type": "add_to_cart",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "button_type",
					"label": "Button type",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						}
					],
					"default": "secondary"
				},
				{
					"type": "checkbox",
					"id": "show_additional_buttons",
					"label": "Show additional payment buttons",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_enabled_payment_types",
					"label": "Show enabled payment types",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "show_gift_card_recipient",
					"label": "Show recipient information form for gift cards",
					"default": true,
					"info": "Allows buyers to send gift cards on a scheduled date along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
				}
			]
		},
		{
			"name": "Pickup availability",
			"type": "pickup_availability",
			"limit": 1,
			"settings": []
		},
		{
			"name": "Drawers",
			"type": "drawers",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Product description"
				},
				{
					"type": "checkbox",
					"id": "show_description",
					"label": "Show description",
					"default": true
				},
				{
					"type": "text",
					"id": "description_toggle_text",
					"label": "Button label",
					"default": "Description"
				},
				{
					"type": "text",
					"id": "description_drawer_title",
					"label": "Drawer heading",
					"default": "Description"
				},
				{
					"type": "header",
					"content": "Shipping and returns"
				},
				{
					"type": "page",
					"id": "shipping_and_returns",
					"label": "Drawer content",
					"info": "Page must not be empty"
				},
				{
					"type": "text",
					"id": "shipping_and_returns_toggle_text",
					"label": "Button label",
					"default": "Shipping and returns"
				},
				{
					"type": "text",
					"id": "shipping_and_returns_drawer_title",
					"label": "Drawer heading",
					"default": "Shipping and returns"
				},
				{
					"type": "header",
					"content": "Custom drawer"
				},
				{
					"type": "text",
					"id": "custom_drawer_title_1",
					"label": "Drawer heading",
					"default": "Drawer heading",
					"info": "Must not be empty"
				},
				{
					"type": "richtext",
					"id": "custom_drawer_text_1",
					"label": "Drawer content",
					"info": "Must not be empty"
				}
			]
		},
		{
			"name": "Complementary products",
			"type": "complementary",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Pairs well with:"
				}
			]
		},
		{
			"name": "Sales point",
			"type": "sales_point",
			"settings": [
				{
					"type": "image_picker",
					"id": "sales_point_icon",
					"label": "Icon image"
				},
				{
					"type": "inline_richtext",
					"id": "sales_point_text",
					"label": "Text"
				}
			]
		},
		{
			"name": "Inventory status",
			"type": "inventory_status",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "inv_low_stock_text",
					"label": "Low stock text",
					"default": "Low stock"
				},
				{
					"type": "text",
					"id": "inv_high_stock_text",
					"label": "High stock text",
					"default": "In stock, ready to ship"
				},
				{
					"type": "range",
					"id": "low_stock_threshold",
					"min": 0,
					"max": 20,
					"step": 1,
					"label": "Low stock threshold",
					"default": 10
				},
				{
					"type": "checkbox",
					"id": "show_inventory_quantity",
					"label": "Show inventory quantity",
					"default": true
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Text color",
					"default": "#2c2a28"
				},
				{
					"type": "color",
					"id": "low_stock_color",
					"label": "Low stock color",
					"default": "#f5b231"
				},
				{
					"type": "color",
					"id": "high_stock_color",
					"label": "High stock color",
					"default": "#81B154"
				},
				{
					"type": "checkbox",
					"id": "show_background",
					"label": "Show background",
					"default": true
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background color",
					"default": "#ffffff"
				},
				{
					"type": "range",
					"id": "background_opacity",
					"label": "Background opacity",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 35,
					"unit": "%"
				}
			]
		},
		{
			"name": "Gift wrap product",
			"type": "gift_wrap_product",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "[Learn more](https://utdweb.team/shopify-themes/gain/manual#section-product-template) in the theme doc."
				}
			]
		},
		{
			"name": "Countdown timer",
			"type": "countdown_timer",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Product should have metafield `custom.promo_timer_date`. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-product-template)"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text",
					"default": "Sale ends in:"
				},
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Text",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "timer_text_color",
					"label": "Timer text",
					"default": "#ffffff"
				},
				{
					"type": "color",
					"id": "timer_background_color",
					"label": "Timer background",
					"default": "#000000"
				}
			]
		},
		{
			"name": "Notify me",
			"type": "notify_me",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Button settings"
				},
				{
					"type": "text",
					"id": "notify_me_button_label",
					"label": "Button label",
					"default": "Email me when available"
				},
				{
					"type": "image_picker",
					"id": "notify_me_button_icon",
					"label": "Button icon",
					"info": "22 x 22px .svg recommended"
				},
				{
					"type": "header",
					"content": "Form settings"
				},
				{
					"type": "text",
					"id": "notify_me_form_heading",
					"label": "Heading",
					"default": "Notified by email when this product becomes available"
				},
				{
					"type": "text",
					"id": "notify_me_form_email_placeholder",
					"label": "Email placeholder",
					"default": "Your email"
				},
				{
					"type": "text",
					"id": "notify_me_form_submit_button_label",
					"label": "Button label",
					"default": "Notify me when available"
				},
				{
					"type": "text",
					"id": "notify_me_form_success_message",
					"label": "Success message",
					"default": "Email has been successfully sent"
				}
			]
		},
		{
			"name": "Ask a question",
			"type": "ask_question",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"default": "Ask a question"
				},
				{
					"type": "image_picker",
					"id": "button_icon",
					"label": "Button icon",
					"info": "22 x 22px .svg recommended"
				},
				{
					"type": "header",
					"content": "Form settings"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Have a question?"
				},
				{
					"type": "text",
					"id": "email_placeholder",
					"label": "Email placeholder",
					"default": "Email*",
					"info": "This field is required"
				},
				{
					"type": "text",
					"id": "name_placeholder",
					"label": "Name placeholder",
					"default": "Name*",
					"info": "This field is required"
				},
				{
					"type": "text",
					"id": "phone_placeholder",
					"label": "Phone placeholder",
					"default": "Phone",
					"info": "Leave blank to hide field"
				},
				{
					"type": "text",
					"id": "product_url",
					"label": "Product URL placeholder",
					"default": "Reference URL*",
					"info": "This field is required"
				},
				{
					"type": "text",
					"id": "message_placeholder",
					"label": "Message placeholder",
					"default": "Write message*",
					"info": "This field is required"
				},
				{
					"type": "textarea",
					"id": "success_message",
					"label": "Success message",
					"default": "Email has been successfully sent"
				},
				{
					"type": "text",
					"id": "submit_button_label",
					"label": "Submit button label",
					"default": "Submit"
				}
			]
		},
		{
			"name": "Custom field",
			"type": "custom_field",
			"limit": 5,
			"settings": [
				{
					"type": "text",
					"id": "field_label",
					"label": "Field label"
				},
				{
					"type": "text",
					"id": "required_text",
					"label": "Required text"
				}
			]
		},
		{
			"type": "@app"
		},
		{
			"name": "Custom liquid",
			"type": "custom_liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Simple custom liquid"
				}
			]
		}
	]
}
{% endschema %}
