{%- assign design = settings.design -%}

{%- if design == 'standard' -%}

{% if section.index == 1 %}
	{{- 'carousel.build.css' | asset_url | stylesheet_tag -}}
{% endif %}

{{- 'product-banner.build.css' | asset_url | stylesheet_tag -}}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 992px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign blocks					= section.blocks -%}
{%- assign is_lazy					= section.settings.is_lazy -%}
{%- assign label					= section.settings.label -%}
{%- assign heading					= section.settings.heading -%}
{%- assign text						= section.settings.text -%}
{%- assign overlay_opacity          = section.settings.overlay_opacity | divided_by: 100.0 -%}
{%- assign arrows_color				= section.settings.arrows_color -%}
{%- assign arrows_color_background	= section.settings.arrows_color_background -%}
{%- assign pagination_color			= section.settings.pagination_color -%}
{%- assign pagination_active_color	= section.settings.pagination_active_color -%}
{%- assign overlay_color			= section.settings.overlay_color -%}
{%- assign label_color				= section.settings.label_color -%}
{%- assign heading_color			= section.settings.heading_color -%}
{%- assign text_color				= section.settings.text_color -%}
{%- assign section_background		= section.settings.section_background -%}

{%- capture section_styles -%}
	--arrows-color: {{ arrows_color -}}; {{-  -}}
	--arrows-color-background: {{ arrows_color_background -}}; {{-  -}}
	--pagination-color: {{ pagination_color -}}; {{-  -}}
	--pagination-active-color: {{ pagination_active_color -}}; {{-  -}}
	--overlay-color: {{ overlay_color | color_modify: "alpha", overlay_opacity -}}; {{-  -}}
	--label-color: {{ label_color -}}; {{-  -}}
	--heading-color: {{ heading_color -}}; {{-  -}}
	--text-color: {{ text_color -}}; {{-  -}}
	--section-background: {{ section_background -}}; {{-  -}}
{%- endcapture -%}

<section class="product-banner js-product-banner" style="{{- section_styles -}}">
	<div class="product-banner__container">
		<div class="swiper product-banner__media-slider-wrapper js-product-banner-thumbs-slider">
			<div class="swiper-wrapper product-banner__media-slider">
				{%- for block in blocks -%}
					<div class="swiper-slide js-product-banner-thumbs-slide">
						{%- assign image_desktop	= block.settings.image_desktop -%}
						{%- assign image_mobile		= block.settings.image_mobile | default: image_desktop -%}
						{%- assign video_desktop	= block.settings.video_desktop -%}
						{%- assign video_mobile		= block.settings.video_mobile | default: video_desktop -%}

						<div class="product-banner__media-slider-overlay"></div>

						{%- if video_desktop != blank -%}
							<video
								class="product-banner__slide-media product-banner__slide-media--desktop js-product-banner-video"
								loop
								muted
								playsinline
								tabindex="-1"
								aria-hidden="true"
							>
								{%- for source in video_desktop.sources -%}
									{%- if source.mime_type == 'video/mp4' -%}
										<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
									{%- endif -%}
								{%- endfor -%}
							</video>

							<video
								class="product-banner__slide-media product-banner__slide-media--mobile js-product-banner-video"
								loop
								muted
								playsinline
								tabindex="-1"
								aria-hidden="true"
							>
								{%- for source in video_mobile.sources -%}
									{%- if source.mime_type == 'video/mp4' -%}
										<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
									{%- endif -%}
								{%- endfor -%}
							</video>
						{%- elsif image_desktop != blank -%}
							{%- capture img_focal -%}
								--img-desktop-pos: {{ image_desktop.presentation.focal_point }}; --img-mob-pos: {{ image_mobile.presentation.focal_point }};
							{%- endcapture -%}

							{%- if is_lazy -%}
								<picture class="lazy">
									<source
										data-srcset="{{ image_mobile | img_url: "375x" }} 1x, {{ image_mobile | img_url: "750x" }} 2x"
										srcset="{{ image_mobile | img_url: "10x" }} 1x, {{ image_mobile | img_url: "10x" }} 2x"
										media="(max-width: 375px)"
									/>

									<source
										data-srcset="{{ image_mobile | img_url: "420x" }} 1x, {{ image_mobile | img_url: "840x" }} 2x"
										srcset="{{ image_mobile | img_url: "10x" }} 1x, {{ image_mobile | img_url: "10x" }} 2x"
										media="(max-width: 420px)"
									/>

									<source
										data-srcset="{{ image_mobile | img_url: "575x" }} 1x, {{ image_mobile | img_url: "1150x" }} 2x"
										srcset="{{ image_mobile | img_url: "10x" }} 1x, {{ image_mobile | img_url: "10x" }} 2x"
										media="(max-width: 575px)"
									/>

									<source
										data-srcset="{{ image_mobile | img_url: "767x" }} 1x, {{ image_mobile | img_url: "1534x" }} 2x"
										srcset="{{ image_mobile | img_url: "10x" }} 1x, {{ image_mobile | img_url: "10x" }} 2x"
										media="(max-width: 767px)"
									/>

									<source
										data-srcset="{{ image_desktop | img_url: "991x" }} 1x, {{ image_desktop | img_url: "1982x" }} 2x"
										srcset="{{ image_desktop | img_url: "10x" }} 1x, {{ image_desktop | img_url: "10x" }} 2x"
										media="(max-width: 991px)"
									/>

									<source
										data-srcset="{{ image_desktop | img_url: "1440x" }} 1x, {{ image_desktop | img_url: "2880x" }} 2x"
										srcset="{{ image_desktop | img_url: "10x" }} 1x, {{ image_desktop | img_url: "10x" }} 2x"
										media="(max-width: 1440px)"
									/>

									<img
										data-srcset="{{ image_desktop | img_url: "1920x" }} 1x, {{ image_desktop | img_url: "3840x" }} 2x"
										srcset="{{ image_desktop | img_url: "10x" }} 1x, {{ image_desktop | img_url: "10x" }} 2x"
										data-src="{{- image_desktop | img_url: "1920x" -}}"
										src="{{ image_desktop | img_url: "10x" }}"
										alt="{{ image_desktop.alt }}"
										class="product-banner__slide-media product-banner__slide-media--image"
										style="{{ img_focal }}"
									/>
								</picture>
							{%- else -%}
								<picture>
									<source
										srcset="{{ image_mobile | img_url: "375x" }} 1x, {{ image_mobile | img_url: "750x" }} 2x"
										media="(max-width: 375px)"
									/>

									<source
										srcset="{{ image_mobile | img_url: "420x" }} 1x, {{ image_mobile | img_url: "840x" }} 2x"
										media="(max-width: 420px)"
									/>

									<source
										srcset="{{ image_mobile | img_url: "575x" }} 1x, {{ image_mobile | img_url: "1150x" }} 2x"
										media="(max-width: 575px)"
									/>

									<source
										srcset="{{ image_mobile | img_url: "767x" }} 1x, {{ image_mobile | img_url: "1534x" }} 2x"
										media="(max-width: 767px)"
									/>

									<source
										srcset="{{ image_desktop | img_url: "991x" }} 1x, {{ image_desktop | img_url: "1982x" }} 2x"
										media="(max-width: 991px)"
									/>

									<source
										srcset="{{ image_desktop | img_url: "1440x" }} 1x, {{ image_desktop | img_url: "2880x" }} 2x"
										media="(max-width: 1440px)"
									/>

									<img
										srcset="{{ image_desktop | img_url: "1920x" }} 1x, {{ image_desktop | img_url: "3840x" }} 2x"
										src="{{- image_desktop | img_url: "1920x" -}}"
										alt="{{ image_desktop.alt }}"
										class="product-banner__slide-media product-banner__slide-media--image"
										style="{{ img_focal }}"
										{% if section.index == 1 %}
											fetchpriority="high"
										{% endif %}
									/>
								</picture>
							{%- endif -%}
						{%- else -%}
							{% assign odd =  forloop.index | modulo: 2 %}

							{%- if odd  == 1 -%}
								{{- 'lifestyle-1' | placeholder_svg_tag: 'product-banner__slide-media' -}}
							{%- else -%}
								{{- 'lifestyle-2' | placeholder_svg_tag: 'product-banner__slide-media' -}}
							{%- endif -%}
						{%- endif -%}
					</div>
				{%- endfor -%}
			</div>
		</div>

		<div class="product-banner__content">
			{%- if label != blank or heading != blank or text != blank -%}
				<div class="product-banner__text-wrapper">
					<div class="product-banner__text-header">
						{%- if label != blank -%}
							<span class="product-banner__label">
								{{- label -}}
							</span>
						{%- endif -%}

						{%- if heading != blank -%}
							<h2 class="product-banner__heading">
								{{- heading -}}
							</h2>
						{%- endif -%}
					</div>

					{%- if text != blank -%}
						<p class="product-banner__text">
							{{- text -}}
						</p>
					{%- endif %}
				</div>
			{%- endif -%}

			<div class="product-banner__products-slider-container">
				<div class="swiper product-banner__products-slider-wrapper js-product-banner-slider" data-slides-count="{{ blocks.size }}">
					<div class="swiper-wrapper product-banner__products-slider">
						{%- for block in blocks -%}
							{%- assign product = block.settings.product -%}

							<div class="swiper-slide product-banner__products-slide">
								{%- render 'product-card', product: product, size: 414, is_lazy: is_lazy -%}
							</div>
						{%- endfor -%}
					</div>
				</div>

				{%- if blocks.size > 1 -%}
					<div class="product-banner__products-slider-ui js-product-banner-ui">
						<button
							class="swiper-button-prev product-banner__slider-button product-banner__slider-button--prev js-product-banner-slider-button-prev"
							type="button"
							aria-label="{{ "general.accessibility.slider.prev_slide_message" | t | escape -}}"
						>
							{%- render 'icons-small', icon: 'arrow-left' -%}
						</button>

						<button
							class="swiper-button-next product-banner__slider-button product-banner__slider-button--next js-product-banner-slider-button-next"
							type="button"
							aria-label="{{ "general.accessibility.slider.next_slide_message" | t | escape -}}"
						>
							{%- render 'icons-small', icon: 'arrow-right' -%}
						</button>
					</div>

					<div class="swiper-pagination product-banner__pagination js-product-banner-pagination"></div>
				{%- endif -%}
			</div>
		</div>
	</div>

	<script src="{{- 'component-swiper-modules.build.min.js' | asset_url -}}" defer></script>
	<script src="{{- 'section-product-banner.build.min.js' | asset_url -}}" defer></script>
</section>
{%- elsif design == 'alternate' -%}
	{%- render 'product-banner-new', section: section -%}
{%- endif -%}

{% schema %}
{
	"name": "Product banner",
	"disabled_on": {
		"groups": ["header", "footer"],
		"templates": ["password"]
	},
	"settings": [
		{
			"type": "text",
			"id": "label",
			"label": "Label",
			"default": "Label"
		},
		{
			"type": "textarea",
			"id": "heading",
			"label": "Heading",
			"default": "Product banner"
		},
		{
			"type": "textarea",
			"id": "text",
			"label": "Text"
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label",
			"default": "Learn More",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"info": "The setting is used for alternative design.",
			"options": [
				{
					"value": "circle",
					"label": "Circle"
				},
				{
					"value": "base",
					"label": "Base"
				}
			],
			"default": "circle"
		},
		{
			"type": "checkbox",
			"id": "is_lazy",
			"label": "Enable lazy load",
			"default": false
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 0,
			"max": 100,
			"step": 5,
			"unit": "%",
			"label": "Overlay opacity",
			"default": 30
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "arrows_color_background",
			"label": "Arrows background",
			"default": "#fff",
			"info": "Works with a standard design."
		},
		{
			"type": "color",
			"id": "arrows_color",
			"label": "Arrows color",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "pagination_color",
			"label": "Pagination color",
			"default": "#8b8885"
		},
		{
			"type": "color",
			"id": "pagination_active_color",
			"label": "Pagination active color",
			"default": "#D2D2D2"
		},
		{
			"type": "color",
			"id": "label_color",
			"label": "Label color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "overlay_color",
			"label": "Overlay",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "section_background",
			"label": "Section background"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "Button text",
			"default": "#F9F5F0",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_background_color",
			"label": "Button background",
			"default": "transparent",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_border_color",
			"label": "Button border",
			"default": "#F9F5F0",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_outer_border_color",
			"label": "Button outer border",
			"default": "#8B8885",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_text_color_hover",
			"label": "Button text (hover)",
			"default": "#2C2A28",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_background_color_hover",
			"label": "Button background (hover)",
			"default": "#EAB88C",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_border_color_hover",
			"label": "Button border (hover)",
			"default": "#EAB88C",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "color",
			"id": "button_outer_border_color_hover",
			"label": "Button outer border (hover)",
			"default": "#8B8885",
			"info": "The setting is used for alternative design."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "product",
			"name": "Product",
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"type": "video",
					"id": "video_desktop",
					"label": "Banner HTML5 desktop video",
					"info": "Has priority over the image. 3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "video_mobile",
					"label": "Banner HTML5 mobile video",
					"info": "Has priority over the image. 1534 x 1534px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Banner image desktop",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Banner image mobile",
					"info": "1534 x 1534px recommended"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Product banner",
			"settings": {},
			"blocks": [
				{
					"type": "product"
				},
				{
					"type": "product"
				},
				{
					"type": "product"
				}
			]
		}
	]
}
{% endschema %}
