{%- comment -%}
------------------------------------------------------------------------------
	Section: Slideshow
------------------------------------------------------------------------------
{%- endcomment -%}

{% case settings.design %}
	{% when 'alternate' %}
		{% render 'slideshow-new', section: section %}
	{% when 'standard' %}
		{%- assign enable_lazy_load 	  = section.settings.enable_lazy_load -%}
		{%- assign desktop_slide_per_view = section.settings.desktop_slide_per_view -%}
		{%- assign show_arrows 			  = section.settings.show_arrows -%}
		{%- assign show_pagination 		  = section.settings.show_pagination -%}
		{%- assign show_progress_bar 	  = section.settings.show_progress_bar -%}
		{%- assign enable_loop 			  = section.settings.enable_loop -%}
		{%- assign enable_autoplay 		  = section.settings.enable_autoplay -%}
		{%- assign autoplay_speed 		  = section.settings.autoplay_speed | times: 1000 -%}
		{%- assign animation_speed 		  = section.settings.animation_speed | times: 1000 -%}
		{%- assign animation_type 		  = section.settings.animation_type -%}
		{%- assign effect 				  = animation_type -%}
		{%- assign parallax 			  = false -%}

		{%- if effect == 'parallax' -%}
			{%- assign effect 	= 'slide' -%}
			{%- assign parallax = true -%}
		{%- elsif effect == 'fade' or effect == 'flip' -%}
			{%- assign desktop_slide_per_view = 1 -%}
		{%- endif -%}

		{%- assign height_desktop 			= section.settings.height_desktop | append: "vh" -%}
		{%- assign height_mobile 			= section.settings.height_mobile | append: "vh"  -%}
		{%- assign subtract_header_height	= section.settings.subtract_header_height -%}
		{%- assign background_color 		= section.settings.background_color -%}
		{%- assign progress_bar_color 		= section.settings.progress_bar_color -%}
		{%- assign arrows_color 			= section.settings.arrows_color -%}
		{%- assign pagination_color			= section.settings.pagination_color -%}
		{%- assign slide_width_desktop		= "100vw" -%}

		{%- if desktop_slide_per_view == "1.16667" -%}
			{%- assign slide_width_desktop	= "85.7%" -%}
		{%- endif -%}

		{%- if subtract_header_height -%}
			{%- assign height_desktop	= "calc(" | append: height_desktop | append: " - var(--header-height-static, calc(40px + ((var(--body-font-size, 16px) * 1.25 / 1.5) * 2) + (var(--body-font-size, 16px) * 1.15))) - var(--header-offset-top-static, calc(28px + (var(--body-font-size) * 0.875 * 1.6))))" -%}
			{%- assign height_mobile	= "calc(" | append: height_mobile | append: " - var(--header-height-static, calc(40px + ((var(--body-font-size, 16px) * 1.25 / 1.5) * 2) + (var(--body-font-size, 16px) * 1.15))) - var(--header-offset-top-static, calc(28px + (var(--body-font-size) * 0.875 * 1.6))))" -%}
		{%- endif -%}

		{%- assign small_width 				= 991 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign small_width_retina 		= 1982 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign medium_width 			= 1199 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign medium_width_retina 		= 2398 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign large_width 				= 1500 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign large_width_retina 		= 3000 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign extra_large_width 		= 1680 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign extra_large_width_retina = 3360 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign full_hd_width 			= 1920 | divided_by: desktop_slide_per_view | round | append: "x" -%}
		{%- assign full_hd_width_retina 	= 3840 | divided_by: desktop_slide_per_view | round | append: "x" -%}

		{%- assign blocks = section.blocks -%}

		{%- capture slider_settings -%}
			{
				"slidesPerView": 1,
				"grabCursor": true,
				"loop": {{ enable_loop -}},
				"speed": {{ animation_speed -}},
				"effect": "{{- effect -}}",
				"parallax": {{ parallax -}},
				{%- if effect == "creative" %}
					"creativeEffect": {
						"prev": {
							"shadow": true,
							"translate": ["-20%", 0, -1]
						},
						"next": {
							"translate": ["100%", 0, 0]
						}
					},
				{%- endif -%}
				{%- if show_arrows %}
					"navigation": {
						"nextEl": ".swiper-button-next",
						"prevEl": ".swiper-button-prev"
					},
				{%- endif -%}
				{% if show_pagination -%}
					"pagination": {
						"el": ".swiper-pagination",
						"clickable": true,
						{% if blocks.size > 5 -%}
							"dynamicBullets": true,
						{%- endif %}
						"bulletElement": "button"
					},
				{%- endif -%}
				{% if enable_autoplay -%}
					"autoplay": {
						"delay": {{- autoplay_speed -}},
						"disableOnInteraction": false
					},
				{%- endif %}
				"a11y": {
					"prevSlideMessage": {{ "general.accessibility.slider.prev_slide_message" | t  | json -}},
					"nextSlideMessage": {{ "general.accessibility.slider.next_slide_message" | t | json -}},
					"firstSlideMessage": {{ "general.accessibility.slider.first_slide_message" | t | json -}},
					"lastSlideMessage": {{ "general.accessibility.slider.last_slide_message" | t | json -}},
					"slideLabelMessage": {{ "general.accessibility.slider.slide_label_message" | t | json -}},
					"paginationBulletMessage": {{ "general.accessibility.slider.pagination_bullet_message" | t | json }}
				},
				"breakpoints": {
					"768": {
						"slidesPerView": {{ desktop_slide_per_view }}
					}
				}
			}
		{%- endcapture -%}

		{%- capture section_styles  -%}
			--height-desktop: {{ height_desktop -}}; {{-  -}}
			--height-mobile: {{ height_mobile -}}; {{-  -}}
			--background-color: {{ background_color -}}; {{-  -}}
			--progress-bar-color: {{ progress_bar_color -}}; {{-  -}}
			--progress-bar-body-color: {{ progress_bar_color | color_modify: 'alpha', 0.1  -}}; {{-  -}}
			--arrows-color: {{ arrows_color -}}; {{-  -}}
			--pagination-color: {{ pagination_color -}}; {{-  -}}
			--slide-width-desktop: {{ slide_width_desktop -}}; {{-  -}}
			--slide-speed: {{ animation_speed }}ms;
		{%- endcapture -%}

		{%- assign slider_classes = 'slideshow__slider' -%}

		{% if desktop_slide_per_view == "1.16667" and blocks.size > 1 %}
			{%- assign slider_classes = slider_classes | append: ' slideshow__slider--small' -%}
		{%- endif %}

		{% if blocks.size > 1 %}
			{%- assign slider_classes = slider_classes | append: ' swiper' -%}
		{%- endif %}

		{%- assign slider_classes = slider_classes | append: ' js-slider' -%}

		{%- if blocks.size > 0 -%}
			{{- 'slideshow.build.css' | asset_url | stylesheet_tag -}}

			{%- style -%}
				#shopify-section-{{- section.id -}} {
					padding-top: {{- section.settings.offset_top_mobile -}}px;
					padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
				}

				@media screen and (min-width: 768px) {
					#shopify-section-{{- section.id -}} {
						padding-top: {{- section.settings.offset_top_desktop -}}px;
						padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
					}
				}
			{%- endstyle -%}

			<section
				class="slideshow js-slideshow"
				id="{{- section.id -}}"
				style="{{- section_styles -}}"
			>
				<div class="{{- slider_classes -}}">
					<div class="slideshow__slider-wrapper {% if blocks.size > 1 %} swiper-wrapper{%- endif -%}">
						{%- for block in blocks -%}
							{%- assign label 					= block.settings.label -%}
							{%- assign heading 					= block.settings.heading -%}
							{%- assign description 				= block.settings.description -%}
							{%- assign button_text 				= block.settings.button_text -%}
							{%- assign button_aria_label		= block.settings.button_aria_label -%}
							{%- assign button_link 				= block.settings.button_link -%}
							{%- assign open_in_new_tab 			= block.settings.open_in_new_tab -%}
							{%- assign make_link_full_slide 	= block.settings.make_link_full_slide -%}
							{%- assign second_button_text       = block.settings.second_button_text -%}
							{%- assign second_button_aria_label = block.settings.second_button_aria_label -%}
							{%- assign second_button_link 		= block.settings.second_button_link -%}
							{%- assign second_open_in_new_tab 	= block.settings.second_open_in_new_tab -%}
							{%- assign is_button 				= false -%}
							{%- assign enable_fetch_priority = false -%}

							{% if section.index == 1 and forloop.index > 1 %}
								{% assign enable_lazy_load = true %}
							{% endif %}

							{% if section.index == 1 and forloop.index == 1 %}
								{%- assign enable_fetch_priority = true -%}
							{% endif %}

							{%- if button_text != blank and button_link != blank -%}
								{%- assign is_button = true -%}
							{%- elsif second_button_text != blank and second_button_link != blank -%}
								{%- assign is_button = true -%}
							{%- endif -%}

							{%- assign enable_parallax = false -%}

							{%- if parallax -%}
								{%- unless forloop.last and enable_loop == false and desktop_slide_per_view == "1.16667" -%}
									{%- assign enable_parallax = true -%}
								{%- endunless -%}
							{%- endif -%}

							{%- assign text_alignment_inside_block 			= block.settings.text_alignment_inside_block -%}
							{%- assign content_alignment 					= block.settings.content_alignment -%}
							{%- assign background_color 					= block.settings.background_color -%}
							{%- assign background_content 					= block.settings.background_content -%}
							{%- assign label_color 							= block.settings.label_color -%}
							{%- assign heading_color 						= block.settings.heading_color -%}
							{%- assign description_color 					= block.settings.description_color -%}
							{%- assign button_text_color 					= block.settings.button_text_color -%}
							{%- assign button_background_color 				= block.settings.button_background_color -%}
							{%- assign button_border_color 					= block.settings.button_border_color -%}
							{%- assign button_text_color_hover 				= block.settings.button_text_color_hover -%}
							{%- assign button_background_color_hover 		= block.settings.button_background_color_hover -%}
							{%- assign button_border_color_hover 			= block.settings.button_border_color_hover -%}
							{%- assign second_button_text_color 			= block.settings.second_button_text_color -%}
							{%- assign second_button_background_color 		= block.settings.second_button_background_color -%}
							{%- assign second_button_border_color 			= block.settings.second_button_border_color -%}
							{%- assign second_button_text_color_hover 		= block.settings.second_button_text_color_hover -%}
							{%- assign second_button_background_color_hover = block.settings.second_button_background_color_hover -%}
							{%- assign second_button_border_color_hover 	= block.settings.second_button_border_color_hover -%}
							{%- assign overlay_color 						= block.settings.overlay_color -%}
							{%- assign poster_desktop 						= block.settings.poster_desktop -%}
							{%- assign poster_mobile 						= block.settings.poster_mobile | default: poster_desktop -%}

							{%- capture slide_styles -%}
								--text-alignment: {{- text_alignment_inside_block | replace: 'left', 'start' | replace: 'right', 'end' -}}; {{-  -}}
								--background-color: {{ background_color -}}; {{-  -}}
								--background-content: {{ background_content -}}; {{-  -}}
								--label-color: {{ label_color -}}; {{-  -}}
								--heading-color: {{ heading_color -}}; {{-  -}}
								--description-color: {{ description_color -}}; {{-  -}}
								--button-text-color: {{ button_text_color -}}; {{-  -}}
								--button-background-color: {{ button_background_color -}}; {{-  -}}
								--button-border-color: {{ button_border_color -}}; {{-  -}}
								--button-text-color-hover: {{ button_text_color_hover -}}; {{-  -}}
								--button-background-color-hover: {{ button_background_color_hover -}}; {{-  -}}
								--button-border-color-hover: {{ button_border_color_hover -}}; {{-  -}}
								--second-button-text-color: {{ second_button_text_color -}}; {{-  -}}
								--second-button-background-color: {{ second_button_background_color -}}; {{-  -}}
								--second-button-border-color: {{ second_button_border_color -}}; {{-  -}}
								--second-button-text-color-hover: {{ second_button_text_color_hover -}}; {{-  -}}
								--second-button-background-color-hover: {{ second_button_background_color_hover -}}; {{-  -}}
								--second-button-border-color-hover: {{ second_button_border_color_hover -}}; {{-  -}}
								--overlay-color: {{ overlay_color -}};
							{%- endcapture -%}

							<div
								class="slideshow__slide swiper-slide"
								style="{{- slide_styles -}}"
							>
								{%- if effect == 'flip' -%}
									<div class="swiper-slide-shadow-right"></div>
									<div class="swiper-slide-shadow-left"></div>
								{%- elsif effect == 'creative' -%}
									<div class="swiper-slide-shadow"></div>
								{%- endif -%}

								{%- if poster_desktop != blank -%}
									<div class="slideshow__slide-poster slideshow__slide-poster--mobile js-video-poster-mobile">
										{%- render "slideshow-slide",
											image_mobile: poster_mobile,
											image_desktop: poster_desktop,
											height_mobile: height_mobile,
											height_desktop: height_desktop,
											enable_lazy_load: enable_lazy_load,
											enable_fetch_priority: enable_fetch_priority,
											small_width: small_width,
											small_width_retina: small_width_retina,
											medium_width: medium_width,
											medium_width_retina: medium_width_retina,
											large_width: large_width,
											large_width_retina: large_width_retina,
											extra_large_width: extra_large_width,
											extra_large_width_retina: extra_large_width_retina,
											full_hd_width: full_hd_width,
											full_hd_width_retina: full_hd_width_retina
										-%}
									</div>

									<div class="slideshow__slide-poster slideshow__slide-poster--desktop js-video-poster-desktop">
										{%- render "slideshow-slide",
											image_mobile: poster_desktop,
											image_desktop: poster_desktop,
											height_mobile: height_mobile,
											height_desktop: height_desktop,
											enable_lazy_load: enable_lazy_load,
											enable_fetch_priority: enable_fetch_priority,
											small_width: small_width,
											small_width_retina: small_width_retina,
											medium_width: medium_width,
											medium_width_retina: medium_width_retina,
											large_width: large_width,
											large_width_retina: large_width_retina,
											extra_large_width: extra_large_width,
											extra_large_width_retina: extra_large_width_retina,
											full_hd_width: full_hd_width,
											full_hd_width_retina: full_hd_width_retina
										-%}
									</div>
								{%- endif -%}

								{%- case block.type  -%}
									{% when "image" -%}
										{%- assign image_desktop 	= block.settings.image_desktop -%}
										{%- assign image_mobile 	= block.settings.image_mobile | default: image_desktop-%}

										{% if button_link != blank and make_link_full_slide %}
											<a href="{{ button_link }}"
											   class="slideshow__link-full"
											   aria-label="{{ button_aria_label }}"
												{% if open_in_new_tab %}
													target="_blank"
													rel="nofollow"
												{% endif %}
											></a>
										{% endif %}

										{%- if image_desktop -%}
											{%- render "slideshow-slide",
												image_mobile: image_mobile,
												image_desktop: image_desktop,
												height_mobile: height_mobile,
												height_desktop: height_desktop,
												enable_lazy_load: enable_lazy_load,
												enable_fetch_priority: enable_fetch_priority,
												small_width: small_width,
												small_width_retina: small_width_retina,
												medium_width: medium_width,
												medium_width_retina: medium_width_retina,
												large_width: large_width,
												large_width_retina: large_width_retina,
												extra_large_width: extra_large_width,
												extra_large_width_retina: extra_large_width_retina,
												full_hd_width: full_hd_width,
												full_hd_width_retina: full_hd_width_retina
											-%}
										{%- else -%}
											{% assign odd =  forloop.index | modulo: 2 %}

											{%- if odd  == 1 -%}
												{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media slideshow__slide-media--placeholder' -}}
											{%- else -%}
												{{- 'lifestyle-2' | placeholder_svg_tag: 'slideshow__slide-media slideshow__slide-media--placeholder' -}}
											{%- endif -%}
										{%- endif -%}
									{% when "html_video" -%}
										{%- assign video_desktop		= block.settings.video_desktop -%}
										{%- assign video_mobile			= block.settings.video_mobile | default: video_desktop -%}
										{%- assign poster_desktop 		= block.settings.poster_desktop -%}
										{%- assign poster_mobile 		= block.settings.poster_mobile | default: poster_desktop -%}
										{%- assign play_type 			= block.settings.autoplay -%}
										{%- assign show_button 			= true -%}
										{%- assign autoplay 			= true -%}

										{%- if play_type == "autoplay"  -%}
											{%- assign show_button	= false -%}
										{%- endif -%}

										{%- if play_type == "button"  -%}
											{%- assign autoplay	= false -%}
										{%- endif -%}

										{% if button_link != blank and make_link_full_slide %}
											<a href="{{ button_link }}"
											   class="slideshow__link-full"
											   aria-label="{{ button_aria_label }}"
												{% if open_in_new_tab %}
													target="_blank"
													rel="nofollow"
												{% endif %}
											></a>
										{% endif %}

										{%- if video_desktop != blank -%}
											<div class="js-videos" data-show-button="{{- show_button -}}">
												<video
													class="slideshow__slide-media slideshow__slide-media--desktop js-video"
													data-device="desktop"
													data-type="html"
													loop
													muted
													playsinline
													tabindex="-1"
													aria-hidden="true"
													data-autoplay="{{- autoplay -}}"
												>
													{%- for source in video_desktop.sources -%}
														{%- if source.mime_type == 'video/mp4' -%}
															<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
														{%- endif -%}
													{%- endfor -%}
												</video>

												<video
													class="slideshow__slide-media slideshow__slide-media--mobile js-video"
													data-device="mobile"
													data-type="html"
													loop
													muted
													playsinline
													tabindex="-1"
													aria-hidden="true"
													data-autoplay="{{- autoplay -}}"
												>
													{%- for source in video_mobile.sources -%}
														{%- if source.mime_type == 'video/mp4' -%}
															<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
														{%- endif -%}
													{%- endfor -%}
												</video>
											</div>
										{%- else -%}
											{% assign odd =  forloop.index | modulo: 2 %}

											{%- if odd  == 1 -%}
												{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media  slideshow__slide-media--placeholder' -}}
											{%- else -%}
												{{- 'lifestyle-2' | placeholder_svg_tag: 'slideshow__slide-media  slideshow__slide-media--placeholder' -}}
											{%- endif -%}
										{%- endif -%}

									{% when "external_video" -%}
										{%- assign video_url_desktop 	= block.settings.video_url_desktop -%}
										{%- assign video_url_mobile 	= block.settings.video_url_mobile | default: video_url_desktop -%}
										{%- assign play_type 			= block.settings.autoplay -%}
										{%- assign show_button 			= true -%}
										{%- assign autoplay 			= true -%}

										{%- if play_type == "autoplay"  -%}
											{%- assign show_button	= false -%}
										{%- endif -%}

										{%- if play_type == "button"  -%}
											{%- assign autoplay	= false -%}
										{%- endif -%}

										{% if button_link != blank and make_link_full_slide %}
											<a href="{{ button_link }}"
											   class="slideshow__link-full"
											   aria-label="{{ button_aria_label }}"
												{% if open_in_new_tab %}
													target="_blank"
													rel="nofollow"
												{% endif %}
											></a>
										{% endif %}

										{%- if video_url_desktop != blank -%}
											<div class="js-videos" data-show-button="{{- show_button -}}">
												{%- if video_url_desktop.type == 'youtube' -%}
													<div
														class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--desktop js-video"
														data-device="desktop"
														data-type="{{- video_url_desktop.type -}}"
														data-autoplay="{{- autoplay -}}"
													>
														<div
															class="js-video-youtube"
															data-video-id="{{- video_url_desktop.id -}}"
															tabindex="-1"
															aria-hidden="true"
														></div>
													</div>
												{%- else -%}
													<div
														class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--desktop js-video js-video-vimeo"
														data-device="desktop"
														data-video-id="{{- video_url_desktop.id -}}"
														data-type="{{- video_url_desktop.type -}}"
														aria-hidden="true"
														data-autoplay="{{- autoplay -}}"
													></div>
												{%- endif -%}

												{%- if video_url_mobile.type == 'youtube' -%}
													<div
														class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--mobile js-video"
														data-device="mobile"
														data-type="{{- video_url_mobile.type -}}"
														data-autoplay="{{- autoplay -}}"
													>
														<div
															class="js-video-youtube"
															data-video-id="{{- video_url_mobile.id -}}"
															tabindex="-1"
															aria-hidden="true"
														></div>
													</div>
												{%- else -%}
													<div
														class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--mobile js-video js-video-vimeo"
														data-device="mobile"
														data-video-id="{{- video_url_mobile.id -}}"
														data-type="{{- video_url_mobile.type -}}"
														aria-hidden="true"
														data-autoplay="{{- autoplay -}}"
													></div>
												{%- endif -%}
											</div>
										{%- elsif poster_desktop == blank -%}
											{% assign odd =  forloop.index | modulo: 2 %}

											{%- if odd  == 1 -%}
												{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media slideshow__slide-media--placeholder' -}}
											{%- else -%}
												{{- 'lifestyle-2' | placeholder_svg_tag: 'slideshow__slide-media slideshow__slide-media--placeholder' -}}
											{%- endif -%}
										{%- endif -%}
									{% when "three_col" %}
										{% assign play_type 	= block.settings.autoplay %}
										{% assign show_button 	= true %}
										{% assign autoplay 		= true %}

										{% assign media_type_col_1 	= block.settings.media_type_col_1 %}
										{% assign image_desktop_col_1 = block.settings.image_desktop_col_1 %}
										{% assign image_mobile_col_1 = block.settings.image_mobile_col_1 | default: image_desktop_col_1 %}
										{% assign video_desktop_col_1 = block.settings.video_desktop_col_1 %}
										{% assign video_mobile_col_1 = block.settings.video_mobile_col_1 | default: video_desktop_col_1 %}
										{% assign video_external_desktop_col_1 = block.settings.video_url_desktop_col_1 %}
										{% assign video_external_mobile_col_1 = block.settings.video_url_mobile_col_1 | default: video_external_desktop_col_1 %}

										{% assign media_type_col_3 	= block.settings.media_type_col_3 %}
										{% assign image_desktop_col_3 = block.settings.image_desktop_col_3 %}
										{% assign image_mobile_col_3 = block.settings.image_mobile_col_3 | default: image_desktop_col_3 %}
										{% assign video_desktop_col_3 = block.settings.video_desktop_col_3 %}
										{% assign video_mobile_col_3 = block.settings.video_mobile_col_3 | default: video_desktop_col_3 %}
										{% assign video_external_desktop_col_3 = block.settings.video_url_desktop_col_3 %}
										{% assign video_external_mobile_col_3 = block.settings.video_url_mobile_col_3 | default: video_external_desktop_col_3 %}

										{% if play_type == "autoplay"  %}
											{% assign show_button	= false %}
										{% endif %}

										{% if play_type == "button"  %}
											{% assign autoplay	= false %}
										{% endif %}

										<div class="slideshow__three-col">
											<div class="slideshow__three-col-media">
												{% if button_link != blank and make_link_full_slide %}
													<a href="{{ button_link }}"
													   class="slideshow__link-full"
													   aria-label="{{ button_aria_label }}"
														{% if open_in_new_tab %}
															target="_blank"
															rel="nofollow"
														{% endif %}
													></a>
												{% endif %}

												{% case media_type_col_1 %}
													{% when "image" %}
														{% if image_desktop_col_1 != blank %}
															{%- render "slideshow-slide",
																image_mobile: image_mobile_col_1,
																image_desktop: image_desktop_col_1,
																height_mobile: height_mobile,
																height_desktop: height_desktop,
																enable_lazy_load: enable_lazy_load,
																enable_fetch_priority: enable_fetch_priority,
																small_width: small_width,
																small_width_retina: small_width_retina,
																medium_width: medium_width,
																medium_width_retina: medium_width_retina,
																large_width: large_width,
																large_width_retina: large_width_retina,
																extra_large_width: extra_large_width,
																extra_large_width_retina: extra_large_width_retina,
																full_hd_width: full_hd_width,
																full_hd_width_retina: full_hd_width_retina
															-%}
														{% else %}
															{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media  slideshow__slide-media--placeholder' -}}
														{% endif %}
													{% when "html_video" %}
														{% if video_desktop_col_1 != blank %}
															<div class="js-videos" data-show-button="{{- show_button -}}">
																<video
																	class="slideshow__slide-media slideshow__slide-media--desktop js-video"
																	data-device="desktop"
																	data-type="html"
																	loop
																	muted
																	playsinline
																	tabindex="-1"
																	aria-hidden="true"
																	data-autoplay="{{- autoplay -}}"
																>
																	{%- for source in video_desktop_col_1.sources -%}
																		{%- if source.mime_type == 'video/mp4' -%}
																			<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																		{%- endif -%}
																	{%- endfor -%}
																</video>

																<video
																	class="slideshow__slide-media slideshow__slide-media--mobile js-video"
																	data-device="mobile"
																	data-type="html"
																	loop
																	muted
																	playsinline
																	tabindex="-1"
																	aria-hidden="true"
																	data-autoplay="{{- autoplay -}}"
																>
																	{%- for source in video_mobile_col_1.sources -%}
																		{%- if source.mime_type == 'video/mp4' -%}
																			<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																		{%- endif -%}
																	{%- endfor -%}
																</video>
															</div>
														{% endif %}
													{% when "iframe_video" %}
														{% if video_external_desktop_col_1 != blank %}
															<div class="js-videos" data-show-button="{{- show_button -}}">
																{%- if video_external_desktop_col_1.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--desktop js-video"
																		data-device="desktop"
																		data-type="{{- video_external_desktop_col_1.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_desktop_col_1.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--desktop js-video js-video-vimeo"
																		data-device="desktop"
																		data-video-id="{{- video_external_desktop_col_1.id -}}"
																		data-type="{{- video_external_desktop_col_1.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}

																{%- if video_external_mobile_col_1.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--mobile js-video"
																		data-device="mobile"
																		data-type="{{- video_external_mobile_col_1.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_mobile_col_1.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--mobile js-video js-video-vimeo"
																		data-device="mobile"
																		data-video-id="{{- video_external_mobile_col_1.id -}}"
																		data-type="{{- video_external_mobile_col_1.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}
															</div>
														{% endif %}
												{% endcase %}
											</div>

											<div class="slideshow__three-col-content">
												{%- if label != blank -%}
													<span
														class="slideshow__slide-label"
														{%- if enable_parallax -%}
															data-swiper-parallax="-500"
														{%- endif -%}
													>
														{{- label -}}
													</span>
												{%- endif -%}

												{%- if heading != blank -%}
													<h2
														class="h2 slideshow__slide-heading"
														{%- if enable_parallax -%}
															data-swiper-parallax="-400"
														{%- endif -%}
													>
														{{- heading -}}
													</h2>
												{%- endif -%}

												{% if button_text != blank and button_link != blank %}
													<div class="slideshow__slide-button-wrapper"
													{% if enable_parallax %}
														data-swiper-parallax="-200"
														{% endif %}>
														<a
															class="button button--secondary slideshow__slide-button js-button"
															href="{{- button_link -}}"
															{% if button_aria_label != blank %}
																aria-label="{{- button_aria_label | escape -}}"
															{% endif %}
															{% if open_in_new_tab %}
																target="_blank"
																rel="nofollow"
															{% endif %}
														>
															{{- button_text -}}
														</a>
													</div>
												{% endif %}
											</div>

											<div class="slideshow__three-col-media">
												{% if button_link != blank and make_link_full_slide %}
													<a href="{{ button_link }}"
													   class="slideshow__link-full"
													   aria-label="{{ button_aria_label }}"
														{% if open_in_new_tab %}
															target="_blank"
															rel="nofollow"
														{% endif %}
													></a>
												{% endif %}

												{% case media_type_col_3 %}
													{% when "image" %}
														{% if image_desktop_col_3 != blank %}
															{%- render "slideshow-slide",
																image_mobile: image_mobile_col_3,
																image_desktop: image_desktop_col_3,
																height_mobile: height_mobile,
																height_desktop: height_desktop,
																enable_lazy_load: enable_lazy_load,
																enable_fetch_priority: enable_fetch_priority,
																small_width: small_width,
																small_width_retina: small_width_retina,
																medium_width: medium_width,
																medium_width_retina: medium_width_retina,
																large_width: large_width,
																large_width_retina: large_width_retina,
																extra_large_width: extra_large_width,
																extra_large_width_retina: extra_large_width_retina,
																full_hd_width: full_hd_width,
																full_hd_width_retina: full_hd_width_retina
															-%}
														{% else %}
															{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media  slideshow__slide-media--placeholder' -}}
														{% endif %}
													{% when "html_video" %}
														<div class="js-videos" data-show-button="{{- show_button -}}">
															<video
																class="slideshow__slide-media slideshow__slide-media--desktop js-video"
																data-device="desktop"
																data-type="html"
																loop
																muted
																playsinline
																tabindex="-1"
																aria-hidden="true"
																data-autoplay="{{- autoplay -}}"
															>
																{%- for source in video_desktop_col_3.sources -%}
																	{%- if source.mime_type == 'video/mp4' -%}
																		<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																	{%- endif -%}
																{%- endfor -%}
															</video>

															<video
																class="slideshow__slide-media slideshow__slide-media--mobile js-video"
																data-device="mobile"
																data-type="html"
																loop
																muted
																playsinline
																tabindex="-1"
																aria-hidden="true"
																data-autoplay="{{- autoplay -}}"
															>
																{%- for source in video_mobile_col_3.sources -%}
																	{%- if source.mime_type == 'video/mp4' -%}
																		<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																	{%- endif -%}
																{%- endfor -%}
															</video>
														</div>
													{% when "iframe_video" %}
														{% if video_external_desktop_col_3 != blank %}
															<div class="js-videos" data-show-button="{{- show_button -}}">
																{%- if video_external_desktop_col_3.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--desktop js-video"
																		data-device="desktop"
																		data-type="{{- video_external_desktop_col_3.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_desktop_col_3.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--desktop js-video js-video-vimeo"
																		data-device="desktop"
																		data-video-id="{{- video_external_desktop_col_3.id -}}"
																		data-type="{{- video_external_desktop_col_3.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}

																{%- if video_external_mobile_col_3.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--mobile js-video"
																		data-device="mobile"
																		data-type="{{- video_external_mobile_col_3.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_mobile_col_3.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--mobile js-video js-video-vimeo"
																		data-device="mobile"
																		data-video-id="{{- video_external_mobile_col_3.id -}}"
																		data-type="{{- video_external_mobile_col_3.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}
															</div>
														{% endif %}
												{% endcase %}
											</div>
										</div>
									{% when "two_col" %}
										{% assign media_position 	= block.settings.media_position %}
										{% assign media_type 		= block.settings.media_type %}
										{% assign play_type 		= block.settings.autoplay %}
										{% assign show_button 		= true %}
										{% assign autoplay 			= true %}

										{% if play_type == "autoplay"  %}
											{% assign show_button	= false %}
										{% endif %}

										{% if play_type == "button"  %}
											{% assign autoplay	= false %}
										{% endif %}

										<div class="slideshow__two-col {% if media_position == 'right' %}slideshow__two-col--reverse{% endif %}">
											<div class="slideshow__two-col-media">
												{% if button_link != blank and make_link_full_slide %}
													<a href="{{ button_link }}"
													   class="slideshow__link-full"
													   aria-label="{{ button_aria_label }}"
														{% if open_in_new_tab %}
															target="_blank"
															rel="nofollow"
														{% endif %}
													></a>
												{% endif %}

												{% case media_type %}
													{% when "image" %}
														{%- assign image_desktop 	= block.settings.image_desktop -%}
														{%- assign image_mobile 	= block.settings.image_mobile | default: image_desktop-%}

														{% if image_desktop != blank %}
															{%- render "slideshow-slide",
																image_mobile: image_mobile,
																image_desktop: image_desktop,
																height_mobile: height_mobile,
																height_desktop: height_desktop,
																enable_lazy_load: enable_lazy_load,
																enable_fetch_priority: enable_fetch_priority,
																small_width: small_width,
																small_width_retina: small_width_retina,
																medium_width: medium_width,
																medium_width_retina: medium_width_retina,
																large_width: large_width,
																large_width_retina: large_width_retina,
																extra_large_width: extra_large_width,
																extra_large_width_retina: extra_large_width_retina,
																full_hd_width: full_hd_width,
																full_hd_width_retina: full_hd_width_retina
															-%}
														{% else %}
															{{- 'lifestyle-1' | placeholder_svg_tag: 'slideshow__slide-media  slideshow__slide-media--placeholder' -}}
														{% endif %}
													{% when "html_video" %}
														{% assign video_desktop = block.settings.video_desktop %}
														{% assign video_mobile = block.settings.video_mobile | default: video_desktop %}

														{% if video_desktop != blank %}
															<div class="js-videos" data-show-button="{{- show_button -}}">
																<video
																	class="slideshow__slide-media slideshow__slide-media--desktop js-video"
																	data-device="desktop"
																	data-type="html"
																	loop
																	muted
																	playsinline
																	tabindex="-1"
																	aria-hidden="true"
																	data-autoplay="{{- autoplay -}}"
																>
																	{%- for source in video_desktop.sources -%}
																		{%- if source.mime_type == 'video/mp4' -%}
																			<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																		{%- endif -%}
																	{%- endfor -%}
																</video>

																<video
																	class="slideshow__slide-media slideshow__slide-media--mobile js-video"
																	data-device="mobile"
																	data-type="html"
																	loop
																	muted
																	playsinline
																	tabindex="-1"
																	aria-hidden="true"
																	data-autoplay="{{- autoplay -}}"
																>
																	{%- for source in video_mobile.sources -%}
																		{%- if source.mime_type == 'video/mp4' -%}
																			<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
																		{%- endif -%}
																	{%- endfor -%}
																</video>
															</div>
														{% endif %}
													{% when "iframe_video" %}
														{% assign video_external_desktop = block.settings.video_url_desktop %}
														{% assign video_external_mobile = block.settings.video_url_mobile | default: video_external_desktop %}

														{% if video_external_desktop != blank %}
															<div class="js-videos" data-show-button="{{- show_button -}}">
																{%- if video_external_desktop.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--desktop js-video"
																		data-device="desktop"
																		data-type="{{- video_external_desktop.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_desktop.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--desktop js-video js-video-vimeo"
																		data-device="desktop"
																		data-video-id="{{- video_external_desktop.id -}}"
																		data-type="{{- video_external_desktop.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}

																{%- if video_external_mobile.type == 'youtube' -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--youtube slideshow__slide-media--mobile js-video"
																		data-device="mobile"
																		data-type="{{- video_external_mobile.type -}}"
																		data-autoplay="{{- autoplay -}}"
																	>
																		<div
																			class="js-video-youtube"
																			data-video-id="{{- video_external_mobile.id -}}"
																			tabindex="-1"
																			aria-hidden="true"
																		></div>
																	</div>
																{%- else -%}
																	<div
																		class="slideshow__slide-media slideshow__slide-media--vimeo slideshow__slide-media--mobile js-video js-video-vimeo"
																		data-device="mobile"
																		data-video-id="{{- video_external_mobile.id -}}"
																		data-type="{{- video_external_mobile.type -}}"
																		aria-hidden="true"
																		data-autoplay="{{- autoplay -}}"
																	></div>
																{%- endif -%}
															</div>
														{% endif %}
												{% endcase %}
											</div>

											<div class="slideshow__two-col-content">
												{%- if label != blank -%}
													<span
														class="slideshow__slide-label"
													{%- if enable_parallax -%}
														data-swiper-parallax="-500"
													{%- endif -%}
												>
													{{- label -}}
												</span>
												{%- endif -%}

												{%- if heading != blank -%}
													<h2
														class="h2 slideshow__slide-heading"
														{%- if enable_parallax -%}
															data-swiper-parallax="-400"
														{%- endif -%}
													>
														{{- heading -}}
													</h2>
												{%- endif -%}

												{%- if description != blank -%}
													<div
														class="slideshow__slide-description section-rte"
														{%- if enable_parallax -%}
															data-swiper-parallax="-300"
														{%- endif -%}
													>
														{{- description -}}
													</div>
												{%- endif -%}

												{% if button_text != blank and button_link != blank %}
													<div class="slideshow__slide-button-wrapper"
													{% if enable_parallax %}
														data-swiper-parallax="-200"
														{% endif %}>
														<a
															class="button button--secondary slideshow__slide-button js-button"
															href="{{- button_link -}}"
															{% if button_aria_label != blank %}
																aria-label="{{- button_aria_label | escape -}}"
															{% endif %}
															{% if open_in_new_tab %}
																target="_blank"
																rel="nofollow"
															{% endif %}
														>
															{{- button_text -}}
														</a>
													</div>
												{% endif %}
											</div>
										</div>
								{%- endcase -%}

								{%- if
									label != blank
									or heading != blank
									or description != blank
									or is_button != blank
								-%}
									{% if block.type != "three_col" and block.type != "two_col" %}
										<div class="slideshow__slide-content {{ content_alignment -}}">
											<div class="slideshow__slide-content-inner">
												{%- if label != blank -%}
													<span
														class="slideshow__slide-label"
													{%- if enable_parallax -%}
														data-swiper-parallax="-500"
													{%- endif -%}
												>
													{{- label -}}
												</span>
												{%- endif -%}

												{%- if heading != blank -%}
													<h2
														class="h2 slideshow__slide-heading"
														{%- if enable_parallax -%}
															data-swiper-parallax="-400"
														{%- endif -%}
													>
														{{- heading -}}
													</h2>
												{%- endif -%}

												{%- if description != blank -%}
													<div
														class="slideshow__slide-description section-rte"
														{%- if enable_parallax -%}
															data-swiper-parallax="-300"
														{%- endif -%}
													>
														{{- description -}}
													</div>
												{%- endif -%}

												{%- if is_button -%}
													<div class="slideshow__slide-button-wrapper"
													{% if enable_parallax %}
														data-swiper-parallax="-200"
														{% endif %}>
														{% if button_text != blank and button_link != blank %}
															<a
																class="button button--secondary slideshow__slide-button js-button"
																href="{{- button_link -}}"
																{% if button_aria_label != blank %}
																	aria-label="{{- button_aria_label | escape -}}"
																{% endif %}
																{% if open_in_new_tab %}
																	target="_blank"
																	rel="nofollow"
																{% endif %}
															>
																{{- button_text -}}
															</a>
														{% endif %}

														{% if second_button_text != blank and second_button_link != blank %}
															<a
																class="button button--secondary slideshow__slide-button slideshow__slide-button--second js-button"
																href="{{- second_button_link -}}"
																{% if second_button_aria_label != blank %}
																	aria-label="{{- second_button_aria_label | escape -}}"
																{% endif %}
																{% if second_open_in_new_tab %}
																	target="_blank"
																	rel="nofollow"
																{% endif %}
															>
																{{- second_button_text -}}
															</a>
														{% endif %}
													</div>
												{%- endif -%}
											</div>
										</div>
									{% endif %}
								{%- endif -%}
							</div>
						{%- endfor -%}
					</div>

					{%- if show_progress_bar and enable_autoplay and blocks.size > 1 -%}
						<div
							class="slideshow__slider-progress-bar-wrapper"
							aria-hidden="true"
						>
							<span class="slideshow__slider-label js-progress-first-label">
								{%- if forloop.index < 10 -%}
									0
								{%- endif -%}
								01
							</span>

							<div
								class="slideshow__slider-progress-bar"
								style="--width: 0%;"
							>
								<span class="slideshow__slider-progress-bar-content js-progressbar">
								</span>
							</div>

							<span class="slideshow__slider-label slideshow__slider-label--last">
								{%- if blocks.size < 10 -%}
									0
								{%- endif -%}

								{{- blocks.size -}}
							</span>
						</div>
					{%- endif -%}

					<div class="slideshow__slider-video-button-wrapper">
						<button class="focus-visible-outline slideshow__slider-video-button slideshow__slider-video-button--play js-video-button-play" aria-label="{{- "general.accessibility.video_play" | t | escape -}}">
							{%- render "icons-medium", icon: "play-round" -%}
						</button>

						<button class="focus-visible-outline slideshow__slider-video-button slideshow__slider-video-button--pause js-video-button-pause"  aria-label="{{- "general.accessibility.video_pause" | t | escape -}}">
							{%- render "icons-medium", icon: "pause-round" -%}
						</button>
					</div>

					{%- if blocks.size > 1 and show_arrows -%}
						<button class="swiper-button-prev slideshow__button slideshow__button--prev">
							{%- render 'icons-big', icon: 'round-arrow' -%}
						</button>

						<button class="swiper-button-next slideshow__button slideshow__button--next">
							{%- render 'icons-big', icon: 'round-arrow' -%}
						</button>
					{%- endif -%}

					{%- if blocks.size > 1 and show_pagination -%}
						<div class="swiper-pagination slideshow__pagination">
						</div>
					{%- endif -%}
				</div>

				{%- if blocks.size > 1 -%}
					<script class="js-slider-settings" type="application/json">
						{{- slider_settings -}}
					</script>
				{%- endif -%}
			</section>

			<script src="{{- 'component-swiper-modules.build.min.js' | asset_url -}}" defer></script>
			<script src="{{- 'component-video.build.min.js' | asset_url -}}" defer></script>
			<script src="{{- 'section-slideshow.build.min.js' | asset_url -}}" defer></script>
		{%- endif -%}
{% endcase %}

{%- schema -%}
{
	"name": "Slideshow",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "desktop_slide_per_view",
			"label": "Slides view",
			"options": [
				{
					"value": "1",
					"label": "Full width slide"
				},
				{
					"value": "1.16667",
					"label": "With next slide"
				}
			],
			"info": "Option 'With next slide' will not work with the animation types: 'Fade', 'Flip' or with design 'Alternate'"
		},
		{
			"type": "range",
			"id": "height_desktop",
			"label": "Desktop section height",
			"unit": "%",
			"min": 30,
			"max": 100,
			"step": 1,
			"default": 100
		},
		{
			"type": "range",
			"id": "height_mobile",
			"label": "Mobile section height",
			"unit": "%",
			"min": 30,
			"max": 100,
			"step": 1,
			"default": 100
		},
		{
			"type": "checkbox",
			"id": "subtract_header_height",
			"label": "Subtract header height",
			"default": false
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 0
		},
		{
			"type": "header",
			"content": "Slideshow settings"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show arrows",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_pagination",
			"label": "Show pagination",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_progress_bar",
			"label": "Show progress bar",
			"info": "Works only with enabled autoplay",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "enable_loop",
			"label": "Enable loop",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "enable_autoplay",
			"label": "Enable autoplay",
			"default": false
		},
		{
			"type": "range",
			"id": "autoplay_speed",
			"label": "Autoplay speed",
			"unit": "s",
			"min": 3,
			"max": 15,
			"step": 1,
			"info": "Works only with enabled autoplay",
			"default": 5
		},
		{
			"type": "range",
			"id": "animation_speed",
			"label": "Animation speed",
			"unit": "s",
			"min": 0.1,
			"max": 3,
			"step": 0.1,
			"default": 0.5
		},
		{
			"type": "select",
			"id": "animation_type",
			"label": "Animation type",
			"options": [
				{
					"value": "fade",
					"label": "Fade"
				},
				{
					"value": "slide",
					"label": "Slide"
				},
				{
					"value": "flip",
					"label": "Flip"
				},
				{
					"value": "creative",
					"label": "Creative"
				},
				{
					"value": "parallax",
					"label": "Parallax"
				}
			],
			"default": "creative"
		},
		{
			"type": "checkbox",
			"id": "enable_lazy_load",
			"label": "Enable lazy load",
			"default": true
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "progress_bar_color",
			"label": "Progress bar",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "arrows_color",
			"label": "Arrows",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "pagination_color",
			"label": "Pagination",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "play_color",
			"label": "Play button",
			"default": "#2C2A28"
		},
		{
			"type": "color",
			"id": "play_background_color",
			"label": "Play button background",
			"default": "#f9f9f9"
		},
		{
			"type": "color",
			"id": "play_hover_color",
			"label": "Play button (hover)",
			"default": "#f9f9f9"
		},
		{
			"type": "color",
			"id": "play_background_hover_color",
			"label": "Play button background (hover)",
			"default": "#2C2A28"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Image (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image (mobile)",
					"info": "If the mobile image is blank, the desktop image will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Text",
					"default": "<p>Text that describe content of slide</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "button_aria_label",
					"label": "Button aria-label",
					"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-slideshow)"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "open_in_new_tab",
					"label": "Open link in a new tab",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "make_link_full_slide",
					"label": "Make link clickable on the entire slide",
					"default": false
				},
				{
					"type": "text",
					"id": "second_button_text",
					"label": "Second button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "second_button_aria_label",
					"label": "Second button aria-label"
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "second_open_in_new_tab",
					"label": "Open second link in a new tab",
					"default": false
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "text_alignment_inside_block",
					"label": "Text alignment inside block",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					]
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment",
					"default": "slideshow__slide-content--left",
					"options": [
						{
							"value": "slideshow__slide-content--left",
							"label": "Left"
						},
						{
							"value": "slideshow__slide-content--center",
							"label": "Center"
						},
						{
							"value": "slideshow__slide-content--right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "paragraph",
					"content": "Some colors will be ignored for alternate designs (Theme settings  Theme Design)"
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background",
					"default": "#757575"
				},
				{
					"type": "color_background",
					"id": "background_content",
					"label": "Text content"
				},
				{
					"type": "color",
					"id": "label_color",
					"label": "Label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Heading",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "description_color",
					"label": "Text",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_text_color",
					"label": "Button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_background_color",
					"label": "Button background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_border_color",
					"label": "Button border",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_text_color_hover",
					"label": "Button label (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_background_color_hover",
					"label": "Button background (hover)",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_border_color_hover",
					"label": "Button border (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_text_color",
					"label": "Second button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "second_button_background_color",
					"label": "Second button background",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color",
					"label": "Second button border",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_text_color_hover",
					"label": "Second button label (Hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_background_color_hover",
					"label": "Second button background (Hover)",
					"default": "#FFFFFF",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color_hover",
					"label": "Second button border (Hover)",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color_background",
					"id": "overlay_color",
					"label": "Overlay",
					"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
				}
			]
		},
		{
			"type": "html_video",
			"name": "HTML video",
			"settings": [
				{
					"type": "video",
					"id": "video_desktop",
					"label": "Video (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "video_mobile",
					"label": "Video (mobile)",
					"info": "If the mobile video is blank, the desktop video will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "image_picker",
					"id": "poster_desktop",
					"label": "Preview image (desktop)",
					"info": "Set preview image for a video if it is played by a button. 3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "poster_mobile",
					"label": "Preview image (mobile)",
					"info": "Set preview image for a video if it is played by a button. 1534 x 1534px recommended"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Text",
					"default": "<p>Text that describe content of slide</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "button_aria_label",
					"label": "Button aria-label",
					"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-slideshow)"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "open_in_new_tab",
					"label": "Open link in a new tab",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "make_link_full_slide",
					"label": "Make link clickable on the entire slide",
					"default": false
				},
				{
					"type": "text",
					"id": "second_button_text",
					"label": "Second button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "second_button_aria_label",
					"label": "Second button aria-label"
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "second_open_in_new_tab",
					"label": "Open second link in a new tab",
					"default": false
				},
				{
					"type": "header",
					"content": "Video Settings"
				},
				{
					"type": "select",
					"id": "autoplay",
					"label": "Play type",
					"options": [
						{
							"value": "autoplay",
							"label": "Autoplay"
						},
						{
							"value": "button",
							"label": "Play by  button"
						},
						{
							"value": "autoplay_with_button",
							"label": "Autoplay with  button"
						}
					]
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "text_alignment_inside_block",
					"label": "Text alignment inside block",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					]
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment",
					"default": "slideshow__slide-content--left",
					"options": [
						{
							"value": "slideshow__slide-content--left",
							"label": "Left"
						},
						{
							"value": "slideshow__slide-content--center",
							"label": "Center"
						},
						{
							"value": "slideshow__slide-content--right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background",
					"default": "#757575"
				},
				{
					"type": "color_background",
					"id": "background_content",
					"label": "Text content"
				},
				{
					"type": "color",
					"id": "label_color",
					"label": "Label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Heading",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "description_color",
					"label": "Text",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_text_color",
					"label": "Button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_background_color",
					"label": "Button background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_border_color",
					"label": "Button border",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_text_color_hover",
					"label": "Button label (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_background_color_hover",
					"label": "Button background (hover)",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_border_color_hover",
					"label": "Button border (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_text_color",
					"label": "Second button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "second_button_background_color",
					"label": "Second button background",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color",
					"label": "Second button border",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_text_color_hover",
					"label": "Second button label (Hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_background_color_hover",
					"label": "Second button background (Hover)",
					"default": "#FFFFFF",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color_hover",
					"label": "Second button border (Hover)",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color_background",
					"id": "overlay_color",
					"label": "Overlay",
					"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
				}
			]
		},
		{
			"type": "external_video",
			"name": "Vimeo/YouTube video",
			"settings": [
				{
					"type": "video_url",
					"id": "video_url_desktop",
					"label": "Video url (desktop)",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "video_url",
					"id": "video_url_mobile",
					"label": "Video url (mobile)",
					"accept": [
						"youtube",
						"vimeo"
					],
					"info": "If the mobile video is blank, the desktop video will be used as the default"
				},
				{
					"type": "image_picker",
					"id": "poster_desktop",
					"label": "Preview image (desktop)",
					"info": "Set preview image for a video if it is played by a button. 3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "poster_mobile",
					"label": "Preview image (mobile)",
					"info": "Set preview image for a video if it is played by a button. 1534 x 1534px recommended"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Text",
					"default": "<p>Text that describe content of slide</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "button_aria_label",
					"label": "Button aria-label",
					"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-slideshow)"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "open_in_new_tab",
					"label": "Open link in a new tab",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "make_link_full_slide",
					"label": "Make link clickable on the entire slide",
					"default": false
				},
				{
					"type": "text",
					"id": "second_button_text",
					"label": "Second button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "second_button_aria_label",
					"label": "Second button aria-label"
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "second_open_in_new_tab",
					"label": "Open second link in a new tab",
					"default": false
				},
				{
					"type": "header",
					"content": "Video Settings"
				},
				{
					"type": "select",
					"id": "autoplay",
					"label": "Play type",
					"options": [
						{
							"value": "autoplay",
							"label": "Autoplay"
						},
						{
							"value": "button",
							"label": "Play by  button"
						},
						{
							"value": "autoplay_with_button",
							"label": "Autoplay with  button"
						}
					]
				},
				{
					"type": "header",
					"content": "Alignment"
				},
				{
					"type": "select",
					"id": "text_alignment_inside_block",
					"label": "Text alignment inside block",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						},
						{
							"value": "justify",
							"label": "Justify"
						}
					]
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment",
					"options": [
						{
							"value": "slideshow__slide-content--left",
							"label": "Left"
						},
						{
							"value": "slideshow__slide-content--center",
							"label": "Center"
						},
						{
							"value": "slideshow__slide-content--right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background",
					"default": "#757575"
				},
				{
					"type": "color_background",
					"id": "background_content",
					"label": "Text content"
				},
				{
					"type": "color",
					"id": "label_color",
					"label": "Label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Heading",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "description_color",
					"label": "Text",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_text_color",
					"label": "Button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_background_color",
					"label": "Button background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_border_color",
					"label": "Button border",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_text_color_hover",
					"label": "Button label (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_background_color_hover",
					"label": "Button background (hover)",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_border_color_hover",
					"label": "Button border (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_text_color",
					"label": "Second button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "second_button_background_color",
					"label": "Second button background",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color",
					"label": "Second button border",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_text_color_hover",
					"label": "Second button label (Hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_background_color_hover",
					"label": "Second button background (Hover)",
					"default": "#FFFFFF",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color",
					"id": "second_button_border_color_hover",
					"label": "Second button border (Hover)",
					"default": "#000000",
					"info": "The setting is used for standard design."
				},
				{
					"type": "color_background",
					"id": "overlay_color",
					"label": "Overlay",
					"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
				}
			]
		},
		{
			"type": "three_col",
			"name": "Three columns",
			"settings": [
				{
					"type": "select",
					"id": "autoplay",
					"label": "Video play type",
					"options": [
						{
							"value": "autoplay",
							"label": "Autoplay"
						},
						{
							"value": "button",
							"label": "Play by  button"
						},
						{
							"value": "autoplay_with_button",
							"label": "Autoplay with  button"
						}
					]
				},
				{
					"type": "header",
					"content": "First column"
				},
				{
					"type": "select",
					"id": "media_type_col_1",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "image"
				},
				{
					"type": "image_picker",
					"id": "image_desktop_col_1",
					"label": "Image (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile_col_1",
					"label": "Image (mobile)",
					"info": "If the mobile image is blank, the desktop image will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video",
					"id": "video_desktop_col_1",
					"label": "Video (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "video_mobile_col_1",
					"label": "Video (mobile)",
					"info": "If the mobile video is blank, the desktop video will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"id": "video_url_desktop_col_1",
					"label": "Youtube/Vimeo url (desktop)",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "video_url",
					"id": "video_url_mobile_col_1",
					"label": "Youtube/Vimeo url (mobile)",
					"accept": [
						"youtube",
						"vimeo"
					],
					"info": "If the mobile video is blank, the desktop video will be used as the default"
				},
				{
					"type": "header",
					"content": "Second column"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Text",
					"default": "<p>Text that describe content of slide</p>",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "button_aria_label",
					"label": "Button aria-label",
					"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-slideshow)"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "open_in_new_tab",
					"label": "Open link in a new tab",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "make_link_full_slide",
					"label": "Make link clickable on the entire slide",
					"default": false
				},
				{
					"type": "text",
					"id": "second_button_text",
					"label": "Second button label",
					"default": "Button label",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "text",
					"id": "second_button_aria_label",
					"label": "Second button aria-label",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link",
					"default": "/",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "checkbox",
					"id": "second_open_in_new_tab",
					"label": "Open second link in a new tab",
					"default": false,
					"info": "The setting is used for alternative design."
				},
				{
					"type": "header",
					"content": "Third column"
				},
				{
					"type": "select",
					"id": "media_type_col_3",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "image"
				},
				{
					"type": "image_picker",
					"id": "image_desktop_col_3",
					"label": "Image (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile_col_3",
					"label": "Image (mobile)",
					"info": "If the mobile image is blank, the desktop image will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video",
					"id": "video_desktop_col_3",
					"label": "Video (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "video_mobile_col_3",
					"label": "Video (mobile)",
					"info": "If the mobile video is blank, the desktop video will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"id": "video_url_desktop_col_3",
					"label": "Youtube/Vimeo url (desktop)",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "video_url",
					"id": "video_url_mobile_col_3",
					"label": "Youtube/Vimeo url (mobile)",
					"accept": [
						"youtube",
						"vimeo"
					],
					"info": "If the mobile video is blank, the desktop video will be used as the default"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "label_color",
					"label": "Label",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Heading",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "description_color",
					"label": "Text",
					"default": "#000",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "color",
					"id": "button_text_color",
					"label": "Button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_background_color",
					"label": "Button background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_border_color",
					"label": "Button border",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_text_color_hover",
					"label": "Button label (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_background_color_hover",
					"label": "Button background (hover)",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_border_color_hover",
					"label": "Button border (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "second_button_text_color",
					"label": "Second button label",
					"default": "#000000",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "color",
					"id": "second_button_text_color_hover",
					"label": "Second button label (Hover)",
					"default": "#000000",
					"info": "The setting is used for alternative design."
				},
				{
					"type": "color_background",
					"id": "overlay_color",
					"label": "Overlay",
					"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
				}
			]
		},
		{
			"type": "two_col",
			"name": "Two columns",
			"settings": [
				{
					"type": "select",
					"id": "media_position",
					"label": "Media position",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Content column"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Label",
					"default": "Label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Text",
					"default": "<p>Text that describe content of slide</p>"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"default": "Button label"
				},
				{
					"type": "text",
					"id": "button_aria_label",
					"label": "Button aria-label",
					"info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-slideshow)"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				},
				{
					"type": "checkbox",
					"id": "open_in_new_tab",
					"label": "Open link in a new tab",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "make_link_full_slide",
					"label": "Make link clickable on the entire slide",
					"default": false
				},
				{
					"type": "header",
					"content": "Media column"
				},
				{
					"type": "select",
					"id": "media_type",
					"label": "Media type",
					"options": [
						{
							"value": "image",
							"label": "Image"
						},
						{
							"value": "html_video",
							"label": "HTML5 video"
						},
						{
							"value": "iframe_video",
							"label": "Youtube/Vimeo"
						}
					],
					"default": "image"
				},
				{
					"type": "select",
					"id": "autoplay",
					"label": "Video play type",
					"default": "autoplay",
					"options": [
						{
							"value": "autoplay",
							"label": "Autoplay"
						},
						{
							"value": "button",
							"label": "Play by  button"
						},
						{
							"value": "autoplay_with_button",
							"label": "Autoplay with  button"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "image_desktop",
					"label": "Image (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image (mobile)",
					"info": "If the mobile image is blank, the desktop image will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video",
					"id": "video_desktop",
					"label": "Video (desktop)",
					"info": "3840 x 2160px recommended"
				},
				{
					"type": "video",
					"id": "video_mobile",
					"label": "Video (mobile)",
					"info": "If the mobile video is blank, the desktop video will be used as the default. 1534 x 1534px recommended"
				},
				{
					"type": "video_url",
					"id": "video_url_desktop",
					"label": "Youtube/Vimeo url (desktop)",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "video_url",
					"id": "video_url_mobile",
					"label": "Youtube/Vimeo url (mobile)",
					"accept": [
						"youtube",
						"vimeo"
					],
					"info": "If the mobile video is blank, the desktop video will be used as the default"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "label_color",
					"label": "Label",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Heading",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "description_color",
					"label": "Text",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "button_text_color",
					"label": "Button label",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_background_color",
					"label": "Button background",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_border_color",
					"label": "Button border",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_text_color_hover",
					"label": "Button label (hover)",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "button_background_color_hover",
					"label": "Button background (hover)",
					"default": "#FFFFFF"
				},
				{
					"type": "color",
					"id": "button_border_color_hover",
					"label": "Button border (hover)",
					"default": "#000000"
				},
				{
					"type": "color_background",
					"id": "overlay_color",
					"label": "Overlay",
					"default": "linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%)"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Slideshow",
			"settings": {},
			"blocks": [
				{
					"type": "image",
					"settings": {
						"label": "Label",
						"heading": "Heading",
						"description": "<p>Text that describe content of slide 1</p>",
						"button_text": "Button label",
						"button_aria_label": "Home page",
						"button_link": "/",
						"text_alignment_inside_block": "left",
						"content_alignment": "slideshow__slide-content--left",
						"overlay_color": "linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%)"
					}
				},
				{
					"type": "image",
					"settings": {
						"label": "Label",
						"heading": "Heading",
						"description": "<p>Text that describe content of slide 2</p>",
						"button_text": "Button label",
						"button_aria_label": "Home page",
						"button_link": "/",
						"text_alignment_inside_block": "left",
						"content_alignment": "slideshow__slide-content--left",
						"overlay_color": "linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%)"
					}
				},
				{
					"type": "image",
					"settings": {
						"label": "Label",
						"heading": "Heading",
						"description": "<p>Text that describe content of slide 2</p>",
						"button_text": "Button label",
						"button_aria_label": "Home page",
						"button_link": "/",
						"text_alignment_inside_block": "left",
						"content_alignment": "slideshow__slide-content--left",
						"overlay_color": "linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%)"
					}
				}
			]
		}
	]
}
{%- endschema -%}
