{% layout none %}

{% assign design = settings.design %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
	<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_button }}">
	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

	{%- if settings.favicon != blank -%}
		<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
	{%- endif -%}

	{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

	<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

	<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

	{{ content_for_header }}

	{%- render 'custom-variables.css' -%}

	{{- 'main.build.css' | asset_url | stylesheet_tag -}}

	{% if design != "alternate" %}
		{{- 'gift-card.build.css' | asset_url | stylesheet_tag -}}
	{% endif %}
</head>
<body class="design-{{- settings.design }} {% if settings.enable_sepia %} sepia-background{% endif %}">
	{% section 'gift-card-template' %}
</body>
</html>


